{% extends 'plantilla-prof.html' %}
{% block title %} Agregar Nota Estudiante {% endblock %}

{%  block content %}

<div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Agregar Notas <small> Estudiante {{ estudiante.first_name }} {{ estudiante.last_name }}</small>
                            <a id="regresar" href="javascript:history.back()" class="btn btn-primary pull-right"><i class="fa fa-arrow-left" aria-hidden="true"></i> <b>Back</b></a>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                            <a href="#"><i class="fa fa-fw fa-table"></i> Nota </a> 
                            </li>
                            <li class="active">
                                 Agregar Nota Estudiante 
                            </li>
                        </ol>
                    </div>
                </div>


                <div class="row">
                    

                    <p><b>Estudiante:</b> {{ estudiante.first_name }} {{ estudiante.last_name }}</p>

                    <form id="add_nota" action="#" method="post">
                    {% csrf_token %}
                      <div class="form-group">
                        <div class="col-md-7 col-lg-7">
                          <div class="col-md-2 col-lg-2">
                            <strong style="font-size: 18px;"> <p>Nota</p> </strong>
                          </div>
                            <div class="col-md-5 col-lg-5"><input class="form-control" type="text" id="nota" name="nota" >
                          </div> 
                          <div class="col-lg-12 col-md-12"></div>
                          <div class="col-md-2 col-lg-2">
                            <strong style="font-size: 17px;"> <p>Detalle</p> </strong>
                          </div>
                            <div class="col-md-5 col-lg-5"><input class="form-control" type="text" id="detalle" name="detalle" >
                          </div> 
                          <div class="col-lg-12 col-md-12"></div>
                          <div class="col-md-2 col-lg-2">
                            <strong style="font-size: 17px;"> <p>Actividad</p> </strong>
                          </div>

                          <div class="col-md-5 col-lg-5">
                            <select class="form-control" id="actividad" name="actividad">
                              <option value="" >Seleccionar</option>
                              {% for row in actividad %}
                               <option id='actividad' value="{{ row.id }}">{{ row.nombre }}</option>
                              {% endfor %}
                            </select>
                          </div> 

                          <div class="col-lg-12 col-md-12"></div>
                           <br/>
                           <br/><br/>
                           <br/><br/>
                           <br/><br/>
                           <div class="col-lg-7 col-md-7 text-right">
                             <input onclick="add_n({{estudiante.id}})" class="btn btn-primary" type="submit" value="Guardar" />
                             <a class="btn btn-default" href="{% url 'agregar-curso' %}">Cancelar</a>                              
                           </div>
                          
                        </div>
                      </div>
                     
                    </form>

                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

{% endblock %}

{% block javascript %}
<script type="text/javascript">
function add_n(student){
  // debugger
  var pk = student;
  var nota = ::nota::;
  var detalle = ::detalle::;
  var actividad = ::actividad::;
  console.log(pk);
  $('#add_nota').submit(function() {
    $.ajax({
            url: '/note/add/'+pk+'/student',
            data: { "csrfmiddlewaretoken": "{{ csrf_token }}", "nota": nota, "detalle":detalle, "actividad":actividad, "estudiante" : pk },
            type: $(this).attr('method'),
            success: function() {
              alert("guardo nota")

          }
    })
    return false;
 })
};
</script>
{% endblock %}