{% extends 'plantilla-prof.html' %}
{% block title %} Registro Estudiantes {% endblock %}

{%  block content %}

  <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Eliminar <small> Estudiante</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-fw fa-trash"> </i> Eliminar Estudiante
                            </li>
                        </ol>
                    </div>
                </div>

            <div class="col-sm-12 col-md-12">
             <div class="col-sm-3 col-md-3 pull-left">
            <form class="navbar-form" action="{% url 'buscar_estudiante1' %}" method="get" >
                <label>Buscar Estudiante: </label>
                <br />
                <div class="input-group">

                    <input type="text" class="form-control" name="identificacion" value="{{ filtro }}">
                    <div class="input-group-btn">
                        <button class="btn btn-default" name="buscar" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>

                </div>
            </form>
        </div>

       </div>

    <div class="row">

    <div class="container initial">

    {% if error %}
    <div class="alert alert-danger"> {{ error }} </div>

    {% endif %}
    <form method="post" id="tabla_estudiante">
      {% csrf_token %}
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-12"></div>

          <div class="col-md-12">
{{estudiante.id.id}}
            <div class="col-ms-12 form-group">
              <div class ="col-md-1">
                <label for="exampleInputnomre"><h4>Nombres:</h4></label>
              </div>
              <div class ="col-md-5">
                <label type= "text" name="nombre" class="form-control" id="name">{{ estudiante.id.first_name }}</label>
              </div>
              <div class ="col-md-1">
                <label for="exampleInputnomre"><h4>Apellidos:</h4></label>
              </div>
              <div class ="col-md-5">
                 <label type = "text" name="apellidos" class="form-control" id="apellido">{{ estudiante.id.last_name }}</label>
              </div>
            </div>

            <div class="col-md-12"></div>

            <div class="col-ms-12 form-group">
              <div class ="col-md-3">
                <label for="exampleInputnomre"><h4>Documento Identidad:</h4></label>
              </div>
              <div class ="col-md-3">
                  <label type = "text" name="documento" class="form-control" id="document">{{ estudiante.documento }}</label>
              </div>
              <div class ="col-md-2">
                <label for="exampleInputnomre"><h4>Username:</h4></label>
              </div>
              <div class ="col-md-4">
                <label type = "text" name="username" class="form-control" id="user">{{ estudiante.id.username }}</label>
              </div>
            </div>

            <div class="col-md-12"></div>

          </div>
        </div>
      </div>
          <div class="col-md-5">
            <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#basicModal" data-tooltip><i class="fa fa-fw fa-trash"></i>Eliminar</a>
          </div>
    </form>
    
  </div>

    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Basic Modal</h4>
          </div>
          <div class="modal-body">
            <h3>estas apunto de eliminar {{ estudiante.id.first_name }}</h3> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button onclick="deletes( {{estudiante.id.id}} )" type="button" class="btn btn-primary">Eliminar</button> 
          </div>

        </div>
      </div>
    </div>

                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

{% endblock %}

{% block javascript %}
<script type="text/javascript">
function deletes(alumno){
  // debugger
  var pk = alumno;
  console.log(pk);
  
    $.ajax({
            url: 'eliminar-estudiante/'+pk+'/remove',
            data: { "csrfmiddlewaretoken": "{{ csrf_token }}", "id" : pk },
            type: 'POST',

            success: function() {
              $('#name').empty();
              $('#apellido').empty();
              $('#document').empty();
              $('#user').empty();
              $("#MyModal").modal('hide');
              location.reload();

          }

 })
};
</script>
{% endblock %}