{% extends 'plantilla-prof.html' %}
{% block title %} Grupos {% endblock %}

{%  block content %}

<div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Grupos <small> Lista</small>
                            <a id="regresar" href="javascript:history.back()" class="btn btn-primary pull-right"><i class="fa fa-arrow-left" aria-hidden="true"></i> <b>Back</b></a>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-fw fa-table"> </i> Grupos
                            </li>
                        </ol>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <a href="{% url 'agregar-grupos'  %}" class="btn btn-success">Agregar Nuevo Grupo</a>
                    </div>
                    <br><br><br>

                    {% for row in grupos %}
                    <div class="col-lg-3 col-md-5">
                        <div class="col-lg-12 col-md-12 panel text-right" style="margin-bottom: 15px;border-color: #337ab7;border-bottom: none;background-color: #f5f5f5;padding-top: 5px;padding-bottom: 5px;">
                            <a href="{% url 'eliminar-grupos' pk=row.pk %}" style="color: #337ab7;"> <i class="fa fa-times-circle" aria-hidden="true" style="font-size: 20px;"></i> </a>    
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-users fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">Grupo {{ row.nombre }}</div>
                                        <div><a href="{% url 'editar-grupos' pk=row.pk %} " style="color: #fff;">Editar</a></div>
                                    </div>
                                </div>
                            </div>
                            <a href="{% url 'grupos-estudiantes' pk=row.pk %}">
                                <div class="panel-footer">
                                    <span class="pull-left">Ver</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}

                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

{% endblock %}