{% extends 'plantilla-prof.html' %}
{% load staticfiles %}
{% block title %} Notas {% endblock %}

{%  block content %}

<div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Notas Estudiante <small> {{ estudiante.first_name }} {{ estudiante.last_name }}</small>
                            <a id="regresar" href="javascript:history.back()" class="btn btn-primary pull-right"><i class="fa fa-arrow-left" aria-hidden="true"></i> <b>Back</b></a>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-fw fa-table"> </i> Grupos
                            </li>
                            <li>
                                Grupo ...
                            </li>
                            <li class="active">
                                Notas 
                            </li>
                        </ol>
                    </div>
                </div>


                <div class="row">
                    
                    <div class="col-lg-12 col-md-12">
                        <a href="{% url 'agregar-notas' pk=estudiante.pk %}" class="btn btn-primary">Agregar Nueva Nota </a>
                    </div>
                    <br><br>
                    <div class="panel">
                        <div class="panel-body">
                        <div class="">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                              <th>Nota</th>
                              <th>Detalle</th>
                              <th>Actividad</th>
                              <th>Funciones</th>
                            </tr>  
                            </thead>    
                              {% for row in notas %}
                              <tbody>
                                <tr>
                                <td>{{ row.nota }}</td>
                                <td>{{ row.detalle }}</td>
                                <td>{{ row.actividad.nombre }}</td>
                                <td>
                                    <a class="btn btn-primary" href="{% url 'editar-notas' pk=row.pk %}">Editar</a> 
                                    <a class="btn btn-danger" href="{% url 'eliminar-notas' pk=row.pk %}">Borrar</a>
                                </td> 
                                </tr>
                              </tbody>
                              {% endfor %}
                        </table>
                        </div>
                        </div>        
                    </div>

                    
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

{% endblock %}

