{% extends 'plantilla-prof.html' %}
{% load staticfiles %}
{% block title %} Registro Estudiantes {% endblock %}

{%  block content %}

  <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Registro <small> Nuevo Estudiante</small>
                            <a id="regresar" href="javascript:history.back()" class="btn btn-primary pull-right"><i class="fa fa-arrow-left" aria-hidden="true"></i> <b>Back</b></a>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-fw fa-edit"> </i> Registro Estudiantes
                            </li>
                        </ol>
                    </div>
                </div>

            <div class="col-sm-12 col-md-12">
             <div class="col-sm-3 col-md-3 pull-left">
            <form class="navbar-form" action="{% url 'buscar_estudiante' %}" method="get" >
                <label>Buscar Estudiante: </label>
                <br />
                <div class="input-group">

                    <input type="text" class="form-control" name="identificacion" value="{{ filtro }}">
                    <div class="input-group-btn">
                        <button class="btn btn-default" name="buscar" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>

                </div>
            </form>
        </div>

       </div>
  <br><br><br><br><br>
  <div class="row">
    <div class="container initial">
      <div id="errors" class="alert alert-danger" style="display: none"></div>

      {% if error %}
        <div class="alert alert-danger"> {{ error }} </div>
      {% endif %}

    <form method="post" action="{% url 'registro-estudiante' %}" name="formularioregistro" onsubmit="return validar()">
      {% csrf_token %}
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-12"></div>

          <div class="col-md-12">

            <div class="col-ms-12 form-group">
              <div class ="col-md-1">
                <label for="exampleInputnomre"><h4>Nombres:</h4></label>
              </div>
              <div class ="col-md-5">
                <input type= "text" id="nombre" name="nombre" class="form-control" value= "{{ estudiante.id.first_name }}" id="exampleInputnombre" placeholder="nombre">
              </div>
              <div class ="col-md-1">
                <label for="exampleInputnomre"><h4>Apellidos:</h4></label>
              </div>
              <div class ="col-md-5">
                 <input type = "text" name="apellidos" class="form-control" value="{{ estudiante.id.last_name }}" placeholder="apellidos">
              </div>
            </div>

            <div class="col-md-12"></div>

            <div class="col-ms-12 form-group">
              <div class ="col-md-1">
                <label for="exampleInputnomre"><h4>Correo:</h4></label>
              </div>
              <div class ="col-md-5">
                <input type = "text" id="email" name="email" class="form-control" value="{{ estudiante.id.email }}" placeholder="Correo">
              </div>
              <div class ="col-md-3">
                <label for="exampleInputnomre"><h4>Documento Identidad:</h4></label>
              </div>
              <div class ="col-md-3">
                  <input type = "text" id="documento" name="documento" class="form-control" value="{{ estudiante.documento }}" placeholder="Documento">
              </div>
            </div>

            <div class="col-md-12"></div>

            <div class="col-ms-12 form-group">
              <div class ="col-md-2">
                <label for="exampleInputnomre"><h4>Username:</h4></label>
              </div>
              <div class ="col-md-4">
                <input type = "text" name="username" class="form-control" value="{{ estudiante.id.username }}" placeholder="Username">
              </div>
              <div class ="col-md-1">
                <label  for="exampleInputnomre"><h4>Género:</h4></label>
              </div>
              <div class ="col-md-5">
                  <label class="checkbox-inline">
                      <input type="radio" id="genero" name='sexo' value="M"> Masculino
                  </label>
                  <label class="checkbox-inline">
                      <input type="radio" id="genero" name='sexo' value="F"> Femenino
                  </label>
              </div>
            </div>

            <div class="col-md-12"></div>

            <div class="col-ms-12 form-group">
              <div class ="col-md-2">
                <label for="exampleInputnomre"><h4>Curso:</h4></label>
              </div>
              <div class ="col-md-4">
                <div class="form-group">
                
                  <select class="form-control" id="id_curso" name='curso' >
                    <option value="0" >Seleccionar</option>
                    {% for row in user.profesor.curso_set.all %}
                      <option value="{{ row.id }}">{{ row.nombre }}</option>
                    {% endfor %}
                  </select>
                
                </div>
              </div>
              <div class ="col-md-1">
                <label for="exampleInputnomre"><h4>Grupo:</h4></label>
              </div>
              <div class ="col-md-5">
                  <div class="form-group">
                      <select class="form-control" id="id_grupo" name='grupo'>
                        <option value="0" >Seleccionar</option>
                        {% for row in grupos %}
                         <option value="{{ row.id }}">{{ row.nombre }}</option>
                        {% endfor %}
                      </select>
                    
                  </div>
              </div>
            </div>

            <div class="col-md-12"></div>

            <div class="col-ms-12 form-group">
              <div class ="col-md-2">
                <label for="exampleInputnomre"><h4>Contraseña:</h4></label>
              </div>
              <div class ="col-md-4">
                <input type="password"  name = "password1" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class ="col-md-3">
                <label for="exampleInputnomre"><h4>Confirmar Contraseña:</h4></label>
              </div>
              <div class ="col-md-3">
                <input type="password" name='password2' class="form-control" id="exampleInputPassword2" placeholder="Password">
              </div>
            </div>

            <div class="col-md-12"></div>

             <div class="col-md-9" style="text-align:right">
                <a href="{% url 'registro-estudiante' %}">Recargar la página</a>
            </div>

            <div class="col-md-3">
                <p><button type="submit" class="btn btn-primary btn-lg pull-right">Registrar Estudiante</button> </p>
            </div>

          </div>
        </div>
      </div>
    </form>
    {{ paso }}


  </div>

                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

{% endblock %}

{% block scripts %}
{% endblock %}