{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Home Student {% endblock %}

{%  block content %}

    <div class="container initial" style="margin-bottom: 315px;">
    <ol class="breadcrumb">
  <li class="active"><a href="{% url 'inicio-estudiante' %}">Home</a></li>
        <li> {{ usuario.id.first_name }} {{ usuario.id.last_name }} </li>
        
</ol>
      <!-- Main component for a primary marketing message or call to action -->
          <div class="col-md-8 col-lg-8">
        <div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title">Welcome</h3></div>
  <div class="panel-body">
    <p>Welcome to <strong>Easy English </strong>, in this page you will find contents and activities of the book <strong>English Please!</strong></p>
      <p></p>
  </div>
</div>
 
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Activity</h3>
          </div>
          <div class="panel-body">
              <p>In This Page You Find:</p>
            <ul>
              <li>Listening Module One</li>
              <li>Read Activities</li>
              <li>Glosary</li>
              <li>And More!</li>
            </ul>
          </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-4">
        <form class="navbar-form" action="{% url 'inicio-estudiante' %}" method="post" >
          <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4> <i class="fa fa-user-circle-o fa-fw" style="font-size: 25px;"></i> Personal Information</h4>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-chevron-circle-right fa-fw"></i> Name
                                    <span class="pull-right text-muted small">{{ usuario.id.first_name }}
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-chevron-circle-right fa-fw"></i> Last Name
                                    <span class="pull-right text-muted small">{{ usuario.id.last_name }}
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-chevron-circle-right fa-fw"></i> Email
                                    <span class="pull-right text-muted small">{{ usuario.id.email }}
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-chevron-circle-right fa-fw"></i> Document
                                    <span class="pull-right text-muted small">{{ usuario.documento }}
                                    </span>
                                </a>
                               
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-chevron-circle-right fa-fw"></i> Username
                                    <span class="pull-right text-muted small">{{ usuario.id.username }}
                                    </span>
                                </a>
                            </div>
                            <!-- /.list-group -->
                            <a href="{% url 'perfil-estudiante' %}" class="btn btn-default btn-block">See More</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
            </form>
          </div>

    </div> <!-- /container initial-->    
</div> </div>  </div> </div> 
{% endblock %}