{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Configuracion {% endblock %}

{%  block content %}

    <div class="container initial">
    <ol class="breadcrumb">
  <li class="active"><a href="{% url 'inicio-estudiante' %}">Configuración</a></li>
        <li> {{ usuario.first_name }} {{ usuario.last_name }} </li>
</ol>
      <!-- Main component for a primary marketing message or call to action -->
      <div id="wh">

          <form class="navbar-form" action="{% url 'perfil-estudiante' %}" method="post" >   </form>

                <div class="container initial">

        {% if error %}
        <div class="alert alert-danger"> {{ error }} </div>

        {% endif %}
        <form method="post" action="{% url 'modificar-perfil-est' %}">
          {% csrf_token %}
          <div class="container-fluid">
            <div class="row">

            <div class="col-md-11">
            <label>Contraseña </label><input  type="password" class="form-control" name="password1"  placeholder="Password" >
            <label>Confirmar Contraseña </label><input  type="password" class="form-control" name="password2"  placeholder="Password" >
                <br />

                <div class="col-md-3">
                    <p><button type="submit" class="btn btn-primary btn-lg pull-right">Actualizar Contraseña</button> </p>
                </div>
            </div>

          </div>
        </div>
      </div>
    </form>
    {{ paso }}


      </div>

    </div> <!-- /container initial-->

    </div>
{% endblock %}