{% extends 'plantilla2.html' %}
{% block title %} Configuracion {% endblock %}

{%  block content %}

    <div class="container initial">
    <ol class="breadcrumb">
  <li class="active"><a href="{% url 'inicio-estudiante' %}">Configuración</a></li>
        <li> {{ usuario.first_name }} {{ usuario.last_name }} </li>
</ol>
      <!-- Main component for a primary marketing message or call to action -->
      <div id="wh">

          <form class="navbar-form" action="{% url 'perfil-estudiante' %}" method="post" >   </form>

                <div class="container initial">

        {% if error %}
        <div class="alert alert-danger"> {{ error }} </div>

        {% endif %}
        <form method="post" action="{% url 'modificar-perfil-est' %}">
          {% csrf_token %}
          <div class="container-fluid">
            <div class="row">

            <div class="col-md-11">
            <label>Username </label><label class="form-control"> {{ usuario.id.username }} </label>
            <label>Nombre </label><label class="form-control"> {{ usuario.id.first_name }} </label>
            <label>Apellido </label><label class="form-control"> {{ usuario.id.last_name }} </label>
            <label>Correo </label><input  type="email" class="form-control" name="email"  value="{{ usuario.id.email }}" >
            <label>Documento Identidad </label><input  type="documento" class="form-control" name="documento"  value="{{ usuario.documento }}" >
            <label>Teléfono </label><input  type="tel" class="form-control" name="tel"  value="{{ usuario.tel }}" >
            <label>Dirección de Residencia </label><input  type="direccion" class="form-control" name="direccion"  value="{{ usuario.direccion }}" >
            <label>Fecha de Nacimiento </label><input  type="date" class="form-control" name="nacimiento"  data-date-format="YYYY-MM-DD" value="{{ usuario.fecha_nacimiento }}" >
                <br />


                  <div class="col-md-9" style="text-align:right">
                     <a href="{% url 'modificar-contra-estudiante' %}"> Cambio de contraseña aquí </a>
                  </div>

                <div class="col-md-3">
                    <p><button type="submit" class="btn btn-primary btn-lg pull-right">Actualizar Datos</button> </p>
                </div>
            </div>

          </div>
        </div>
      </div>
    </form>
    {{ paso }}


      </div>

    </div> <!-- /container initial-->

    </div>
{% endblock %}