{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 4 - Unit 2 - Lesson 5 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo4' %}">Module 4</a></li>
        <li><a href="{% url 'modulo4-unidad2' %}">Unit 2</a></li>
        <li >Lesson 5</li>
        <li class="active">Theme 3</li> 
        
</ol>

    {% include 'plantilla-lessons-module4.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>LISTEN</h2>
      <h3></h3>
        <hr>

      <p>6. Listen to a Colombian teenager telling his older
sister what to do in a practice earthquake drill.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK96.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (96)
    </audio>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad2Lesson2Theme3img1.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

      <p>7. Complete the sentences about the earthquake drill with the correct words.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>a. Have a _________ .</li>
        <li>b. Don’t _________ in a doorway.</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>c. Sit under a desk or _________ .</li>
        <li>d. Protect your _________ .</li>
      </div>
    </div>

      <p>8. Write the contractions for these words. Listen to Ramón and Susana again if you need to.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>a. <u>You are</u> _________</li>
        <li>b. Rex <u>is not</u> _________</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>c. We <u>are not</u> _________</li>
      </div>
    </div>

    <p>9. Now use contractions to tell your partner about:</p>

    <div class="col-sm-12 col-md-12">
      <li>a. What you are doing right now.</li>
      <li>b. What your mum or dad are NOT doing right now.</li>
      <li>c. What your favourite football team are doing right now.</li>
    </div>

    <div class="col-sm-12 col-md-12">
      <h2>FOCUS ON LANGUAGE</h2>
      <h3></h3>
      <hr>
      <p>10. Read the sentences.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>She isn’t sleeping.</li>
        <li>We aren’t sleeping.</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>I’m not sitting.</li>
        <li>You aren’t practising.</li>
      </div>
    </div>

      <p>11. Choose the correct option.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>a. The sentences are all <b>affirmative/
negative.</b></li>
        <li>b. The word not (n’t) goes <b>before/after</b> the
main verb.</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>c. When speaking, people usually
<b>use/don’t</b> use contractions.</li>
      </div>
    </div>

    <p>12. Rewrite these sentences in the negative. Use contractions.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>a. The volcano is erupting.</li>
        <li>b. I am speaking to you.</li>
        <li>c. You’re chatting to your friends.</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>d. The cows are sleeping.</li>
        <li>e. My dog is sleeping under the table.</li>
        <li>f. They are noticing the important signs.</li>
      </div>
    </div>


    </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}