{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 4 - Unit 1 - Lesson 1 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo4' %}">Module 4</a></li>
        <li><a href="{% url 'modulo4-unidad1' %}">Unit 1</a></li>
        <li >Lesson 1</li>
        <li class="active">Theme 2</li> 
        
</ol>

    {% include 'plantilla-lessons-module4.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>READ</h2>
      <h3></h3>
        <hr>
        <p>4. Read the text and the sentences. Are they true (T) or false (F)? Correct the false sentences.</p>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad1Lesson1Theme2img1.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>glossary</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>native species = especies nativas
          </td>
        </tr>
      </tbody>
    </table>

      </div>

      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad1Lesson1Theme2img2.PNG' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-12">
      <li>a. Tayrona Ecopark is bigger than the Health Ecopark.</li>
      <li>b. People from Cali can enjoy fresher air by visiting the Health
Park.</li>
      <li>c. In the Health Park people can see wildlife in the sea.</li>
      <li>d. The Health Ecopark is more famous than Tayrona Ecopark.</li>
      <li>e. The Health Ecopark has both mountains and the sea.</li>
      <li>f. Tayrona Ecopark has places where you can stay the night.</li>
    </div>
    </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}