{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 4 - Unit 3 - Lesson 8 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo4' %}">Module 4</a></li>
        <li><a href="{% url 'modulo4-unidad3' %}">Unit 3</a></li>
        <li >Lesson 8</li>
        <li class="active">Theme 4</li> 
        
</ol>

    {% include 'plantilla-lessons-module4.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>SPEAK</h2>
      <h3></h3>
        <hr>
    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK104.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (104)
    </audio>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>11. Say it!</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>Listen and repeat.</b> <br>
          1995: nineteen ninety five <br>
2007: two thousand and seven <br>
1765: seventeen sixty five.
          </td>
        </tr>
      </tbody>
    </table>

    <p>12. Listen to the years and write them in order in your notebook.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK105.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (105)
    </audio>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-2 col-md-2">
        <li>1987</li>
      </div>

      <div class="col-sm-2 col-md-2">
        <li>1969</li>
      </div>
      <div class="col-sm-2 col-md-2">
        <li>2000</li>
      </div>
      <div class="col-sm-2 col-md-2">
        <li>1999</li>
      </div>

      <div class="col-sm-2 col-md-2">
        <li>2014</li>
      </div>

      <div class="col-sm-2 col-md-2">
        <li>1957</li>
      </div>

    </div>
    <p>13. in pairs, choose a year and talk about how things were in that year.
use the simple past and nouns and adjectives from the lesson.</p>

    <p>Example:
2010
In 2010, I was seven years old. The town was the same,
but there was less traffic and it was quieter.</p>

    <div class="col-sm-12 col-md-12">
      <h2>WRITE</h2>
      <h3></h3>
      <hr>
      <p>14. Choose a place that you know well and write about how it was
in the past, where your house was, and how it is now. use the
text on page 153 to help you. You can include information about:</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>a. parks</li>
        <li>b. house</li>
        <li>c. rural areas</li>
        <li>d. traffic</li>
        <li>e. your own ideas</li>
      </div>

      <div class="col-sm-6 col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>useful expressions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>When we describe past <br>
experiences, we can say: <br>
last year / last week <br>
… ago <br>
yesterday <br>
in 1997
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad3Lesson2Theme4img1.png' %}" class="img-responsive" alt="No found"/>
      </div>

    </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}