{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 4 - Unit 2 - Lesson 6 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo4' %}">Module 4</a></li>
        <li><a href="{% url 'modulo4-unidad2' %}">Unit 2</a></li>
        <li >Lesson 6</li>
        <li class="active">Theme 3</li> 
        
</ol>

    {% include 'plantilla-lessons-module4.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>READ</h2>
      <h3></h3>
        <hr>

      <p>6. Read the email and answer the questions.</p>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad2Lesson3Theme3img1.png' %}" class="img-responsive" alt="No found"/>
      </div>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>glossary</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>celebrate = celebrar <br>
environmental footprint =<br>
huella ambiental <br>
food producers = productores <br>
de alimentos
          </td>
        </tr>
      </tbody>
    </table>
      </div>

      <div class="col-sm-6 col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Useful language</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>When we ask for specific <br>
information, we ask Whquestions. <br>
Compare these <br>
questions:</b> <br>
What is he doing? He’s <br>
cooking dinner. <br>
Is he cooking dinner? <br>
Yes, he is. / No, he isn’t.
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>

    <div class="col-sm-12 col-md-12">
      <li>a. Who is Lewis writing to?</li>
      <li>b. How is the school trying to improve its environmental footprint?</li>
      <li>c. How many lunches does the school prepare every day?</li>
      <li>d. Where does the food usually come from?</li>
      <li>e. Why is the school writing these letters?</li>
      <li>f. Is the letter formal or informal? How do you know?</li>
    </div>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK98.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (98)
    </audio>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>7. Say it!</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>Listen and repeat. What is the <br>
difference in the intonation?</b> <br>
Are you cooking? What are you cooking?
          </td>
        </tr>
      </tbody>
    </table>

      <p>8. Listen to five questions and draw the correct arrow in your notebook for
rising ( ↗ ) and falling intonation ( ↘ ).</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK99.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (99)
    </audio>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-2 col-md-2">
        <li>a. ____</li>
      </div>

      <div class="col-sm-2 col-md-2">
        <li>b. ____</li>
      </div>

      <div class="col-sm-2 col-md-2">
        <li>c. ____</li>
      </div>

      <div class="col-sm-2 col-md-2">
        <li>d. ____</li>
      </div>

      <div class="col-sm-2 col-md-2">
        <li>e. ____</li>
      </div>
    </div>


      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}