{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 4 - Unit 1 - Lesson 2 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo4' %}">Module 4</a></li>
        <li><a href="{% url 'modulo4-unidad1' %}">Unit 1</a></li>
        <li >Lesson 2</li>
        <li class="active">Theme 2</li> 
        
</ol>

    {% include 'plantilla-lessons-module4.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>READ</h2>
      <h3></h3>
        <hr>
        <p>3. Look at the pictures. What can you see? What are the people doing? Why?</p>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad1Lesson2Theme2img1.png' %}" class="img-responsive" alt="No found"/>
      </div>

      <p>4. Read the text. How many ideas to save water are mentioned? Can you think of any more?</p>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad1Lesson2Theme2img2.png' %}" class="img-responsive" alt="No found"/>
      </div>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>glossary</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>waste = desperdiciar <br>
pollution = contaminación <br>
dirty = sucio/a <br>
reservoir = embalse <br>
turn off the tap = cerrar el grifo <br>
brush your teeth = cepillarse los dientes
          </td>
        </tr>
      </tbody>
    </table>
      </div>

      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad1Lesson2Theme2img3.png' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>
    </div>

    <p>5. Read the text again. Are the statements true (T) or false (F)?</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>a. There is more water now than before.</li>
        <li>b. Climate change affects rivers.</li>
        <li>c. Some children die because water is dirty.</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>d. A bath uses more water than a shower.</li>
        <li>e. Producing meat doesn’t use much water.</li>
      </div>
    </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}