{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 4 - Unit 2 - Lesson 5 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo4' %}">Module 4</a></li>
        <li><a href="{% url 'modulo4-unidad2' %}">Unit 2</a></li>
        <li >Lesson 5</li>
        <li class="active">Theme 1</li> 
        
</ol>

    {% include 'plantilla-lessons-module4.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON VOCABULARY</h2>
      <h3></h3>
        <hr>

      <p>1. Match pictures 1-6 to the natural disasters in the box.</p>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad2Lesson2Theme1img1.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad2Lesson2Theme1img2.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad2Lesson2Theme1img3.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

        <p>2. Speak to your partner. Do you know what to do in these natural disasters?
Which ones do you think are most frightening?</p>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}