{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 4 - Unit 2 - Lesson 6 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo4' %}">Module 4</a></li>
        <li><a href="{% url 'modulo4-unidad2' %}">Unit 2</a></li>
        <li >Lesson 6</li>
        <li class="active">Theme 2</li> 
        
</ol>

    {% include 'plantilla-lessons-module4.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>LISTEN</h2>
      <h3></h3>
        <hr>

      <p>3. Listen to the interview and choose the correct option A-C.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK97.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (97)
    </audio>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>1. What is Tom doing in the garden?</li>
        <li>A. He’s watching for a while.</li>
        <li>b. He’s planting some seeds.</li>
        <li>C. He’s outside in the garden.</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>4. What’s the boy at the computer doing?</li>
        <li>A. He’s sending emails to farms.</li>
        <li>b. He’s shopping.</li>
        <li>C. He’s buying a farm.</li>
      </div>
    </div>

        <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>2. What are Tom’s friends doing?</li>
        <li>A. They’re picking up litter.</li>
        <li>b. They’re eating food.</li>
        <li>C. They’re also planting seeds.</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>5. What are the girls in the kitchen
doing?</li>
        <li>A. They’re asking the chefs questions.</li>
        <li>b. They’re finding out what it’s like to
be a chef.</li>
        <li>C. They’re learning how to cook.</li>
      </div>
    </div>

        <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>3. What is Sally doing?</li>
        <li>A. She’s doing different things.</li>
        <li>b. She’s sorting the recycling.</li>
        <li>C. She’s painting the canteen green.</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>6. Which statement is true?</li>
        <li>A. Normally students don’t eat meat
on Wednesdays.</li>
        <li>b. Students don’t usually use paper on
Mondays.</li>
        <li>C. The school doesn’t use electricity
on Wednesdays.</li>
      </div>
    </div>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad2Lesson3Theme2img1.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

    <div class="col-sm-12 col-md-12">
      <h2>FOCUS ON LANGUAGE</h2>
      <h3></h3>
      <hr>
      <p>4. Look at the questions and answers in exercise 3, questions 1-5
and choose the correct options.</p>

    <div class="col-sm-12 col-md-12">
      <li>1. The present continuous (be +ing) describes <b>
what happens every day / what is happening now.</b></li>
      <li>2. To form a question the subject and the auxiliary verb
<b>stay the same / change position.</b></li>
      <li>3. It’s <b>common / not common</b> to contract the subject and auxiliary verb,
e.g. He is = He’s.</li>
      <li>4. Why is the present simple used in exercise 3, question 6?</li>
    </div>

    <p>5. Complete the sentences with the correct form of the present continuous.</p>

    <div class="col-sm-12 col-md-12">
      <li>a. My friends _________ (work) in the garden.</li>
      <li>b. Today we _________ (have) a paper-free day at school.</li>
      <li>c. _________ you _________ (eat) meat today?</li>
      <li>d. John _________ (pick up) litter in the playground.</li>
      <li>e. _________ she _________ (send) an email?</li>
    </div>

    </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}