{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 4 - Unit 3 - Lesson 7 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo4' %}">Module 4</a></li>
        <li><a href="{% url 'modulo4-unidad3' %}">Unit 3</a></li>
        <li >Lesson 7</li>
        <li class="active">Theme 4</li> 
        
</ol>

    {% include 'plantilla-lessons-module4.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON VOCABULARY</h2>
      <h3></h3>
        <hr>

      <p>9. Complete the sentences with the words in the box.</p>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad3Lesson1Theme4img1.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

    <div class="col-sm-12 col-md-12">
      <li>a. Solar and wind power are types of ____________ .</li>
      <li>b. ____________ will last longer and so help reduce rubbish.</li>
      <li>c. Computers, TVs and washing machines are all types of ____________ .</li>
      <li>d. In the future, we won’t be able to send any items of rubbish to ____________ .</li>
      <li>e. We should buy ____________ to avoid throwing them away.</li>
      <li>f. It’s essential that we ____________ items made of plastic, glass, paper and metal.</li>
      <li>g. When we burn fossil fuels we produce a lot of ____________ .</li>
      <li>h. ____________ are things we use once and then throw away.</li>
    </div>

    <div class="col-sm-12 col-md-12">
      <h2>SPEAK</h2>
      <h3></h3>
      <hr>
      <p>10. Look back at the predictions on page 148 and say which ones you think will come
true. Your partner should agree or disagree. Look at the box to help you.</p>

      <p>Example: <br>
By 2050, I think that people will definitely live longer. <br>
Do you? I’m not sure.</p>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>useful expressions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>To show disagreement:</b> <br>
          I’m not sure. / I don’t agree. / I disagree with you. / I don’t think so. <br>
To show agreement: <br>
I agree (with you). Yes. You’re right!
          </td>
        </tr>
      </tbody>
    </table>  

    </div>

    <div class="col-sm-12 col-md-12">
      <h2>WRITE</h2>
      <h3></h3>
      <hr>
      <p>11. Write about the predictions on page 148. Choose three predictions. Say what the
current situation is, explain the prediction and then give what your own opinion.
use words from exercise 9 to help you.</p>

      <p>Example: <br>
There will be less pollution. <br>
At the moment, the world has a problem with pollution. Some people predict that <br>
in the future, there will be less pollution as we begin to use r enewable energy. I <br>
agree with this prediction.</p>
    </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}