{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 4 - Unit 1 - Lesson 3 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo4' %}">Module 4</a></li>
        <li><a href="{% url 'modulo4-unidad1' %}">Unit 1</a></li>
        <li >Lesson 3</li>
        <li class="active">Theme 2</li> 
        
</ol>

    {% include 'plantilla-lessons-module4.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>LISTEN</h2>
      <h3></h3>
        <hr>
        <p>4. Listen to three people talking about their pets. Who has got an
unusual pet?</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK90.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (90)
    </audio>

      <p>5. Listen again and write Joe, Chloe or Andy for each sentence.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK90.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (90)
    </audio>

    <div class="col-sm-12 col-md-12">
      <li>a. This person’s parents help to look after the pet.</li>
      <li>b. The pet needs clean water every two days.</li>
      <li>c. This person doesn’t agree with the choice of pet.</li>
      <li>d. This pet is very young.</li>
      <li>e. This pet’s owner feeds him twice a day.</li>
      <li>f. This pet likes playing with people.</li>
    </div>

      <p>6. Complete the sentences about obligations. Then listen and check.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK91.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (91)
    </audio>

    <div class="col-sm-12 col-md-12">
      <li>a. I _____ take him for a walk before school.</li>
      <li>b. We _____ feed him twice a day.</li>
      <li>c. She _____ clean its cage every week.</li>
      <li>d. My cousin _____ be careful that he doesn’t escape.</li>
    </div>

    <p>7. Choose the correct options in the sentences.</p>

    <div class="col-sm-12 col-md-12">
      <li>a. At school we <b>have to / has to</b> arrive at our classes on time.</li>
      <li>b. At weekends, we <b>have to / has to</b> help my parents with the
housework.</li>
      <li>c. My sister <b>have to / has to</b> clean the kitchen.</li>
      <li>d. I <b>have to / has to</b> do the washing-up.</li>
      <li>e. It’s Sunday, but my dad <b>have to / has to</b> go to work today.</li>
    </div>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK92.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (92)
    </audio>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>8. Say it!</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>Where is the stress in these
sentences? Listen and repeat.</b> <br>
          <li>a. We have to study.</li>
          <li>b. I have to make my bed.</li>
          <li>c. Mary has to write a book.</li>
          <li>d. Dad has to work.</li>
          </td>
        </tr>
      </tbody>
    </table>

    <p>9. in pairs, discuss the questions.</p>

    <div class="col-sm-12 col-md-12">
      <li>a. What do you have to do at school?</li>
      <li>b. What do you have to do at home to help?</li>
    </div>

    <p>Example: <br>
We have to do our homework. <br>
Yes, and we have to bring a notebook to every lesson.</p>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}