{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 4 - Unit 3 - Lesson 8 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo4' %}">Module 4</a></li>
        <li><a href="{% url 'modulo4-unidad3' %}">Unit 3</a></li>
        <li >Lesson 8</li>
        <li class="active">Theme 1</li> 
        
</ol>

    {% include 'plantilla-lessons-module4.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON VOCABULARY</h2>
      <h3></h3>
        <hr>

      <p>1. Read the sentences and decide if they are true (T) or false (F) for
where you live.</p>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad3Lesson2Theme1img1.png' %}" class="img-responsive" alt="No found"/>
      </div>

    <div class="col-sm-12 col-md-12">
      <li>In the past …</li>
      <li>a. buildings were high, now they are low.</li>
      <li>b. houses and flats were large, now they are small.</li>
      <li>c. houses were expensive, now they are cheap.</li>
      <li>d. streets were busy, now they are quiet.</li>
      <li>e. buses were full, now they are empty./li>
      <li>g. More animals will become extinct.</li>
      <li>f. roads were wide, now they are narrow.</li>
      <li>g. trains were very slow, now they are fast.</li>
    </div>

    <p>2. Read the sentences in exercise 1 again and write adjectives a-g with
the opposites in your notebook.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>a. slow</li>
        <li>b. wide</li>
        <li>c. expensive</li>
        <li>d. empty</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>e. small</li>
        <li>f. quiet</li>
        <li>g. high</li>
      </div>
    </div>

    <p>3. Add two more pairs of adjectives to describe something else that is
different in your town from in the past.</p>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}