{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 4 - Unit 1 - Lesson 2 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo4' %}">Module 4</a></li>
        <li><a href="{% url 'modulo4-unidad1' %}">Unit 1</a></li>
        <li >Lesson 2</li>
        <li class="active">Theme 3</li> 
        
</ol>

    {% include 'plantilla-lessons-module4.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON LANGUAGE</h2>
      <h3></h3>
        <hr>
        <p>6 Look at the statements. Which of them are instructions to do something? Which of
them are instructions NoT to do something?</p>

    <div class="col-sm-12 col-md-12">
      <li>a. I do the dishes every day.</li>
      <li>b. Don’t use fresh water to water your lawn.</li>
      <li>c. Turn the tap off when you are brushing your teeth.</li>
      <li>d. I don’t have a twenty-minute shower every day.</li>
      <li>e. Eat less meat.</li>
      <li>f. Don’t have a bath.</li>
      <li>g. Have a shower.</li>
      <li>h. Save water at all times.</li>
    </div>

      <p>7. Choose the correct word to complete the sentences.</p>

    <div class="col-sm-12 col-md-12">
      <li>a. To tell someone to do something we use the infinitive of the verb <b>with / without</b> to.</li>
      <li>b. To tell someone not to do something we use <b>Do / Don’t</b> before the infinitive without <b>to.</b></li>
    </div>

    <p>8. In your notebook, write the words in the correct order.</p>

    <div class="col-sm-12 col-md-12">
      <li>a. do / washing-up / after / the / dinner / please</li>
      <li>b. long / shower / don’t / a / have</li>
      <li>c. use / phone / in / don’t / class / mobile / your</li>
      <li>d. school / call / after / me</li>
      <li>e. late / to / go / don’t / bed / tonight</li>
    </div>

    <div class="col-sm-12 col-md-12">
      <h2>LISTEN</h2>
      <h3></h3>
      <hr>
      <p>9. Listen to Tania. What good habits does
she have about using water?</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK89.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (89)
    </audio>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad1Lesson2Theme3img1.png' %}" class="img-responsive" alt="No found"/>
      </div>

    <p>10. Listen again. How often does Tania and
her family use water? Copy the table and
write the activities in the correct column.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK89.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (89)
    </audio>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad1Lesson2Theme3img2.png' %}" class="img-responsive" alt="No found"/>
      </div>

    </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}