{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 4 - Unit 2 - Lesson 6 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo4' %}">Module 4</a></li>
        <li><a href="{% url 'modulo4-unidad2' %}">Unit 2</a></li>
        <li >Lesson 6</li>
        <li class="active">Theme 4</li> 
        
</ol>

    {% include 'plantilla-lessons-module4.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>SPEAK / WRITE</h2>
      <h3></h3>
        <hr>

      <p>9. it’s the end of Earth Day and the students are having some time off.</p>

      <p>Look at the pictures and ask and answer as many questions as you can to find the differences. use the verbs in the box.</p>

        <p>Example: <br>
Student A: Are Sally and Diane playing the guitar in your picture? <br>
Student B: No, they aren’t. They’re playing the drums..</p>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad2Lesson3Theme4img1.png' %}" class="img-responsive" alt="No found"/>
      </div>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad2Lesson3Theme4img2.png' %}" class="img-responsive" alt="No found"/>
      </div>

      <p>10. Write a formal letter to a person or company asking them to collaborate with you
to help to improve the environment. use the letter in exercise 6 to help you.
Remember to include:</p>


    <div class="col-sm-12 col-md-12">
      <li>What you are doing now</li>
      <li>What changes you would like to make</li>
      <li>What you are asking the person or company to do</li>
    </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}