{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 4 {% endblock %}

{%  block content %}
    
    <div class="container initial">
    <ol class="breadcrumb">
  <li class="active">Module 4</li>
             
</ol>
    
    
      <!-- Main component for a primary marketing message or call to action -->
        
    <div class="hw5">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h1>MODULE<b> FOUR</b></h1>
				<h2>Protect the earth</h2>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->
        
       <div id="wh">
          <div class="centered"><img src="{% static 'img/corchete.png' %}" class="image-reposive"/></div>
        <div class="row">
        <div class="col-md-8 col-lg-8">
      <br />
      <img src="{% static 'img/modulo4/modulo4.png' %}" class="img-responsive" alt=""/>
            </div>
      <div class="col-md-4 col-lg-4">
          <br />
              <font size="+1"><p>In this module you will ...</p>
        <li> learn about geographical features and flora and fauna in the world in <br />
        <strong>Unit 1 the world we live in </strong></li>
        <li> identify environmental problems, natural disasters and being ‘green’ in <br />
        <strong>Unit 2 Problems and solutions
</strong> </li>
        <li> analyse changes in our cities and look at ways to help the environment in  <br />
        <strong>Unit 3 Changes to make </strong> </li></font>
          </div>

      <div class="col-md-12 col-lg-12"> <hr />
      <div class="centered"><strong><font size="+2" color="#0d7911">Unit 1 The world we live in </font> </strong></div>
  </div>

  <div class="col-md-4 col-lg-4">

      <br />
      <ol><strong>Lesson 1:</strong>
      <li><strong>Grammar</strong>: Comparatives and superlatives

</li>
      <li><strong>Vocabulary:</strong> Natural landscapes

 </li>
      <li><strong>Listenning: </strong> Describing places  in Colombia Numbers
</li>
      <li><strong>Reading: </strong> Natural ecoparks in Colombia
</li>
      <li><strong>Speaking: </strong> Comparing ecoparks
</li>
      <li><strong>Writing: </strong> A description of an ecopark in Colombia
</li>
      </ol>
  </div>
    <div class="col-md-4 col-lg-4">

      <br />
      <ol><strong>Lesson 2:</strong>
      <li><strong>Grammar:</strong> The imperative
</li>
      <li><strong>Vocabulary:</strong> Using water Housework </li>
      <li><strong>Listenning: </strong> Discussing the food
pyramid
do + you = /djə /</li>
      <li><strong>Reading: </strong> Talking about using  and saving water
</li>
      <li><strong>Speaking: </strong> Discussing how you use water Giving instructions

</li>
      <li><strong>Writing: </strong> A poster encouraging people to save water
</li>
      </ol>
  </div>
    <div class="col-md-4 col-lg-4">

      <br />
      <ol><strong>Lesson 3:</strong>
      <li><strong>Grammar:</strong> has / have to for obligation </li>
      <li><strong>Vocabulary:</strong> Animals </li>
      <li><strong>Listenning: </strong> Talking about pets Sentence stress Numbers</li>
      <li><strong>Reading: </strong> Animal cruelty</li>
      <li><strong>Speaking: </strong> Discussing pictures Giving your opinion on animal cruelty</li>
      <li><strong>Writing: </strong> An opinion piece about animal cruelty</li>
      </ol>
  </div>
            <div class="col-md-12"> <hr />
            <div class="centered"><strong><font size="+2" color="#4cb550">Unit 2 Problems and solutions</font> </strong></div>
            </div>
     <div class="col-md-4 col-lg-4">

      <br />
      <ol><strong>Lesson 4:</strong>
      <li><strong>Grammar:</strong> Present continuous Time expressions for present actions
      <li><strong>Vocabulary: </strong> Environmental problems</li>
      <li><strong>Listenning: </strong> Presentation on how the Earth is sick Sentence stress</li>
      <li><strong>Reading: </strong> How we are helping our sick Earth!</li>
      <li><strong>Speaking: </strong> Presenting ideas on how to help the Earth</li>
      <li><strong>Writing: </strong> A poster about helping the Earth</li>
      </ol>
  </div>
     <div class="col-md-4 col-lg-4">

      <br />
      <ol><strong>Lesson 5:</strong>
      <li><strong>Grammar:</strong> Negative contractions</li>
      <li><strong>Vocabulary:</strong> TNatural disasters </li>
      <li><strong>Listenning: </strong> Explaining a practice earthquake drill Contractions</li>
      <li><strong>Reading: </strong> MBlog post about a possible volcanic eruption</li>
      <li><strong>Speaking: </strong> Discussing natural disasters Presenting ideas for raising money</li>
      <li><strong>Writing: </strong> A review of three presentations</li>
      </ol>
  </div>
     <div class="col-md-4 col-lg-4">

      <br />
      <ol><strong>Lesson 6:</strong>
     <li><strong>Grammar:</strong> Present continuous: affirmative and questions </li>
      <li><strong>Vocabulary:</strong> Helping the environment </li>
      <li><strong>Listenning: </strong> Interview on helping the environment Intonation
</li>
      <li><strong>Reading: </strong> An email about International Earth Day
</li>
      <li><strong>Speaking: </strong> Discussing pictures to find differences
</li>
      <li><strong>Writing: </strong> A formal letter  asking for support on an environmental scheme</li>
      </ol>
  </div>

  <div class="col-md-12"> <hr />
  <div class="centered"><strong><font size="+2" color="#61d845">Unit 3 Changes to make</font> </strong></div>
  </div>
     <div class="col-md-4 col-lg-4">

      <br />
      <ol><strong>Lesson 7:</strong>
      <li><strong>Grammar:</strong> Affirmative and negative predictions using will and won’t</li>
      <li><strong>Vocabulary:</strong> Predictions for the world in 2050
 </li>
      <li><strong>Listenning: </strong> A discussion about predictions will, ’ll, will not and won’t
</li>
      <li><strong>Reading: </strong>The three Rs of rubbish
</li>
      <li><strong>Speaking: </strong> Discussing predictions for the world in 2050
</li>
      <li><strong>Writing: </strong> A composition explaining three predictions with your own opinions
</li>
      </ol>
  </div>
     <div class="col-md-4 col-lg-4">

      <br />
      <ol><strong>Lesson 8:</strong>
      <li><strong>Grammar:</strong> Past simple </li>
      <li><strong>Vocabulary:</strong> Opposite adjectives</li>
      <li><strong>Listenning: </strong> A biography of an environmentalist Using was/were
</li>
      <li><strong>Reading: </strong> An account describing urban expansion
</li>
      <li><strong>Speaking: </strong> Discussing changes in your town Discussing the past
</li>
      <li><strong>Writing: </strong> AA description of a familiar place and how it has changed</li>
      </ol>
  </div>
</div>
      </div>

    </div> <!-- /container -->    
    
    
	
		</div><!-- container -->
	</div><!--rwrap-->

{% endblock %}