{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 4 - Unit 1 - Lesson 2 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo4' %}">Module 4</a></li>
        <li><a href="{% url 'modulo4-unidad1' %}">Unit 1</a></li>
        <li >Lesson 2</li>
        <li class="active">Theme 1</li> 
        
</ol>

    {% include 'plantilla-lessons-module4.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON VOCABULARY</h2>
      <h3></h3>
        <hr>
        <p>1. Match the expressions with the pictures. Which action do you think
uses most water?</p>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad1Lesson2Theme1img1.png' %}" class="img-responsive" alt="No found"/>
      </div>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad1Lesson2Theme1img2.png' %}" class="img-responsive" alt="No found"/>
      </div>

      <p>2. In pairs, do the quiz.</p>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad1Lesson2Theme1img3.png' %}" class="img-responsive" alt="No found"/>
      </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}