{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 4 - Unit 3 - Lesson 8 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo4' %}">Module 4</a></li>
        <li><a href="{% url 'modulo4-unidad3' %}">Unit 3</a></li>
        <li >Lesson 8</li>
        <li class="active">Theme 3</li> 
        
</ol>

    {% include 'plantilla-lessons-module4.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>LISTEN</h2>
      <h3></h3>
        <hr>

      <p>7. Listen to some information about environmentalist Marina Silva.
Choose which sentence is correct, A or b.</p>

    <div class="col-sm-12 col-md-12">
      <li>1. A. Marina was one of eleven brothers and sisters.</li>
      <li>b. Marina was in the rainforest for eleven years.</li>
      <li>2. A. Her brothers and sisters were all illiterate.</li>
      <li>b. Her brothers and sisters weren’t all illiterate.</li>
      <li>3. A. Marina wasn’t a university student.</li>
      <li>b. Marina was a university student.</li>
      <li>4. A. She was against deforestation.</li>
      <li>b. She wasn’t against deforestation.</li>
      <li>5. A. She was Environmental Minister at the age of 45.</li>
      <li>b. In 2012 she was Environmental Minister.</li>
      <li>6. A. She was a sports person in the London Olympics.</li>
      <li>b. She was part of the opening ceremony in the London Olympics.</li>
      <li>7. A. In 2014, she was one of the ‘Financial Times Women of the Year’.</li>
      <li>b. In 2014, she was ‘Woman of the Year’.</li>
    </div>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>glossary</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>illiterate = analfabeto/a
          </td>
        </tr>
      </tbody>
    </table>
      </div>

      <div class="col-sm-6 col-md-6">

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK103.mp3" type="audio/mpeg">
      Your browser does not support the audio element. (103)
    </audio>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>8. Say it!</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>Listen to the way we <br>
pronounce the words was <br>
and were. Listen and repeat.</b> <br>
The town was smaller. <br>
The town wasn’t smaller. <br>
The roads were quieter. <br>
The roads weren’t quieter.
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>

    <div class="col-sm-12 col-md-12">
      <h2>FOCUS ON LANGUAGE</h2>
      <h3></h3>
      <hr>
      <p>9. Look at the sentences in exercise 7 again and answer the questions.</p>}

    <div class="col-sm-12 col-md-12">
      <li>a. Are the sentences about the present, the past or the future?</li>
      <li>b. Do the sentences describe plans, daily routines, or past situations?</li>
      <li>c. What is the affirmative and negative form?</li>
    </div>

    <p>10. In your notebook, write these sentences
in the past simple. Use the box to help you.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <p>Example: <br>
There are lots of cars. <br>
There were lots of cars.</p>
      </div>

      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad3Lesson2Theme3img1.PNG' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-12">
      <li>a. She is a minister.</li>
      <li>b. There isn’t a housing estate.</li>
      <li>c. The cars are fast.</li>
      <li>d. The parks aren’t big.</li>
      <li>e. The houses are expensive.</li>
      <li>f. The train is slow.</li>
      <li>g. I am against deforestation.</li>
      <li>h. They are university students.</li>
    </div>

    </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}