{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 4 - Unit 2 - Lesson 4 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo4' %}">Module 4</a></li>
        <li><a href="{% url 'modulo4-unidad1' %}">Unit 2</a></li>
        <li >Lesson 4</li>
        <li class="active">Theme 3</li> 
        
</ol>

    {% include 'plantilla-lessons-module4.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON LANGUAGE</h2>
      <h3></h3>
        <hr>

      <p>7. Look at the pictures and read the sentences.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>a. Are these sentences about actions that
are happening at the moment?</li>
        <li>b. How do you make this verb form?</li>
        <li>c. What are you doing at the moment?</li>
      </div>

      <div class="col-sm-6 col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Useful language</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>When we describe activities that are happening <br>
now, we can use time expressions such as: now, <br> 
right now, these days, at the moment.</b> <br>
      <li>People are taking care of animals these days.</li>
      <li>My friend is washing his dog at the moment.</li>
      <li>We are reading about the environment right now.</li>
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad2Lesson1Theme3img1.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

      <p>8. Complete the sentences with words from the box.</p>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad2Lesson1Theme3img2.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

    <div class="col-sm-12 col-md-12">
      <li>a. You are _________ water. Turn the tap off!</li>
      <li>b. He is _________ that bottle. He could recycle it.</li>
      <li>c. The climate is _________. The Earth is getting hotter and hotter.</li>
      <li>d. They are _________ the habitats of many animals by cutting down the forests.</li>
      <li>e. We are _________ a poster about our project.</li>
      <li>f. I am _________ the beach. Look! There is so much rubbish!</li>
    </div>

    <p>9. Complete the sentences with the verbs in
brackets in the correct form.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>a. I _________________________ English.
I love it! (learn)</li>
        <li>b. You _________________________ too
quickly. I don’t understand. (speak)</li>
        <li>c. Our teacher _________________________
us make a poster. (help)</li>
        <li>d. We _________________________ all our
rubbish. (recycle)</li>
      </div>

      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad2Lesson1Theme3img3.PNG' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>
    </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}