{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 4 - Unit 1 - Lesson 1 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo4' %}">Module 4</a></li>
        <li><a href="{% url 'modulo4-unidad1' %}">Unit 1</a></li>
        <li >Lesson 1</li>
        <li class="active">Theme 4</li> 
        
</ol>

    {% include 'plantilla-lessons-module4.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>WRITE</h2>
      <h3></h3>
        <hr>
        <p>8. Listen and write the correct option in your notebook.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK87.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (87)
    </audio>

    <p>Los Nevados National Ecopark in Tolima is 583 km².</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>1. Los Nevados National Ecopark in Tolima is …</li>
        <li>A. <u>583 km²</u></li>
        <li>b. 853 km²</li>
        <li>C. 683 km²</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>4. Las Orquídeas Natural Park in Antioquia is …</li>
        <li>A. 302 km²</li>
        <li>b. 230 km²</li>
        <li>C. 320 km²</li>
      </div>
    </div>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>2. Caño Cristales in the Sierra de la Macarena is …</li>
        <li>A. 100 km</li>
        <li>b. 200 km</li>
        <li>C. 120 km</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>5. Puracé National Ecopark near Popayán is …</li>
        <li>A. 813 km²</li>
        <li>b. 830 km²</li>
        <li>C. 803 km²</li>
      </div>
    </div>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>3. Gorgona National Ecopark near the Pacific Ocean is …</li>
        <li>A. 516 km²</li>
        <li>b. 616 km²</li>
        <li>C. 660 km²</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>6. Los Guácharos Cave in Caquetá is …</li>
        <li>A. 627 km²</li>
        <li>b. 762 km²</li>
        <li>C. 672 km²</li>
      </div>
    </div>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK88.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (88)
    </audio>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>9. Say it!</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>How do you say these numbers? Listen
and repeat.</b> <br>
      <li>225 = two hundred and twenty-five</li>
      <li>564 = five hundred and sixty-four</li>
      <li>387 = three hundred and eighty-seven</li>
      <li>791 = seven hundred and ninety-one</li>
      <li>405 = four hundred and five</li>
      For m² we say: square metre <br>
For km² we say: square kilometre
          </td>
        </tr>
      </tbody>
    </table>  

      <p>10. Choose an ecopark in Colombia and write a description of it. Look through
the lesson for ideas to help you. Check your writing carefully.</p>

    <div class="col-sm-12 col-md-12">
      <li>a. location</li>
      <li>b. characteristics – compare it with other similar places</li>
      <li>c. flora and fauna – give some examples, use adjectives</li>
      <li>d. activities – things people can do in the ecopark</li>
    </div>

    <div class="col-sm-12 col-md-12">
      <h2>SPEAK</h2>
      <h3></h3>
      <hr>
      <p>11. in pairs, compare the ecoparks you wrote about in exercise 10. Tell the class
about the differences.</p>
    </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}