{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 4 - Unit 2 - Lesson 4 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo4' %}">Module 4</a></li>
        <li><a href="{% url 'modulo4-unidad1' %}">Unit 2</a></li>
        <li >Lesson 4</li>
        <li class="active">Theme 4</li> 
        
</ol>

    {% include 'plantilla-lessons-module4.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>READ</h2>
      <h3></h3>
        <hr>

      <p>10. Read the poster that a class created as a project.</p>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad2Lesson1Theme4img1.png' %}" class="img-responsive" alt="No found"/>
      </div>

        <p>11. In your notebooks, put the sentences into two categories: affirmative
(what they are doing) and negative (what they are not doing).
Change the sentences so you are writing about the students.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <p>Example: They are planting trees near their school.</p>
      </div>

      <div class="col-sm-6 col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>glossary</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>check = comprobar <br>
turned off = apagado/a <br>
low-energy light bulb = <br>
bombillo de bajo <br>
consumo <br>
the washing-up = <br>
lavar la loza <br>
meat = carne
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>

    <div class="col-sm-12 col-md-12">
      <h2>WRITE</h2>
      <h3></h3>
      <hr>
      <p>12. prepare a poster like the one in exercise 10. Try to think of a
different title. Try to use your own ideas.</p>
    </div>

    <div class="col-sm-12 col-md-12">
      <h2>SPEAK</h2>
      <h3></h3>
      <hr>
      <p>13. use your poster to give a presentation. Remember to use stress to
emphasise the important information.</p>
    </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}