{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 4 - Unit 2 - Lesson 6 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo4' %}">Module 4</a></li>
        <li><a href="{% url 'modulo4-unidad2' %}">Unit 2</a></li>
        <li >Lesson 6</li>
        <li class="active">Theme 1</li> 
        
</ol>

    {% include 'plantilla-lessons-module4.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON VOCABULARY</h2>
      <h3></h3>
        <hr>

      <p>1. Read the text and match the speech bubbles
to the pictures.</p>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad2Lesson3Theme1img1.png' %}" class="img-responsive" alt="No found"/>
      </div>

        <p>2. Complete the sentences with the correct words from exercise 1.</p>

    <div class="col-sm-12 col-md-12">
      <li>a. We’re collecting _________ to make the school cleaner.</li>
      <li>b. So today we’re having a _________ day – no books or notepads of any kind,
please.</li>
      <li>c. We’re trying to help the _________ by not using electricity today.</li>
      <li>d. She’s _________ the litter to help reduce waste.</li>
    </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}