{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 4 - Unit 3 - Lesson 7 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo4' %}">Module 4</a></li>
        <li><a href="{% url 'modulo4-unidad3' %}">Unit 3</a></li>
        <li >Lesson 7</li>
        <li class="active">Theme 2</li> 
        
</ol>

    {% include 'plantilla-lessons-module4.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>LISTEN</h2>
      <h3></h3>
        <hr>

      <p>4. Listen and write will or won’t for each sentence.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK100.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (100)
    </audio>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>a. Some people think that by 2050 we __________ have to stay
in our homes.</li>
        <li>b. By 2050, we __________ have enough to eat.</li>
        <li>c. In 100 years, we __________ have any rainforests left.</li>
        <li>d. More people __________ die due to pollution.</li>
        <li>e. Some countries __________ have enough water to grow
food.</li>
        <li>f. Some people believe that the sun __________ be the main
power source.</li>
        <li>g. Solar power __________ mean that we have cleaner air in the
future.</li>
        <li>h. We __________ grow two plants in the same place in the
future.</li>
        <li>i. There __________ be nine billion people by 2050.</li>
        <li>j. We have to make changes, but these __________ make
us healthier.</li>
      </div>

      <div class="col-sm-6 col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>useful expressions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>When we talk about <br>
predictions, we use the <br>
following time expressions: <br>
By 2050 <br>
In 100 years <br>
In the future
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>

    <div class="col-sm-12 col-md-12">
      <h2>FOCUS ON LANGUAGE</h2>
      <h3></h3>
      <hr>
      <p>5. Look at the sentences in exercise 4 and answer the questions.</p>

    <div class="col-sm-12 col-md-12">
      <li>a. Are we talking about the present, the past or the future?</li>
      <li>b. Do the sentences express plans, daily routine, or predictions?</li>
      <li>c. How do you form the affirmative and negative forms?</li>
    </div>

    <p>6. in your notebook, write the words in the correct order.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>a. be / world / the / will / cleaner</li>
        <li>b. longer / will / live / people</li>
        <li>c. population / increase / the / will</li>
        <li>d. enough / won’t / food / there / be</li>
        <li>e. floods / more / be / there / will</li>
        <li>f. cut / trees / we / down / fewer / will</li>
      </div>

      <div class="col-sm-6 col-md-6">
    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK101.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (101)
    </audio>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>7. Say it!</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>Listen and repeat.</b> <br>
will / won’t <br>
You will live longer. You’ll live <br>
longer. <br>
You will not live longer. You <br>
won’t live longer.
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>

    </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}