{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 4 - Unit 2 - Lesson 4 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo4' %}">Module 4</a></li>
        <li><a href="{% url 'modulo4-unidad1' %}">Unit 2</a></li>
        <li >Lesson 4</li>
        <li class="active">Theme 2</li> 
        
</ol>

    {% include 'plantilla-lessons-module4.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>LISTEN</h2>
      <h3></h3>
        <hr>

      <p>3. The pictures on page 136 are from a presentation a student gave about how the Earth is
sick. Listen to the presentation. Number the order in which the presenter says the examples.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK94.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (94)
    </audio>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad2Lesson1Theme2img1.png' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>

      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad2Lesson1Theme2img2.png' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>
    </div>

    <p>4. Listen again. Did the presenter mention any
of the things from your list in exercise 2?</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK94.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (94)
    </audio>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad2Lesson1Theme2img3.png' %}" class="img-responsive" alt="No found"/>
      </div>

      </div>

      <div class="col-sm-6 col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>glossary</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>cut down = derribar <br>
throw away = desechar <br>
rubbish = basura <br>
pollute = contaminar <br>
destroy = destruir <br>
waste = desperdiciar
          </td>
        </tr>
      </tbody>
    </table>

      </div>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>5. Say it!</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>Read and listen to the sentences.</b> <br>
Using <u>stress</u> to emphasise important information. <br>
        <li>Notice how stress can be used to emphasise the important information in a sentence.</li>
        <li>a. <u>We</u> are making the Earth sick. (We is the important information.)</li>
        <li>b. We are <u>making</u> the Earth sick. (making is the important information.)</li>
        <li>c. We are making the Earth <u>sick</u>. (sick is the important information.)</li>
          </td>
        </tr>
      </tbody>
    </table>

    <p>6. Now say the sentence below three times with different emphasis.</p>

    <div class="col-sm-12 col-md-12">
      <li>You are wasting water</li>
      <li>a. Make You the important information.</li>
      <li>b. Make wasting the important information.</li>
      <li>c. Make water the important information.</li>
    </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}