{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 4 - Unit 1 - Lesson 3 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo4' %}">Module 4</a></li>
        <li><a href="{% url 'modulo4-unidad1' %}">Unit 1</a></li>
        <li >Lesson 3</li>
        <li class="active">Theme 1</li> 
        
</ol>

    {% include 'plantilla-lessons-module4.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON VOCABULARY</h2>
      <h3></h3>
        <hr>
        <p>1. Match the animals in the box to the pictures.</p>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad1Lesson3Theme1img1.png' %}" class="img-responsive" alt="No found"/>
      </div>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad1Lesson3Theme1img2.png' %}" class="img-responsive" alt="No found"/>
      </div>

      <p>2. Copy the table. For each category, write three animals from exercise 1.</p>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad1Lesson3Theme1img3.png' %}" class="img-responsive" alt="No found"/>
      </div>

      <p>3. Read the descriptions and write the animals.</p>

    <div class="col-sm-12 col-md-12">
      <li>a. This animal likes people, but doesn’t like cats! You have to take it for a walk every day.</li>
      <li>b. This animal is small. It has long ears and a short tail. It loves carrots.</li>
      <li>c. This animal is very intelligent. It lives in the sea.</li>
      <li>d. This animal lives in the water, but can walk on land. It can be dangerous.</li>
      <li>e. This animal lives with people, but it’s very independent. It likes eating fish.</li>
      <li>f. This animal is very long and lives in the jungle. It can be dangerous.</li>
    </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}