{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 4 - Unit 3 - Lesson 7 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo4' %}">Module 4</a></li>
        <li><a href="{% url 'modulo4-unidad3' %}">Unit 3</a></li>
        <li >Lesson 7</li>
        <li class="active">Theme 3</li> 
        
</ol>

    {% include 'plantilla-lessons-module4.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>READ</h2>
      <h3></h3>
        <hr>

      <p>8. Read the article and choose the correct option, A, b, or C.</p>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad3Lesson1Theme3img1.png' %}" class="img-responsive" alt="No found"/>
      </div>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>1. What is wrong with electronic devices?</li>
        <li>A. They only last a few years.</li>
        <li>b. They are durable goods.</li>
        <li>C. They use electricity.</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>4. When we recycle …</li>
        <li>A. the item is made into something else.</li>
        <li>b. the material isn’t reused.</li>
        <li>C. we throw everything into landfill.</li>
      </div>
    </div>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>2. How can we reduce the problem of rubbish?</li>
        <li>A. Use disposable items.</li>
        <li>b. Don’t buy disposable items.</li>
        <li>C. Buy things every day.</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>5. The three Rs of rubbish are …</li>
        <li>A. refuse, reduce and recharge.</li>
        <li>b. reduce, reuse and remove.</li>
        <li>C. reduce, reuse and recycle.</li>
      </div>
    </div>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>3. What is a benefit of reusing items?</li>
        <li>A. We will reduce the amount of rubbish.</li>
        <li>b. We will wash more plates.</li>
        <li>C. We will make more rubbish.</li>
      </div>

      <div class="col-sm-6 col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>glossary</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>destroy = destruir <br>
disposable = desechable <br>
rechargable batteries = baterías recargables <br>
landfill = vertedero
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>


      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}