{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 4 - Unit 2 - Lesson 5 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo4' %}">Module 4</a></li>
        <li><a href="{% url 'modulo4-unidad2' %}">Unit 2</a></li>
        <li >Lesson 5</li>
        <li class="active">Theme 2</li> 
        
</ol>

    {% include 'plantilla-lessons-module4.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>SPEAK</h2>
      <h3></h3>
        <hr>

      <p>3. Look at the pictures. Discuss with a partner.</p>

    <div class="col-sm-12 col-md-12">
      <li>a. What can you see?</li>
      <li>b. How do you think the pictures are connected?</li>
    </div>s

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad2Lesson2Theme2img1.png' %}" class="img-responsive" alt="No found"/>
      </div>

    <div class="col-sm-12 col-md-12">
      <h2>READ</h2>
      <h3></h3>
      <hr>
      <p>4. Read the blog post from a reporter near a possible volcanic eruption.</p>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>glossary</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>worried = preocupado/a <br>
bee = abeja <br>
happen = ocurrir
          </td>
        </tr>
      </tbody>
    </table>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad2Lesson2Theme2img2.png' %}" class="img-responsive" alt="No found"/>
      </div>

    </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}