{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 4 - Unit 1 - Lesson 2 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo4' %}">Module 4</a></li>
        <li><a href="{% url 'modulo4-unidad1' %}">Unit 1</a></li>
        <li >Lesson 2</li>
        <li class="active">Theme 4</li> 
        
</ol>

    {% include 'plantilla-lessons-module4.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>SPEAK</h2>
      <h3></h3>
        <hr>
        <p>11. Look at the actions in exercise 1 again. Then tell your
partner how often you use water. use the box to help you.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <p>I drink water about 5 times a day. How about you?
I drink water more than that. I drink about 10 glasses
of water a day.</p>
      </div>

      <div class="col-sm-6 col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>useful expressions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>When we talk about activities we <br>
do regularly, we can say: <br>
once a day / week / month <br>
twice a day / week / month <br>
three times a day / week / month
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>

      <p>12. Take turns to give and follow instructions using a verb from box A and
an expression from box b. make some of them negative with don’t.</p>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad1Lesson2Theme4img1.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

    <div class="col-sm-12 col-md-12">
      <h2>WRITE</h2>
      <h3></h3>
      <hr>
      <p>13. make a poster to encourage people to save water. Look at the text on p129
again to help you. Also, use your own ideas.</p>

      <div class="centered">
        <img src="{% static 'img/modulo4/Modulo4Unidad1Lesson2Theme4img2.PNG' %}" class="img-responsive" alt="No found"/>
      </div>
    </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}