@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);

body {
    background: url(../img/bgmod.jpg) repeat;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    margin-top: 70px;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #555;
}

.hw {
	background: url(../img/header-mod.jpg) no-repeat center top;
	margin-top: 10px;
	padding-top:20px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 300px;
	width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hw h1 {
	margin-top: 50px;
	color:#E4E1E1;
	font-size: 70px;
	font-weight: 300;
	letter-spacing: 3px;
}

.hw h2 {
	color: #CECECE;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.table thead{
    background-color: #9EBAD7;
    color: #fff;
    font-size: 18px;
}

#bgf {
    background: url(../img/bg-hg-md.png) transparent repeat;
    padding: 20px;
    border-bottom-color: blue;
}

#bgf h2{
	color: beige;
	font-size: 40px;
	font-weight: 300;
	letter-spacing: 3px;
}

#bgf h3{
    color: blanchedalmond;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;   
}

/* White Wrap */
#wh {
	background: white;
	padding-top: 35px;
    padding-left: 30px;
    padding-right: 30px;
	padding-bottom: 70px;
}

#wh h4 {
	font-weight: 700;
    font-size: 25px;
    color: darkred;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

a {
    color: #f85c37;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover, a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before, a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #829FB1;
    margin: 1em 0;
    padding: 0;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.navbar {
	font-weight: 800;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}


.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 12px;
}

.container.initial{
    margin-top: 100px;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    background-color: transparent;
}

.breadcrumb li a {
    padding: 5px;
}

.breadcrumb li.active{
    font-weight: bold;
}

.pagination-centered {
    text-align: center;
}

.breadcrumb>.active {
    color: darkblue;
}

.pagination>li>a:hover{
    color: rgba(0, 40, 44, 0.9);
}

.pagination>li>a:visited{
    color: rgba(0, 40, 44, 0.9);
}


/****** SECTIONS *****/

.w {
	padding-top: 35px;
}

.w h4 {
	font-weight: 700;
}

.w i {
	color: #ff7878;
	font-size: 30px;
}


.wb {
	padding-top: 35px;
	margin-bottom: 0px;
}

.wb h4 {
	font-weight: 700;
}

.desc {
	padding-top: 35px;
}

.desc h4 {
	font-weight: 700;
}

.desc i {
	color: #ff7878;
	font-size: 12px;
	padding: 5px;
}


/* Footer Wrap */
#f {
	background: #2d2d2d;
	padding-top: 30px;
	padding-bottom: 30px;
}

#f i {
	color: #bdbdbd;
	font-size: 30px;
	padding: 20px;
}

#f i:hover {
	color: #ff7878;
}

#downMenu{
	float:right;
}
#downMenu li{
	height: 16px;
	border-right:1px solid #343434;
	float:left;
	list-style: none;
}
#downMenu li:last-child{
	border-right:none;
}
#downMenu li a{
	padding: 15px;
	text-decoration: none;
	font-size: 13px;
	font-family: 'lato', 'sans-serif';
	font-weight: 300;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
}
#downMenu li:last-child a{
	padding-right:0;
}
#downMenu li a:hover{
	color:#6d6d6d;
}

.copy{
	margin-top: 29px;
}
.dm{
	margin-top: 29px;
}

@media screen and (max-width: 991px){
.copy p {
    text-align: center;
}
.downLine p {
    font-size: 13px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
    color: #fff;
}
}

.red{
    color: red;
}

.yellow{
    color: yellow;
}

.blue{
    color: blue;
}

.green{
    color: green;
}

.white{
    color: white;
    text-shadow:
   -1px -1px 0 #000000,
    1px -1px 0 #000000,
   -1px 1px 0 #000000,
    1px 1px 0 #000000;
}

.black{
    color: black;
}

.brown{
    color: brown;
}

.pink{
    color: pink;
}

.orange{
    color: orange;
}

.purple{
    color: purple;
}

.padding-l3t1{
    padding: 10px;
}

.nada{
    color: white;
}

.padding-flecha{
    padding-left: 30%;
}

/* Dropdown levels */

.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}