{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 2 - Unit 2 - Lesson 6 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo2' %}">Module 2</a></li>
        <li><a href="{% url 'modulo2-unidad2' %}">Unit 2</a></li>
        <li >Lesson 6</li>
        <li class="active">Theme 3</li> 
        
</ol>

    {% include 'plantilla-lessons-module2.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>LISTEN</h2>
      <h3></h3>
        <hr>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK55.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (55)
    </audio> 

      <p>9. Listen to an interview with a famous pop star and answer the questions with
Yes, she does. / No, she doesn’t.</p>

    <div class="col-sm-12 col-md-12">
      <li>a. Does Tallulah know the title of her song?</li>
      <li>b. Does Tallulah write her own songs?</li>
      <li>c. Does she like doing concerts?</li>
      <li>d. Does her guitarist like doing concerts?</li>
      <li>e. Does Tallulah like answering questions?</li>
    </div>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK55.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (55)
    </audio>

    <p>10. Listen again and match the beginnings of the sentences with their endings.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-8 col-md-8">
        <div class="co-sm-6 col-md-6">
          <li>a. Tallulah’s fans are crazy about</li>
          <li>b. Tallulah can’t stand</li>
          <li>c. Tallulah hates</li>
          <li>d. Tallulah loves</li>
          <li>e. Tallulah doesn’t like</li>
        </div>

        <div class="co-sm-6 col-md-6">
          <li>1. travelling.</li>
          <br>
          <li>2. her fans.</li>
          <li>3. her.</li>
          <li>4. answering questions.</li>
          <li>5. doing concerts.</li>
        </div>
      </div>

      <div class="col-sm-4 col-md-4">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Useful expressions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>be crazy about + -ing / noun <br>
be mad about + -ing / noun <br>
can’t stand + -ing / noun <br>
don’t mind + -ing / noun <br>
love / like / hate + -ing / noun
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>

    <p>11. Read the Useful expression box. Then complete
the sentences so they are true about you and your family.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>a. I am crazy about …</li>
        <li>b. My mother / father loves …</li>
        <li>c. My brother / sister enjoys …</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>d. My neighbour doesn’t like …</li>
        <li>e. I can’t stand …</li>
        <li>f. My friends at school hate …</li>
      </div>
    </div>

      <div class="centered">
        <img src="{% static 'img/modulo2/Modulo2Unidad2Lesson3Theme3img1.png' %}" class="img-responsive" alt="No found"/>
      </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}