{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 2 - Unit 3 - Lesson 7 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo2' %}">Module 2</a></li>
        <li><a href="{% url 'modulo2-unidad3' %}">Unit 3</a></li>
        <li >Lesson 7</li>
        <li class="active">Theme 2</li> 
        
</ol>

    {% include 'plantilla-lessons-module2.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>READ</h2>
      <h3></h3>
        <hr>
      <p>5. Read about the celebrations and match them to the pictures.</p>

      <div class="centered">
        <img src="{% static 'img/modulo2/Modulo2Unidad3Lesson1Theme2img1.png' %}" class="img-responsive" alt="No found"/>
      </div>

      <p>6. Read the text again and answer the questions.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>a. What is celebrated in the United States on the fourth Thursday in November?</li>
        <li>b. What is the traditional way to celebrate Thanksgiving?</li>
        <li>c. Name four ways the Chinese celebrate the New Year.</li>
        <li>d. What is special about the colour red in China?</li>
        <li>e. When do Colombians celebrate Christmas?</li>
        <li>f. When do Colombians give presents?</li>
      </div>

      <div class="col-sm-6 col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>glossary</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>harvest = cosecha <br>
parade = desfile <br>
carols = villancico <br>
Nativity scene = pesebre <br>
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>
    
    <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
      <h2>FOCUS ON LANGUAGE</h2>
      <h3></h3>
        <hr>
      <p>7. Look at the <u>underlined</u> words in the reading. Then complete
the sentences with the correct word.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
    <li>a. ___ noon, people usually have lunch.</li>
    <li>b. ___ November 1st, people celebrate the Day of the Dead.</li>
    <li>c. People usually go dancing ___ Friday nights.</li>
    <li>d. We start classes ___ January.</li>
    <li>e. Mum and Dad often go to bed ___ midnight.</li>
      </div>

      <div class="col-sm-6 col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Useful language</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>celebrate – celebration <br>
decorate – decoration
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}