{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 2 - Unit 3 - Lesson 7 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo2' %}">Module 2</a></li>
        <li><a href="{% url 'modulo2-unidad3' %}">Unit 3</a></li>
        <li >Lesson 7</li>
        <li class="active">Theme 3</li> 
        
</ol>

    {% include 'plantilla-lessons-module2.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON VOCABULARY</h2>
      <h3></h3>
        <hr>
      <p>8. Complete the phrases a-i with the correct verb from the box.</p>

      <div class="centered">
        <img src="{% static 'img/modulo2/Modulo2Unidad3Lesson1Theme3img1.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>a. _____ traditional food</li>
        <li>b. _____ fireworks</li>
        <li>c. _____ presents</li>
        <li>d. _____ the streets</li>
        <li>e. _____ costumes</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>f. _____ the family</li>
        <li>g. _____ a meal</li>
        <li>h. _____ a special occasion</li>
        <li>i. _____ in the streets</li>
      </div>
    </div>

    <p>9. Complete the sentences with phrases from exercise 8.</p>

    <div class="col-sm-12 col-md-12">
      <li>a. At Christmas, many people _____ such as turkey and Christmas cake.</li>
      <li>b. We usually _____ by having a party.</li>
      <li>c. At New Year in many countries, people _____ to celebrate by lighting up the sky.</li>
      <li>d. At Carnival, people _____ and parade through the streets.</li>
      <li>e. In many countries, people _____ at midnight on Christmas Eve.</li>
      <li>f. At Chinese New Year, people _____ with red lanterns.</li>
    </div>
    
    <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
      <h2>LISTEN</h2>
      <h3></h3>
        <hr>
      <p>10. Listen and write the words you hear from exercise 8 in your notebook.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK57.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (57)
    </audio>

    <div class="col-sm-12 col-md-12">
    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK58.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (58)
    </audio>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>11. Say it!</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>Listen and repeat.</b> <br>
Ordinal numbers. <br>
first second third fourth fifth <br>
tenth sixteenth twenty-seventh thirty-first <br>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    
    <p>12. Listen and write the numbers you hear in your notebook.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK59.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (59)
    </audio>

      <div class="centered">
        <img src="{% static 'img/modulo2/Modulo2Unidad3Lesson1Theme3img2.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}