{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 2 - Unit 3 - Lesson 8 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo2' %}">Module 2</a></li>
        <li><a href="{% url 'modulo2-unidad3' %}">Unit 3</a></li>
        <li >Lesson 8</li>
        <li class="active">Theme 3</li> 
        
</ol>

    {% include 'plantilla-lessons-module2.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>READ</h2>
      <h3></h3>
        <hr>
      <p>8. Read the text and the sentences. Then say if sentences a-f are true (T) or false (F)?</p>

      <div class="centered">
        <img src="{% static 'img/modulo2/Modulo2Unidad3Lesson2Theme3img1.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

    
    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>a. Budi is on holiday at the moment.</li>
        <li>b. They have surf lessons in the rain.</li>
        <li>c. The first lesson finishes at 10:00 am.</li>
        <li>d. They don’t have a break in the morning.</li>
        <li>e. The summer is always very busy.</li>
        <li>f. Budi surfs in the evening with six friends.</li>
      </div>

      <div class="col-sm-6 col-md-6">

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK62.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (62)
    </audio>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>9. Say it!</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>Listen and repeat.</b> <br>
Pronunciation of do and does in questions: <br>
What time do you start lessons? <br>
Who do you work with? <br>
Where does your friend go on holiday? <br>
How often does your friend go surfing? <br>
          </td>
        </tr>
      </tbody>
    </table>

      </div>
    </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}