{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 2 - Unit 2 - Lesson 6 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo2' %}">Module 2</a></li>
        <li><a href="{% url 'modulo2-unidad2' %}">Unit 2</a></li>
        <li >Lesson 6</li>
        <li class="active">Theme 4</li> 
        
</ol>

    {% include 'plantilla-lessons-module2.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON LANGUAGE</h2>
      <h3></h3>
        <hr>
      <p>12. Choose the correct word to complete the questions.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>a. Does / Do your father love music?</li>
        <li>b. Does / Do your friends hate classic music?</li>
        <li>c. Does / Do your teacher enjoy pop music?</li>
        <li>d. Does / Do you mind listening to rock music?</li>
        <li>e. Does / Do you hate cumbia?</li>
      </div>

      <div class="col-sm-6 col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Useful language</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Yes/No questions <br>
We use Does in questions with I, you, he/ <br>
she/it, we, they. <br>
We use Do in questions with I, you, he/ <br>
she/it, we, they.
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>
    <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
      <h2>WRITE</h2>
      <h3></h3>
        <hr>
      <p>13. Use the words in the box to write questions.</p>

      <div class="centered">
        <img src="{% static 'img/modulo2/Modulo2Unidad2Lesson3Theme4img1.png' %}" class="img-responsive" alt="No found"/>
      </div>

    <p>14. Now write five yes/no questions to ask your classmates about their taste in music.
Also find out about their family.</p>

    <p>Example: <br>
Do you like pop music? <br>
Does your mum like rock?</p>

    <p>15. Write a short paragraph about you and your family’s taste in music. Use the texts
on page 69 to help you.</p>

    <div class="col-sm-12 col-md-12">
      <li>Introduce yourself and your taste in music</li>
      <li>Say what type of music you like / don’t like</li>
      <li>Say how certain music makes you feel</li>
      <li>Talk about your family members’ tastes in music</li>
    </div> 

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}