{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 2 - Unit 3 - Lesson 8 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo2' %}">Module 2</a></li>
        <li><a href="{% url 'modulo2-unidad3' %}">Unit 3</a></li>
        <li >Lesson 8</li>
        <li class="active">Theme 2</li> 
        
</ol>

    {% include 'plantilla-lessons-module2.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>LISTEN</h2>
      <h3></h3>
        <hr>
      <p>3. Listen to the interviews and complete the questions with the correct word.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK60.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (60)
    </audio>

      <div class="col-sm-12 col-md-12">
        <li>a. When does Stacey go ___ holiday?</li>
        <li>b. Where does she ____ go?</li>
        <li>c. What does she do on ____ ?</li>
        <li>d. How ____ does Wesley go on holiday?</li>
        <li>e. Where ____ he go to?</li>
      </div>
    
      <p>4. now listen again and answer the questions in exercise 3 in your notebook.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK60.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (60)
    </audio>

    <p>Example: <br>
When does Stacey go on holiday? <br>
She goes on holiday at the end of August.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>glossary</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>actually = en realidad <br>
nowadays = actualmente
          </td>
        </tr>
      </tbody>
    </table>
      </div>

      <div class="col-sm-6 col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Useful expressions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>I’m sorry I’m late. <br>
That’s fine. <br>
Can I ask you a few questions? <br>
Well, actually … <br>
Nowadays, … <br>
Let’s talk about … <br>
No problem.
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>

    <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
      <h2>FOCUS ON LANGUAGE</h2>
      <h3></h3>
        <hr>
      <p>5. Read the Useful language box and put the words in order to make questions.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>a. live / does / Where / Charlie ?</li>
        <li>b. time / do / What / to bed / they / go ?</li>
        <li>c. many / does / How / holidays / have / she ?</li>
        <li>d. skiing / you / Who / do / with / go ?</li>
        <li>e. do / holiday / they / on / How / go/ often ?</li>
        <li>f. camping / When / go / they / do ?</li>
      </div>

      <div class="col-sm-6 col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Useful language</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Wh- questions are used to ask <br>
              more specific information: <br>
              Where … ? (place) <br>
              What … ? (object) <br>
              Who … ? (person) <br>
              When … ? (date / time) <br>
              How often … ? (frequency) <br>
              How many / much … ? (quantity) <br>
What time … ? (hour)
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>

    <p>6. Write a Wh- question for each question word in the Useful language box.</p>

    <div class="col-sm-12 col-md-12">
    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK61.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (61)
    </audio>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>7. Say it!     
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>Listen and repeat.</b> <br>
Who / How begin with the sound /h/. <br>
Where / When / What begin with the sound /w/.
          </td>
        </tr>
      </tbody>
    </table>
    </div>


      </div>
      

      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}