{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 2 - Unit 1 - Lesson 1 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo2' %}">Module 2</a></li>
        <li><a href="{% url 'modulo2-unidad1' %}">Unit 1</a></li>
        <li >Lesson 1</li>
        <li class="active">Theme 3</li> 
        
</ol>

    {% include 'plantilla-lessons-module2.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON LANGUAGE</h2>
      <h3></h3>
        <hr>
      <p>8. In your notebook, write the statements which describe routines.</p>
     
     <div class="col-sm-12 col-md-12">
       
      <div class="col-sm-6 col-md-6">
        <li>a. I have breakfast at home.</li>
        <li>b. My phone number is 7310342.</li>
        <li>c. They get up at 7:00 am.</li>
        <li>d. I have lunch at school.</li>
        <li>e. They are young and happy.</li>
        <li>f. I listen to music in the afternoon.</li>  
      </div>

      <div class="col-sm-6 col-md-6">
        <li>g. My friends and I go to bed late at the weekend.</li>
        <li>h. Some of my friends are from Chile.</li>
        <li>i. You do homework after lunch.</li>
        <li>j. My friends play basketball after school.</li>
        <li>k. My mother’s brother is a doctor.</li>
      </div>

     </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <p>9. Read the sentences. Are they true (T) or false (F) for you? Write the sentences in your
notebook. Correct the false sentences.</p>

    <p>Example: F. I go to bed at 9.00 pm.</p>

     <div class="col-sm-12 col-md-12">
       
      <div class="col-sm-6 col-md-6">
        <li>a. I go to bed very late.</li>
        <li>b. I do homework after dinner.</li>
        <li>c. I get up at 7:00 am.</li>
        <li>d. I play the piano.</li>
        <li>e. I watch TV after lunch.</li>
        <li>f. I play football after school.</li>
        <li>g. I have lunch at home.</li>
        <li>h. I never have breakfast.</li> 
      </div>

      <div class="col-sm-6 col-md-6">
        <div class="centered">
          <img src="{% static 'img/modulo2/Modulo2Lesson1Theme3.png' %}" class="img-responsive" alt=""/>
      </div>
      </div>

     </div>     

<br>

      <p>10. Tell your partner what you do every day. Say three things that are false. Can your partner
identify the false statements?</p>

      <p>Example: Manu: I get up at 6:00 am, then I have my breakfast … <br>
      Miguel: No. You get up at 7:00 am.</p>

      <p>11. Read these sentences about habits in other cultures. Are they similar to habits in Colombia?</p>

      <li>a. In the Middle East, people usually eat lunch after 2:00 pm. <br>
      Example: No, in Colombia, people eat lunch at 12:00 pm.</li>
      <li>b. In Japan, children finish school at 3:15 pm.</li>
      <li>c. In Spain, many people eat dinner around 11:00 pm.</li>
      <li>d. In the United States, many families get up before 7:00 am at the weekend.</li>

      <br>

      <p>12. Listen and choose the correct option A, B, or C.</p>

      <audio controls>
          <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK42.mp3' %}" type="audio/mpeg">
            Your browser does not support the audio element. (42)
          </audio>

      <div class="col-sm-12 col-md-12">
        <div class="col-md-6">
        <li>1. I go to the gym on …</li>
        <li>2. They visit friends on …</li>
        <li>3. We go to our grandparents’ house on ...</li>
        <li>4. My brothers get up late on …</li>
        <li>5. I have a Social Science lesson on …</li>  
      </div>

      <div class="col-md-3">
        <li>A. Mondays</li>
        <li>A. Saturdays</li>
        <li>A. Thursdays</li>
        <li>A. Saturdays</li>
        <li>A. Tuesdays</li>
      </div>  
        
        <div class="col-md-3">
        <li>B. Tuesdays</li>
        <li>B. Wednesdays</li>
        <li>B. Sundays</li>
        <li>B. Fridays</li>
        <li>B. Fridays</li>
      </div> 

      <div class="col-md-3">
        <li>C. Fridays</li>
        <li>C. Sundays</li>
        <li>C. Tuesdays</li>
        <li>C. Mondays</li>
        <li>C. Wednesdays</li>
      </div> 

      </div>  

      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}