{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 2 - Unit 2 - Lesson 4 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo2' %}">Module 2</a></li>
        <li><a href="{% url 'modulo2-unidad2' %}">Unit 2</a></li>
        <li >Lesson 4</li>
        <li class="active">Theme 4</li> 
        
</ol>

    {% include 'plantilla-lessons-module2.html' %}  
              
  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON VOCABULARY</h2>
      <h3></h3>
        <hr>
      <p>10. Listen again and write the adjectives
you hear in your notebook.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK50.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (50)
    </audio>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo2/Modulo2Unidad2Lesson1Theme4img1.png' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>

      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo2/Modulo2Unidad2Lesson1Theme4img2.png' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>
    </div>

    <p>11. Choose the correct word to complete
the sentences.</p>

    <div class="col-sm-12 col-md-12">
      <li>a. I’m sure you can cycle down this
hill. It isn’t dangerous / exciting.</li>
      <li>b. We love to rollerskate at the
weekend. It’s fun / boring.</li>
      <li>c. I don’t read many books.
They are boring / interesting.</li>
      <li>d. He wants to see that film again. It’s
really interesting / tiring.</li>
      <li>e. She doesn’t run marathons. They’re fun / tiring.</li>
      <li>f. I can’t wait until we do the New York Marathon. It’s dangerous / exciting.</li>
    </div>
    
    <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
      <h2>SPEAK</h2>
      <h3></h3>
        <hr>
      <p>12. Interview a classmate. Follow the steps below and make notes in your notebook.</p>

    <p>1. Choose six activities to find out about. <br></p>

    <p>Do you rollerskate? <br>   
No, I don’t. / Yes, I do.</p>

    <p>2. Find out why they do / don’t do that activity.</p>

    <p>Why do / don’t you rollerskate? <br>
I think it’s dangerous / fun. OR I don’t think it’s boring.</p>

      </div>

      <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
      <h2>WRITE</h2>
      <h3></h3>
        <hr>
      <p>13. Write a report about the activities your classmate does and the activities he/she doesn’t
do and why. Use the example below to help you.</p>

      <div class="centered">
        <img src="{% static 'img/modulo2/Modulo2Unidad2Lesson1Theme4img3.png' %}" class="img-responsive" alt="No found"/>
      </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}