{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 2 - Unit 1 - Lesson 3 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo2' %}">Module 2</a></li>
        <li><a href="{% url 'modulo2-unidad1' %}">Unit 1</a></li>
        <li >Lesson 3</li>
        <li class="active">Theme 3</li> 
        
</ol>

    {% include 'plantilla-lessons-module2.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>LISTEN</h2>
      <h3></h3>
        <hr>
      <p>7. Listen to three people talking about their daily routine. Complete the events and
times in the chart in your notebook.</p>

    <audio controls>
      <source src="{% static 'static/audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK46.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (46)
    </audio>


    <div class="centered">
      <img src="{% static 'img/modulo2/Modulo2Lesson3Theme3img1.png' %}" class="img-responsive" alt="No found"/>
    </div>


    <div class="centered">
      <img src="{% static 'img/modulo2/Modulo2Lesson3Theme3img2.png' %}" class="img-responsive" alt="No found"/>
    </div>
    
    <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
      <h2>FOCUS ON VOCABULARY</h2>
      <h3></h3>
        <hr>
      <p>8. Match the verbs a–h with the words in 1–8 to make phrases.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
       <p>Example: a–4 watch the news</p>
      </div>

      <div class="col-sm-6 col-md-6">
    <div class="centered">
      <img src="{% static 'img/modulo2/Modulo2Lesson3Theme3img3.png' %}" class="img-responsive" alt="No found"/>
    </div>
      </div>
    </div>

    <p>9. In your notebook, complete the sentences with the
phrases from exercise 8. Use the correct form.</p>

    <div class="col-sm-12 col-md-12">
      <li>a. Before school, he ____________ with books, a calculator and his pencil case.</li>
      <li>b. My dad ____________ on TV every evening at 6:00 pm.</li>
      <li>c. At weekends, she ____________ . Then she does the ironing.</li>
      <li>d. My mum ____________ in the afternoon when she is tired.</li>
      <li>e. Sandy ____________ from his phone.</li>
      <li>f. Margo ____________ at school.</li>
      <li>g. Kevin ____________ with his Maths homework after school every Monday.</li>
      <li>h. Tommy ____________ at 3:00 pm, then he plays football./li>
      
    </div>

      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}