{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 2 - Unit 2 - Lesson 4 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo2' %}">Module 2</a></li>
        <li><a href="{% url 'modulo2-unidad2' %}">Unit 2</a></li>
        <li >Lesson 4</li>
        <li class="active">Theme 2</li> 
        
</ol>

    {% include 'plantilla-lessons-module2.html' %}            
                          
  <div class="col-sm-9 col-md-9">
      <h2>READ</h2>
      <h3></h3>
        <hr>
      <p>4. Read the text. Which dances can you see in the pictures?</p>

    <div class="centered">
      <img src="{% static 'img/modulo2/Modulo2Unidad2Lesson1Theme2img1.PNG' %}" class="img-responsive" alt="No found"/>
    </div>
    
    <br>

    <p>5. Read the text again. Are the sentences true (T) or false (F)?</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>a. The Macarena doesn’t come from Spain.</li>
        <li>b. Zumba is a type of dance that helps you to keep fit.</li>
        <li>c. In Bollywood dance, you don’t just dance.</li>
        <li>d. Shakira doesn’t do Bollywood dance.</li>
        <li>e. The Haka is a dance that a lot of people do all over the world.</li>
      </div>

      <div class="col-sm-6 col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>glossary</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>world record = récord mundial <br>
              keep fit = mantenerse en forma <br>
              belly dancing = danza árabe <br>
              perform = realizar, actuar
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>

    

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}