{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 2 - Unit 3 - Lesson 8 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo2' %}">Module 2</a></li>
        <li><a href="{% url 'modulo2-unidad3' %}">Unit 3</a></li>
        <li >Lesson 8</li>
        <li class="active">Theme 1</li> 
        
</ol>

    {% include 'plantilla-lessons-module2.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON VOCABULARY</h2>
      <h3></h3>
        <hr>
      <p>1. Match the sentences to the pictures 1-8.</p>

      <div class="centered">
        <img src="{% static 'img/modulo2/Modulo2Unidad3Lesson2Theme1img1.PNG' %}" class="img-responsive" alt="No found"/>
      </div>
    
    <p>2. Ask and answer the questions with a classmate.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>a. Where do you usually go on holiday?</li>
        <li>b. What do you usually do on holiday?</li>
        <li>c. What is your favourite type of holiday?</li>
        <li>d. What is your least favourite type of holiday?</li>
      </div>

      <div class="col-sm-6 col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Useful expressions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>go to the beach <br>
go to summer camp <br>
go abroad <br>
go camping / skiing <br>
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>
    
      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}