{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 2 - Unit 2 - Lesson 4 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo2' %}">Module 2</a></li>
        <li><a href="{% url 'modulo2-unidad2' %}">Unit 2</a></li>
        <li >Lesson 4</li>
        <li class="active">Theme 3</li> 
        
</ol>

    {% include 'plantilla-lessons-module2.html' %}  

  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON VOCABULARY</h2>
      <h3></h3>
        <hr>
      <p>6. Listen and choose the correct option.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK48.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (48)
    </audio>

      <div class="centered">
        <img src="{% static 'img/modulo2/Modulo2Unidad2Lesson1Theme3img1.png' %}" class="img-responsive" alt="No found"/>
      </div>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>1. A. I cycle to school.</li>
        <li>2. A. We study at night.</li>
        <li>3. A. They sing very well.</li>
        <li>4. A. She walks the dog every day.</li>
        <li>5. A. You jog in the park.</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>B. I don’t cycle to school.</li>
        <li>B. We don’t study at night.</li>
        <li>B. They don’t sing very well.</li>
        <li>B. She doesn’t walk the dog every day.</li>
        <li>B. You don’t jog in the park.</li>
      </div>
    </div>

    <p>7. Complete the text with the correct form of the verb affirmative (+) or negative (-).</p>

      <div class="centered">
        <img src="{% static 'img/modulo2/Modulo2Unidad2Lesson1Theme3img2.png' %}" class="img-responsive" alt="No found"/>
      </div>

    <p>8. Listen and repeat. pay attention to the sound of don’t / doesn’t.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK49.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (49)
    </audio>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>a. My friend doesn’t walk the dog.</li>
        <li>b. My teacher doesn’t speak Japanese.</li>
        <li>c. Classes don’t start at 5:00 am.</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>d. I don’t jog or run.</li>
        <li>e. You don’t dance or sing.</li>
      </div>
    </div>
    
    <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
      <h2>LISTEN</h2>
      <h3></h3>
        <hr>
      <p>9. Listen and choose the correct option A, B, or C.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK50.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (50)
    </audio>

      <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>1. What does Dele say?</li>
        <li>A. I drink a lot of water.</li>
        <li>B. I don’t come from Nigeria.</li>
        <li>C. I do a lot of preparations.</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>4. What do they all say about preparing for a marathon?</li>
        <li>A. I run every day.</li>
        <li>B. I don’t go to bed late.</li>
        <li>C. I eat healthy food.</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>2. What does Nette say?</li>
        <li>A. I don’t run all year.</li>
        <li>B. We don’t go to bed late.</li>
        <li>C. It doesn’t make me strong.</li>
      </div>

      <div class="col-sm-6 col-md-6">
      
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="col-sm-12 col-md-12">
       <div class="col-sm-6 col-md-6">
        <li>3. What does Ryan say?</li>
        <li>A. I don’t do triathlons.</li>
        <li>B. I don’t like the weather in Australia.</li>
        <li>C. I don’t live in Australia at the moment.</li>
      </div>

      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo2/Modulo2Unidad2Lesson1Theme3img3.png' %}" class="img-responsive" alt="No found"/>
      </div>   
      </div>
    </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}