{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 2 - Unit 1 - Lesson 1 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo2' %}">Module 2</a></li>
        <li><a href="{% url 'modulo2-unidad1' %}">Unit 1</a></li>
        <li>Lesson 1</li>
        <li class="active">Theme 2</li>    
    </ol>

    {% include 'plantilla-lessons-module2.html' %}

  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON VOCABULARY</h2>
      <h3></h3>
        <hr>
      <p>4. Look at the activities that José does every day. Match the activities with a time and
write them in order in your notebook.</p>
          
      <p>get up = 6:00 am</p>

      <div class="centered">
          <img src="{% static 'img/modulo2/Modulo2Lesson1Theme2.png' %}" class="img-responsive" alt=""/>
      </div>
        <br />

      <p>5. Listen and check your answers.</p>
      
      <audio controls>
          <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK40.mp3' %}" type="audio/mpeg">
            Your browser does not support the audio element. (40)
          </audio>

      <p>6. Read the Useful expressions box. Listen to the sentences about daily routines.
Put the times a-f in the order you hear them.</p>

<audio controls>
          <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK41.mp3' %}" type="audio/mpeg">
            Your browser does not support the audio element. (41)
          </audio>

      <div class="col-sm-12 col-md-12">

      <div class="col-sm-4 col-md-4">
        <li>a. 3:00</li>
        <li>b. 8:15</li>
        <li>c. 1:30</li>
        <li>d. 11:45</li>
        <li>e. 7:30</li>
        <li>f. 9:10</li>
      </div>

      <div class="col-sm-8 col-md-8">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Useful expressions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>You can say the time in more than one way:
                <li>quarter past eight or eight fifteen</li>
                <li>quarter to twelve or eleven forty-five</li>
                <li>half past one or one thirty</li>
               </td>
              </tr>
            </tbody>
          </table>  
      </div>

      <p>7. In your notebook, write sentences about what time you do the activities in
exercise 4. Tell your partner about your daily routine.</p>

    <p>In the morning, I get up at …</p>
        
      </div>
      
      <br>

      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}