{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 2 - Unit 3 - Lesson 7 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo2' %}">Module 2</a></li>
        <li><a href="{% url 'modulo2-unidad3' %}">Unit 3</a></li>
        <li >Lesson 7</li>
        <li class="active">Theme 4</li> 
        
</ol>

    {% include 'plantilla-lessons-module2.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>SPEAK</h2>
      <h3></h3>
        <hr>
      <p>13. In your notebook, write information about these celebrations.</p>

      <div class="centered">
        <img src="{% static 'img/modulo2/Modulo2Unidad3Lesson1Theme4img1.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

      <p>14. Share the ideas from exercise 13 with a classmate. Are they similar? What are the differences?</p>

      <p>15. With another pair of students, share the similarities and differences of how you celebrate the
special occasions in exercise 13.</p>
    
    <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
      <h2>WRITE</h2>
      <h3></h3>
        <hr>
      <p>16. Invent your own special occasion. Write notes under the headings below. Then write a
paragraph describing the celebration. Use the texts on page 73 and the activities in
exercise 8 to help you.</p>

    <p>Name of the celebration: <br>
Place: <br> 
Date / Time: <br>
Activities:</p>

      <div class="centered">
        <img src="{% static 'img/modulo2/Modulo2Unidad3Lesson1Theme4img2.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}