{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 2 - Unit 2 - Lesson 6 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo2' %}">Module 2</a></li>
        <li><a href="{% url 'modulo2-unidad2' %}">Unit 2</a></li>
        <li >Lesson 6</li>
        <li class="active">Theme 2</li> 
        
</ol>

    {% include 'plantilla-lessons-module2.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>READ</h2>
      <h3></h3>
        <hr>
      <p>4. Read the text and answer the questions Yes (Y) or no (n). Correct the no answers.</p>

      <div class="centered">
        <img src="{% static 'img/modulo2/Modulo2Unidad2Lesson3Theme2img1.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

    <div class="col-sm-12 col-md-12">
      <li>a. Does Santiago only like rock music?</li>
      <li>b. Does he think vallenato music is boring?</li>
      <li>c. Does Jan play the same instrument as her dad?</li>
      <li>d. Does Jan’s dad think classical music is exciting?</li>
      <li>e. Does Annie like more than one type of music?</li>
      <li>f. Does she play any instruments?</li>
      <li>g. Does Lola like listening to music in her bedroom?</li>
      <li>h. Does Lola think pop music is annoying?</li>
    </div>
    
    <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
      <h2>FOCUS ON VOCABULARY</h2>
      <h3></h3>
        <hr>
      <p>5. Find five adjectives ending in –ing in the text. What do they describe?</p>

      <p>6. Complete the sentences with the words below so they are true for you.</p>

      <div class="centered">
        <img src="{% static 'img/modulo2/Modulo2Unidad2Lesson3Theme2img2.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-8 col-md-8">
        <div class="co-sm-6 col-md-6">
          <li>a. Pop music is …</li>
          <li>b. Reggae is …</li>
          <li>c. Classical music is …</li>
        </div>

        <div class="co-sm-6 col-md-6">
          <li>d. Rock music is …</li>
          <li>e. Vallenato music is …</li>
        </div>
      </div>

      <div class="col-sm-4 col-md-4">
    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK54.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (54)
    </audio>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>7. Say it!</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>sten and repeat.</b>
Practise pronouncing –ing / ŋ/. <br>
amazing annoying boring <br>
depressing exciting relaxing
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>

    <p>8. Compare your answers to exercise 6 with your classmate.</p>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}