{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 2 - Unit 1 - Lesson 1 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo2' %}">Module 2</a></li>
        <li><a href="{% url 'modulo2-unidad1' %}">Unit 1</a></li>
        <li >Lesson 1</li>
        <li class="active">Theme 4</li> 
        
</ol>

    {% include 'plantilla-lessons-module2.html' %}
              
              
  <div class="col-sm-9 col-md-9">
      <h2>READ</h2>
      <h3></h3>
        <hr>
      <p>13. Put the sentences in order to describe the daily routines of Clara and
  Santiago. Then write them in the correct order in your notebook.</p>
          
    <br>
      <div class="centered">
          <img src="{% static 'img/modulo2/Modulo2Lesson1Theme4.png' %}" class="img-responsive" alt=""/>
      </div>
        <br />
        <div class="centered">
          <img src="{% static 'img/modulo2/Modulo2Lesson1Theme4img2.png' %}" class="img-responsive" alt=""/>
      </div>
    <br>
     <h2>WRITE</h2>
      <h3></h3>
        <hr>
      <p>14. Write about your daily routine. Look
    through the lesson for ideas to help you.
    Check your writing carefully.</p>
        
      <div class="col-sm-4 col-md-4">
           <table class="table table-bordered">
            <thead>
              <tr>
                <th>Writing Tip</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Use these expressions to make
    your writing more interesting: <br>

    <li>After breakfast / lunch /
    school / classes, etc.</li>
    <li>First of all, Then, Finally</li>
    <li>When I return home.</li>
               </td>
              </tr>
            </tbody>
          </table>  
          </div>


      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}