{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 2 - Unit 3 - Lesson 8 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo2' %}">Module 2</a></li>
        <li><a href="{% url 'modulo2-unidad3' %}">Unit 3</a></li>
        <li >Lesson 8</li>
        <li class="active">Theme 4</li> 
        
</ol>

    {% include 'plantilla-lessons-module2.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>SPEAK</h2>
      <h3></h3>
        <hr>
      <p>10. Write six questions to ask your classmate about their holidays.
Look at pages 76 and 77 to help you.</p>

    <p>Example: When do you usually go on holiday?</p>

      <div class="centered">
        <img src="{% static 'img/modulo2/img/Modulo2Unidad3Lesson2Theme4img1.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

      <p>11. Now ask and answer the questions to find out
about your classmate’s holidays. give as much
information as you can. Write down their
answers in your notebook.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo2/img/Modulo2Unidad3Lesson2Theme4img2.PNG' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>

      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo2/img/Modulo2Unidad3Lesson2Theme4img3.PNG' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>
    </div>
    
    <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
      <h2>WRITE</h2>
      <h3></h3>
        <hr>
      <p>12. Write a paragraph about how your classmate
spends his/her holidays.</p>

    <div class="col-sm-12 col-md-12">
      <li>Remember these points:</li>
      <li>Think about a logical order for your paragraph.</li>
      <li>Use adjectives and linking words to make it more interesting.</li>
      <li>Write in third person (he/she).</li>
      <li>Check your work for spelling and punctuation.</li>
    </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}