{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 2 {% endblock %}

{%  block content %}
    
    <div class="container initial">
    <ol class="breadcrumb">
  <li class="active">Module 2</li>
             
</ol>
    
    
      <!-- Main component for a primary marketing message or call to action -->
        
    <div class="hw3">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h1>MODULE<b> TWO</b></h1>
				<h2>Around the world!</h2>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->
        
       <div id="wh">
          <div class="centered"><img src="{% static 'img/corchete.png' %}" class="image-reposive"/></div>
        <div class="row">
        <div class="col-md-8 col-lg-8">
      <br />
      <img src="{% static 'img/modulo2/modulo2.png' %}" class="img-responsive" alt=""/>
            </div>
      <div class="col-md-4 col-lg-4">
          <br />
              <font size="+1"><p>In this module you will ...</p>
        <li> learn how to describe daily routines and free-time activities i<br />
        <strong>Unit 1 From day to day </strong></li>
        <li> find out about different types of dances, sports, music and the weather in <br />
        <strong>Unit 2 Local colour</strong> </li>
        <li>  discover ways we celebrate and spend our holidays in different parts of the world in <br />
        <strong>Unit 3 Special days</strong> </li></font>
          </div>

      <div class="col-md-12 col-lg-12"> <hr />
      <div class="centered"><strong><font size="+2" color="#e0a638">Unit 1 From day to day </font> </strong></div>
  </div>

  <div class="col-md-4 col-lg-4">

      <br />
      <ol><strong>Lesson 1:</strong>
      <li><strong>Grammar</strong>: Present simple: affirmative
</li>
      <li><strong>Vocabulary:</strong> Daily routines Time
 </li>
      <li><strong>Listenning: </strong> Four teenagers describe their routines</li>
      <li><strong>Reading: </strong> Teenagers around the world
</li>
      <li><strong>Speaking: </strong> Talk about your daily routine
</li>
      <li><strong>Writing: </strong> Write about your daily routine</li>
      </ol>
  </div>
    <div class="col-md-4 col-lg-4">

      <br />
      <ol><strong>Lesson 2:</strong>
      <li><strong>Grammar:</strong> Present simple: questions
</li>
      <li><strong>Vocabulary:</strong> Free time activities</li>
      <li><strong>Listenning: </strong> Three short interviews</li>
      <li><strong>Reading: </strong> A survey about free time activities</li>
      <li><strong>Speaking: </strong> Do a survey
</li>
      <li><strong>Writing: </strong> Write the results of your survey</li>
      </ol>
  </div>
    <div class="col-md-4 col-lg-4">

      <br />
      <ol><strong>Lesson 3:</strong>
      <li><strong>Grammar:</strong> Present simple: third person</li>
      <li><strong>Vocabulary:</strong> Daily activities Time expressions</li>
      <li><strong>Listenning: </strong> Three people describe their daily routine</li>
      <li><strong>Reading: </strong> Describing someone else’s routine</li>
      <li><strong>Speaking: </strong> Interview about daily routines</li>
      <li><strong>Writing: </strong> AWrite the routine for a member of your family </li>
      </ol>
  </div>
            <div class="col-md-12"> <hr />
            <div class="centered"><strong><font size="+2" color="#e08738">Unit 2 Local colour</font> </strong></div>
            </div>
     <div class="col-md-4 col-lg-4">

      <br />
      <ol><strong>Lesson 4:</strong>
      <li><strong>Grammar:</strong> Present simple: negative
      <li><strong>Vocabulary: </strong> Sports Adjectives</li>
      <li><strong>Listenning: </strong> Interview with three marathon runners</li>
      <li><strong>Reading: </strong> Dances around the globe
</li>
      <li><strong>Speaking: </strong> Interview about activities </li>
      <li><strong>Writing: </strong> A report about your classmate’s activities
</li>
      </ol>
  </div>
     <div class="col-md-4 col-lg-4">

      <br />
      <ol><strong>Lesson 5:</strong>
      <li><strong>Grammar:</strong> Adverbs of frequency</li>
      <li><strong>Vocabulary:</strong> Weather and seasons Clothes </li>
      <li><strong>Listenning: </strong> Talking about weather and clothes Intonation in lists</li>
      <li><strong>Reading: </strong> What’s your favourite season?</li>
      <li><strong>Speaking: </strong> Presentation about the weather in a different country</li>
      <li><strong>Writing: </strong> An email describing weather and clothes</li>
      </ol>
  </div>
     <div class="col-md-4 col-lg-4">

      <br />
      <ol><strong>Lesson 6:</strong>
     <li><strong>Grammar:</strong> Verbs + -ing Yes/no questions </li>
      <li><strong>Vocabulary:</strong> Likes and dislikes -ing adjectives </li>
      <li><strong>Listenning: </strong> Interview with a famous pop star -ing  /ɪŋ/</li>
      <li><strong>Reading: </strong> People describing the role of music in their lives</li>
      <li><strong>Speaking: </strong> Interview about tastes in music</li>
      <li><strong>Writing: </strong> A paragraph about tastes in music</li>
      </ol>
  </div>

  <div class="col-md-12"> <hr />
  <div class="centered"><strong><font size="+2" color="#e07038">Unit 3 Special days</font> </strong></div>
  </div>
     <div class="col-md-4 col-lg-4">

      <br />
      <ol><strong>Lesson 7:</strong>
      <li><strong>Grammar:</strong> Prepositions: at, on, in</li>
      <li><strong>Vocabulary:</strong> Celebrations and festivals Ordinal numbers </li>
      <li><strong>Listenning: </strong> Four people describe celebrations in their country</li>
      <li><strong>Reading: </strong>Three texts about celebrations</li>
      <li><strong>Speaking: </strong> Discussing special occasions and how you celebrate them</li>
      <li><strong>Writing: </strong> A paragraph describing an invented celebration</li>
      </ol>
  </div>
     <div class="col-md-4 col-lg-4">

      <br />
      <ol><strong>Lesson 8:</strong>
      <li><strong>Grammar:</strong> Wh- questions with the present simple </li>
      <li><strong>Vocabulary:</strong> Holiday activities</li>
      <li><strong>Listenning: </strong> Interviews about holidays /h/ /w/</li>
      <li><strong>Reading: </strong> Interview about someone’s job</li>
      <li><strong>Speaking: </strong> Discussing holidays with a classmate</li>
      <li><strong>Writing: </strong> A paragraph about your classmate’s holidays</li>
      </ol>
  </div>
</div>
      </div>

    </div> <!-- /container -->    
    
    
	
		</div><!-- container -->
	</div><!--rwrap-->

{% endblock %}