{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 2 - Unit 2 - Lesson 4 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo2' %}">Module 2</a></li>
        <li><a href="{% url 'modulo2-unidad2' %}">Unit 2</a></li>
        <li >Lesson 4</li>
        <li class="active">Theme 1</li> 
        
</ol>

    {% include 'plantilla-lessons-module2.html' %}            
              
  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON VOCABULARY</h2>
      <h3></h3>
        <hr>
      <p>1. Which activities do you, your friends and your family do? Write sentences in
your notebook.</p>

      <p>Example: My mum dances at the weekend. <br>
      Tom cycles to school every day.</p>

    <div class="centered">
      <img src="{% static 'img/modulo2/Modulo2Unidad2Lesson1Theme1img1.png' %}" class="img-responsive" alt="No found"/>
    </div>
    
    <p>2. Find the activity that is different.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-4 col-md-4">
    <li>1. A. walk the dog</li>
    <li>2. A. sweep the floor</li>
    <li>3. A. go to bed late</li>
    <li>4. A. have lunch</li>
    <li>5. A. rollerskate</li>
      </div>

      <div class="col-sm-4 col-md-4">
    <li>B. brush my teeth</li>
    <li>B. watch TV</li>
    <li>B. jog</li>
    <li>B. cycle</li>
    <li>B. swim</li>
      </div>

      <div class="col-sm-4 col-md-4">
    <li>C. have a shower</li>
    <li>C. make the bed.</li>
    <li>C. hike</li>
    <li>C. have dinner</li>
    <li>C. go to the cinema</li>
      </div>
    </div>

    <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
      <h2>LISTEN</h2>
      <h3></h3>
        <hr>
      <p>3. Listen to six people talking. Choose the correct option.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK47.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (47)
    </audio>

    <div class="col-sm-12 col-md-12">
      <li>a. Jaime drives / doesn’t drive a taxi on Sundays.</li>
      <li>b. Pablo runs / doesn’t run when he’s on holiday.</li>
      <li>c. Tilly walks the dog / doesn’t walk the dog at the weekend.</li>
      <li>d. My teacher speaks / doesn’t speak Spanish.</li>
      <li>e. Patricia dances / doesn’t dance.</li>
      <li>f. Daniel gets up / doesn’t get up late at weekends.</li>
    </div> 

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}