{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 2 - Unit 2 - Lesson 5 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo2' %}">Module 2</a></li>
        <li><a href="{% url 'modulo2-unidad2' %}">Unit 2</a></li>
        <li >Lesson 5</li>
        <li class="active">Theme 1</li> 
        
</ol>

    {% include 'plantilla-lessons-module2.html' %}  
              
  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON VOCABULARY</h2>
      <h3></h3>
        <hr>
      <p>1. Match the types of weather to the pictures.</p>

      <p>Example: 1 = rainy</p>

      <div class="centered">
        <img src="{% static 'img/modulo2/Modulo2Unidad2Lesson2Theme1img1.PNG' %}" class="img-responsive" alt="No found"/>
      </div>
    
      <p>2. Listen to five people describing the weather in the places in exercise 1.
Match the speakers a-e to the pictures 1-5.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK51.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (51)
    </audio>

    <p>3. Match the adjectives describing temperature to pictures 1-4.</p>

      <div class="centered">
        <img src="{% static 'img/modulo2/Modulo2Unidad2Lesson2Theme1img2.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

      <div class="centered">
        <img src="{% static 'img/modulo2/Modulo2Unidad2Lesson2Theme1img3.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

      <p>4. Describe the weather where you are today.</p>

      <p>Example: I’m in Oxford. It’s cold and rainy.</p>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}