{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 2 - Unit 2 - Lesson 5 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo2' %}">Module 2</a></li>
        <li><a href="{% url 'modulo2-unidad2' %}">Unit 2</a></li>
        <li >Lesson 5</li>
        <li class="active">Theme 3</li> 
        
</ol>

    {% include 'plantilla-lessons-module2.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON LANGUAGE</h2>
      <h3></h3>
        <hr>
      <p>7. Look at the diagram. Find examples of frequency adverbs in the text in exercise 5.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo2/Modulo2Unidad2Lesson2Theme3img1.png' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>

      <div class="col-sm-6 col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Useful language</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>adverb in affirmative and <br>
negative sentences. <br>
We usually go to the beach <br>
in the summer. <br>
We don’t usually go to the <br>
beach in the summer. <br> 
The negative form is used <br>
with always and usually.
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>

    <p>8. Read the Useful language box, then complete the sentences.</p>
    
    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>a. People in Colombia ______ go on holiday in December.</li>
        <li>b. It ______ rains in the Atacama Desert.</li>
        <li>c. I ______ wear shorts in the snow.</li>
        <li>d. In Canada it ______ snows in the winter.</li>
        <li>e. In spring, the weather is ______ cold and rainy.</li>
      </div>

      <div class="col-sm-6 col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>glossary</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Don’t confuse the words <br>
wear and carry. <br>
wear = llevar puesto <br>
carry = llevar (en sus manos)
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>

    <div class="col-sm-12 col-md-12"></div>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
    <h2>FOCUS ON VOCABULARY</h2>
      <h3></h3>
        <hr>
      <p>9. Match the words to the clothes 1-12.</p>

      <div class="centered">
        <img src="{% static 'img/modulo2/Modulo2Unidad2Lesson2Theme3img2.png' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>

      <div class="col-sm-6 col-md-6">
    <h2>LISTEN</h2>
      <h3></h3>
        <hr>
      <p>10. Listen to five people and say if the
sentences are true (T) or false (F).</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK52.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (52)
    </audio>

      <div class="col-sm-12 col-md-12">
        <li>a. Speaker 1 never carries an umbrella.</li>
        <li>b. Spring in Paris is usually cloudy and cool.</li>
        <li>c. Speaker 2 never wears a lot of clothes in
winter.</li>
        <li>d. At the weekends, he goes to the mountains.</li>
        <li>e. Speaker 3 always wears a dress or a skirt
and a T-shirt.</li>
        <li>f. Speaker 4 lives in Wellington where it’s
always windy.</li>
        <li>g. Speaker 5 is from Santa Marta, where it’s
usually cloudy and hot.</li>
        <li>h. He usually plays volleyball with his friends.</li>
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <p>11. Tell a classmate about the clothes you
wear for different types of weather.</p>

      <p>Example: When it’s rainy and cool, I wear <br>
a coat, a hat, boots, jeans and a jumper. <br>
I carry an umbrella.</p>

      </div>
    </div>

      <div class="col-sm-12 col-md-12">
  
      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}