{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 3 - Unit 1 - Lesson 2 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo3' %}">Module 3</a></li>
        <li><a href="{% url 'modulo3-unidad1' %}">Unit 1</a></li>
        <li >Lesson 2</li>
        <li class="active">Theme 4</li> 
        
</ol>

    {% include 'plantilla-lessons-module3.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>WRITE</h2>
      <h3></h3>
        <hr>
      <p>10. Read the text and answer the questions a-e.</p>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad1Lesson2Theme4img1.png' %}" class="img-responsive" alt="No found"/>
      </div>

    <div class="col-sm-12 col-md-12">
      <li>a. What time do people eat their meals in the UK?</li>
      <li>b. What do people eat for breakfast, lunch and dinner?</li>
      <li>c. What healthy / unhealthy food is mentioned?</li>
      <li>d. Find two ways of saying ‘tastes good’.</li>
      <li>e. Find the different ways of saying if something is healthy / unhealthy.</li>
    </div>

    <p>11. Read the task and write your email. Use the text in exercise 10 to help you.</p>

    <div class="col-sm-12 col-md-12">

    <p>Your penfriend wants to know about food in Colombia for her/his trip next month.
Write an email telling her/him about meals in Colombia. Write about:</p>

    <li>what type of restaurants there are</li>
    <li>what she/he can eat for breakfast, lunch and dinner</li>
    <li>which dishes are healthy / unhealthy</li>
    <li>recommend some traditional dishes.</li>

    </div>
    
      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}