{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 3 - Unit 2 - Lesson 5 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo3' %}">Module 3</a></li>
        <li><a href="{% url 'modulo3-unidad1' %}">Unit 2</a></li>
        <li >Lesson 5</li>
        <li class="active">Theme 3</li> 
        
</ol>

    {% include 'plantilla-lessons-module3.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>LISTEN</h2>
      <h3></h3>
        <hr>
      <p>6. Listen to the interviews and write who agrees with the sentences a-f: charlie (c) or Tanya (T).</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK77.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (77)
    </audio>

      <div class="col-sm-12 col-md-12">
        <li>To look after the environment …</li>
        <li>a. you should eat less meat.</li>
        <li>b. you shouldn’t waste water.</li>
        <li>c. you should turn off lights.</li>
        <li>d. you should walk, cycle or go by bus.</li>
        <li>e. you shouldn’t throw away plastic bags, reuse them.</li>
        <li>f. you should recycle your rubbish.</li>
      </div>

     <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
      <h2>FOCUS ON LANGUAGE</h2>
      <h3></h3>
        <hr>
      <p>7. Read the sentences and answer the questions a-e.</p>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad2Lesson2Theme3img1.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>a. Are these sentences making suggestions or giving an order?</li>
        <li>b. Which sentence is saying not to do something?</li>
        <li>c. Which sentences are saying to do something?</li>
        <li>d. Does the word should change for different parts of speech (I, you, he, she, we, they)?</li>
        <li>e. How do you form a question?</li>
      </div>

      <div class="col-sm-6 col-md-6">
    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK78.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (78)
    </audio>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>8. Say it!</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>practise the sound /∫ /. <br>
Listen and repeat.</b> <br>
Should Shelley shop for shoes?
          </td>
        </tr>
      </tbody>
    </table>

      </div>
    </div>

    <p>9. Write sentences to give advice to a friend who wants to help the environment. Use the
words in the box or your own ideas and should / shouldn’t.</p>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad2Lesson2Theme3img2.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

    <p>Example: You should eat less meat. / You shouldn’t throw away plastic bags.</p>
      </div>
    
      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}