{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 3 - Unit 2 - Lesson 4 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo3' %}">Module 3</a></li>
        <li><a href="{% url 'modulo3-unidad2' %}">Unit 2</a></li>
        <li >Lesson 4</li>
        <li class="active">Theme 1</li> 
        
</ol>

    {% include 'plantilla-lessons-module3.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON VOCABULARY</h2>
      <h3></h3>
        <hr>
      <p>1. Complete the descriptions with the words in the box.</p>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad2Lesson1Theme1img1.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad2Lesson1Theme1img2.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Useful V ocabulary</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Don’t confuse chips and crisps. <br>
<b>Chips</b> are long and thin. People eat them hot with salt and tomato ketchup. <br>
<b>Crisps</b> are round and very thin. People eat them cold straight from the packet.
          </td>
        </tr>
      </tbody>
    </table>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <p>3. Complete the conversation with words from exercise 1.
Then listen and check.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK72.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (72)
    </audio>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad2Lesson1Theme1img3.PNG' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>


      <div class="col-sm-6 col-md-6">

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK71.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (71)
    </audio>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>2. Say it!</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>Read the information. Then <br>
listen and repeat.</b> <br>
In these phrases, the underlined <br>
nouns are stressed and the words <br>
a and of are unstressed. <br>
a bottle of water <br>
a cup of coffee <br>
a bowl of soup
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>
    
      <p>4. practise reading out the dialogue with a classmate.</p>
    
      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}