{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 3 - Unit 1 - Lesson 3 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo3' %}">Module 3</a></li>
        <li><a href="{% url 'modulo3-unidad1' %}">Unit 1</a></li>
        <li >Lesson 3</li>
        <li class="active">Theme 2</li> 
        
</ol>

    {% include 'plantilla-lessons-module3.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>SPEAK</h2>
      <h3></h3>
        <hr>
      <p>5. Ask and answer questions with two classmates about what you eat during the week.</p>

      <p>What do you eat on Mondays? <br>
On Mondays, I eat burgers and chips.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad1Lesson3Theme2img1.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

      </div>

      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad1Lesson3Theme2img2.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

      </div>

      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad1Lesson3Theme2img3.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

      </div>

      <div class="col-sm-6 col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>glossary</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>a slice = un pedazo <br>
expensive = caro <br>
I’m hungry. = Tengo hambre. <br>
I’m thirsty. = Tengo sed. <br>
main meal = comida principal <br>
          </td>
        </tr>
      </tbody>
    </table>

      </div>

    </div>
    
    <div class="col-sm-12 col-md-12">
      <li>a. Who has a few potatoes for lunch?</li>
      <li>b. Who eats a lot of fruit?</li>
      <li>c. Who doesn’t eat breakfast?</li>
      <li>d. Who eats a lot of crisps?</li>
      <li>e. Who drinks a lot water?</li>
    </div>

    <p>7. Read the texts again and answer the questions.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>a. What are Jeff’s favourite meals?</li>
        <li>b. What does Ellen have for dinner?</li>
        <li>c. What does Ward have for lunch?</li>
      </div>

      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad1Lesson3Theme2img4.PNG' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>
    </div>
    
      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}