{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 3 - Unit 3 - Lesson 8 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo3' %}">Module 3</a></li>
        <li><a href="{% url 'modulo3-unidad3' %}">Unit 3</a></li>
        <li >Lesson 8</li>
        <li class="active">Theme 2</li> 
        
</ol>

    {% include 'plantilla-lessons-module3.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>READ</h2>
      <h3></h3>
        <hr>
        <p>4. Read about eating habits in four different countries. Match the pictures to the texts a-d.</p>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad3Lesson2Theme2img1.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>glossary</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>chopsticks = palillos chinos <br>
cooked = cocinado <br>
uncooked = sin cocinar <br>
soup = sopa <br>
          </td>
        </tr>
      </tbody>
    </table>
      </div>

      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad3Lesson2Theme2img2.PNG' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>
    </div>

      <p>5. Read the texts again. Are the sentences true (T) or false (F)?</p>

    <div class="col-sm-12 col-md-12">
      <li>a. All over Nepal, people eat the same food.</li>
      <li>b. In Nepal you can only eat with one of your hands.</li>
      <li>c. In Japan there are options to where you eat and what you eat with.</li>
      <li>d. In Japan they eat a lot of potatoes.</li>
      <li>e. People in Ethiopia eat eggs and vegetables for breakfast.</li>
      <li>f. You can’t eat with your hands in Ethiopia.</li>
      <li>g. People in Central America make a lot of dishes from corn.</li>
      <li>h. You can’t eat on Thursdays in Guatemala.</li>
    </div>
    
      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}