{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 3 - Unit 3 - Lesson 8 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo3' %}">Module 3</a></li>
        <li><a href="{% url 'modulo3-unidad3' %}">Unit 3</a></li>
        <li >Lesson 8</li>
        <li class="active">Theme 4</li> 
        
</ol>

    {% include 'plantilla-lessons-module3.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>SPEAK</h2>
      <h3></h3>
        <hr>
        <p>12. Match the pictures to the phrases a-f.</p>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad3Lesson2Theme4img1.png' %}" class="img-responsive" alt="No found"/>
      </div>

    <div class="col-sm-12 col-md-12">
      <li>a. In many countries, you can eat sandwiches with your hands.</li>
      <li>b. In some countries, you can eat off a banana leaf.</li>
      <li>c. In most countries, you can eat at a table.</li>
      <li>d. In some Asian countries, you can sit on the floor to eat.</li>
      <li>e. In most countries, you can use knives, forks and spoons.</li>
      <li>f. In some Asian countries, you can use chopsticks to eat.</li>
    </div>

    <p>13. n ow choose two countries and compare the social etiquette around meals.
Say what you can and can’t do in each country.</p>

    <p>Example: In Colombia you can arrive late, but in Britain you can’t.</p>

      <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
      <h2>WRITE</h2>
      <h3></h3>
        <hr>
      <p>14. Write an email to your pen friend about the eating habits in your country.
Use the text on p115 to help you. Include this information:</p>

    <div class="col-sm-12 col-md-12">
        <li>Do I need to arrive on time?</li>
        <li>What can’t I do at the table?</li>
        <li>Can I leave some food on my plate?</li>
        <li>Do I need to use chopsticks / do special things with my knife, fork and spoon?</li>
        <li>What kind of food can I expect?</li>
    </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}