{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 3 - Unit 2 - Lesson 4 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo3' %}">Module 3</a></li>
        <li><a href="{% url 'modulo3-unidad2' %}">Unit 2</a></li>
        <li >Lesson 4</li>
        <li class="active">Theme 2</li> 
        
</ol>

    {% include 'plantilla-lessons-module3.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>LISTEN</h2>
      <h3></h3>
        <hr>
      <p>5. Read the definitions of healthy / unhealthy food. Then look through module 3 and write as
many healthy and unhealthy food and drink words as you can in your notebook.</p>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad2Lesson1Theme2img1.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad2Lesson1Theme2img2.PNG' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>

      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad2Lesson1Theme2img3.PNG' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
       <p>6. Look at the lists of healthy and unhealthy <br>
food and tick (✓) the items you eat or <br>
drink. Write how many times a week / day <br>
you have them.</p>
      </div>

      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad2Lesson1Theme2img4.PNG' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>
    </div>

    <p>7. Listen to a conversation between a doctor
and a patient who has completed a healthy
eating questionnaire. Choose the correct
option A, B or C.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK73.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (73)
    </audio>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>1. What does the doctor think is good about
Manuela’s diet?</li>
        <li>A. She seems to eat a lot of chips.</li>
        <li>B. She drinks a lot of water.</li>
        <li>C. There’s some information missing.</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>4. How is Manuela confused about a
balanced diet?</li>
        <li>A. She eats too much unhealthy food and
too much healthy food.</li>
        <li>B. She thinks it means eating the same
amount of healthy and unhealthy food.</li>
        <li>C. She thinks it means getting the right
balance across the food groups.</li>
      </div>

    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="col-sm-12 col-md-12">

          <div class="col-sm-6 col-md-6">
        <li>2. What does Manuela say about chips?</li>
        <li>A. She eats three or four plates of chips
every day.</li>
        <li>B. She’d like to eat fewer chips.</li>
        <li>C. She loves them – especially with
ketchup and salt.</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>5. What does the doctor tell Manuela to do?</li>
        <li>A. He doesn’t think she understands.</li>
        <li>B. He tells her to see the correct
balance.</li>
        <li>C. He tells her to have less unhealthy
food and drink.</li>
      </div>
      
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="col-sm-12 col-md-12">
          <div class="col-sm-6 col-md-6">
        <li>3. What does the doctor say about fizzy
drinks?</li>
        <li>A. You don’t need to have them.</li>
        <li>B. He loves fizzy drinks.</li>
        <li>C. You only need orange juice.</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <p>8. Answer the questions about your diet.</p>
        <li>a. Do you eat more food from the healthy
or the unhealthy food list?</li>
        <li>b. What makes the food and drink you eat
unhealthy? (e.g. too much sugar / fat)</li>
        <li>c. What changes should you make to
your diet?</li>
      </div>
      
    </div>


      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}