{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 3 - Unit 1 - Lesson 1 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo3' %}">Module 3</a></li>
        <li><a href="{% url 'modulo3-unidad1' %}">Unit 1</a></li>
        <li >Lesson 1</li>
        <li class="active">Theme 2</li> 
        
</ol>

    {% include 'plantilla-lessons-module3.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON LANGUAGE</h2>
      <h3></h3>
        <hr>
      <p>6. Read the Useful language box. Then look at the pictures and write C for Countable
and U for Uncountable.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-8 col-md-8">
      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad1Lesson1Theme2img1.PNG' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>

      <div class="col-sm-4 col-md-4">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Useful language</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Food words are <br>
            countable or <br>
            uncountable <br>
            Countable nouns refer <br>
            to words you can <br>
            count. They <b>can</b> be <br>
            singular or plural <br>
            Uncountable nouns <br>
            refer to words you <br>
            <b>can’t</b> count. They are <br>
            always singular
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>  

    <p>7. Listen to Matt and Kelly talking about food and drink. Write M for Matt and K for Kelly.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK65.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (65)
    </audio>

    <p>Who …</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>a. doesn’t like bread? __________</li>
        <li>b. prefers juice to coffee? __________</li>
        <li>c. always has a big breakfast ? __________</li>
        <li>d. buys an apple for a snack? __________</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>e. has fish for lunch? __________</li>
        <li>f. thinks vegetables are good for you? __________</li>
        <li>g. doesn’t like chicken? __________</li>
        <li>h. loves chocolate? __________</li>
      </div>
    </div>
  
  <p>8. Listen again and write what they eat for each meal.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK65.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (65)
    </audio>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad1Lesson1Theme2img2.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

    <p>9. In your notebook, write what you usually have for each meal.</p>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}