{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 3 - Unit 3 - Lesson 8 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo3' %}">Module 3</a></li>
        <li><a href="{% url 'modulo3-unidad3' %}">Unit 3</a></li>
        <li >Lesson 8</li>
        <li class="active">Theme 1</li> 
        
</ol>

    {% include 'plantilla-lessons-module3.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON VOCABULARY</h2>
      <h3></h3>
        <hr>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad3Lesson2Theme1img1.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

      <p>1. Look at the pictures and match them to the phrases a-l.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>How to be polite</li>
        <li>a. arrive on time / early / late</li>
        <li>b. kiss / hug</li>
        <li>c. shake hands</li>
        <li>d. take off / don’t take off your shoes</li>
        <li>e. sit on the floor / sit at the table</li>
        <li>f. eat / don’t eat with your hands</li>
      </div>

      <div class="col-sm-6 col-md-6">
      <br>
        <li>g. put / don’t put your elbows on the table</li>
        <li>h. leave / don’t leave food</li>
        <li>i. say please and thank you</li>
        <li>j. use a napkin</li>
        <li>k. don’t talk with your mouth full</li>
        <li>l. don’t use your mobile at the table</li>
      </div>
    </div>

      <p>2. Use the five phrases in exercise 1 which don’t have a picture to complete these sentences.</p>

    <div class="col-sm-12 col-md-12">
      <li>a. Wait until you finish eating to speak. _________ .</li>
      <li>b. In Britain, it’s polite to _________ . Don’t be late.</li>
      <li>c. In Japan, it’s traditional to _________ to eat.</li>
      <li>d. In Britain, people always _________ when someone is kind to them.</li>
      <li>e. In Japan, you should _________ when you enter a house.</li>
    </div>

   <p>3. Look again at the phrases in exercise 1. What should people do to be polite in Colombia?</p>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}