{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 3 - Unit 2 - Lesson 5 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo3' %}">Module 3</a></li>
        <li><a href="{% url 'modulo3-unidad2' %}">Unit 2</a></li>
        <li >Lesson 5</li>
        <li class="active">Theme 2</li> 
        
</ol>

    {% include 'plantilla-lessons-module3.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>READ</h2>
      <h3></h3>
        <hr>
      <p>4. Do the quiz. Then listen to check your answers.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK76.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (76)
    </audio>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>1. Which is the most dangerous species?</li>
        <li>A. Sharks</li>
        <li>B. Humans</li>
        <li>C. Spiders</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>3. Very large animal farms destroy …</li>
        <li>A. rivers and lakes.</li>
        <li>B. the fields.</li>
        <li>C. our houses.</li>
      </div>
    </div>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>2. Animals die and may become extinct when they …</li>
        <li>A. lose their habitat.</li>
        <li>B. are food for other animals.</li>
        <li>C. are food for people.</li>
      </div>

      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad2Lesson2Theme2img1.png' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>
    </div>

 <p>5. Read the text. Are the sentences a-e true (T)
or false (F)? Correct the false sentences.</p>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad2Lesson2Theme2img2.png' %}" class="img-responsive" alt="No found"/>
      </div>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-8 col-md-8">
        <li>a. Meatless Mondays is a campaign to get people to recycle paper.</li>
        <li>b. We are damaging the planet to produce meat.</li>
        <li>c. We need just a little water and food to get a lot of meat.</li>
        <li>d. Eating meat is the best way to feed a growing population.</li>
        <li>e. Eating meat every day is bad for our health.</li>
      </div>

      <div class="col-sm-4 col-md-4">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>glossary</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>feed = alimentar <br>
grow = crecer <br>
encourage = animar
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>
    
      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}