{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 3 - Unit 1 - Lesson 2 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo3' %}">Module 3</a></li>
        <li><a href="{% url 'modulo3-unidad1' %}">Unit 1</a></li>
        <li >Lesson 2</li>
        <li class="active">Theme 2</li> 
        
</ol>

    {% include 'plantilla-lessons-module3.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>READ</h2>
      <h3></h3>
        <hr>
      <p>4. Read the text and match the questions a-d to the paragraphs.</p>

        <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>a. How much sugar do you need every day?</li>
        <li>b. How many meals do you need every day?</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>c. How much water do you need every day?</li>
        <li>d. How much fruit do you need every day?</li>
      </div>
    </div>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad1Lesson2Theme2img1.png' %}" class="img-responsive" alt="No found"/>
      </div>
    
      <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
      <p>5. Read the text again and choose the <br>
correct option.</p>
        <li>1. How many meals do you need to have
a day?</li>
        <li>A. Six small meals</li>
        <li>B. Six big meals</li>
        <li>C. Three big meals</li>
      </div>

       <div class="col-sm-6 col-md-6">
        <li>4. How much sugar do you need?</li>
        <li>A. Your body doesn’t need sugar.</li>
        <li>B. Your body needs small quantities.</li>
        <li>C. Your body needs big quantities.</li>
      </div>

       <div class="col-sm-6 col-md-6">
       <p>6. Find these words in the text and match <br>
them to the definitions.</p>
      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad1Lesson2Theme2img2.png' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>2. How much fruit do you need to have
a day?</li>
        <li>A. None (zero)</li>
        <li>B. One to three portions</li>
        <li>C. Three to five portions</li>
      </div>

       <div class="col-sm-6 col-md-6">
        <li>a. a place to buy food and other products</li>
        <li>b. a container of liquids</li>
        <li>c. not artificial</li>
        <li>d. professionals who are trained to treat <br>
ill people</li>
      </div>

       <div class="col-sm-6 col-md-6">
        <li>3. How much water do you need?</li>
        <li>A. One glass</li>
        <li>B. One litre</li>
        <li>C. 10 glasses</li>
      </div>
    </div>
    
      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}