{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 3 - Unit 1 - Lesson 1 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo3' %}">Module 3</a></li>
        <li><a href="{% url 'modulo3-unidad1' %}">Unit 1</a></li>
        <li >Lesson 1</li>
        <li class="active">Theme 3</li> 
        
</ol>

    {% include 'plantilla-lessons-module3.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>READ</h2>
      <h3></h3>
        <hr>
      <p>10. Read the text and match the dishes to the pictures. There is one dish with no picture.
What is it?</p>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>glossary</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>avocado = aguacate <br>
              herbs = hierbas/especies <br>
              pineapple = piña <br>
              soup = sopa <br>
              strawberries = fresas <br>
              stuffed = relleno
          </td>
        </tr>
      </tbody>
    </table>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad1Lesson1Theme3img1.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

      <p>11. Are the statements true (T) or false (f)?</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>a. Cholao has fruit and vegetables __________.</li>
        <li>b. Lechona is a traditional dish from
Boyacá. __________</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>c. Cheese, rice and egg are some of the
ingredients of Ajiaco. __________</li>
        <li>d. Ajiaco is a soup. __________</li>
      </div>
    </div>

    <p>12. Complete the descriptions about each dish.</p>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad1Lesson1Theme3img2.PNG' %}" class="img-responsive" alt="No found"/>
      </div>
    
      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}