{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 3 - Unit 3 - Lesson 8 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo3' %}">Module 3</a></li>
        <li><a href="{% url 'modulo3-unidad3' %}">Unit 3</a></li>
        <li >Lesson 8</li>
        <li class="active">Theme 3</li> 
        
</ol>

    {% include 'plantilla-lessons-module3.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>LISTEN</h2>
      <h3></h3>
        <hr>
        <p>6. Listen and complete the sentences in your notebook with the correct country.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK83.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (83)
    </audio>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad3Lesson2Theme3img1.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

    <div class="col-sm-12 col-md-12">
      <li>a. In ________, you can’t arrive late to a dinner invitation.</li>
      <li>b. In ________, you can arrive late to a dinner invitation.</li>
      <li>c. In ________, you can kiss people to greet them.</li>
      <li>d. In _________, you can’t leave food on your plate.</li>
      <li>e. In ________, you can leave food on your plate.</li>
      <li>f. In ________, you can’t put food in your mouth with a fork.</li>
      <li>g. In __________ and ________, you can eat with your hands.</li>
      <li>h. In _________, you can’t eat with your left hand.</li>
    </div>

      <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
      <h2>FOCUS ON LANGUAGE</h2>
      <h3></h3>
        <hr>
      <p>7. complete the sentences using can or can’t so they are
true for colombia.</p>

    <div class="col-sm-12 col-md-12">
        <li>a. You ________ eat fish with your hands.</li>
        <li>b. You ________ arrive late for a meal.</li>
        <li>c. You ________ talk with your mouth full.</li>
        <li>d. You ________ put your elbows on the table.</li>
    </div>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>useful language</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>We use can and can’t to talk about <br>
what is and isn't acceptable.
          </td>
        </tr>
      </tbody>
    </table>
      </div>

      <div class="col-sm-6 col-md-6">

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK84.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (84)
    </audio>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>8. say it!</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>Listen and repeat the following <br>
sentences.</b> <br>
You can’t arrive late. <br>
You can arrive late.
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>

    <p>9. now write the word you hear in your notebook.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK85.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (85)
    </audio>

    <div class="col-sm-12 col-md-12">
        <li>a. I can / can’t speak with my mouth full.</li>
        <li>b. You can / can’t leave some food on your plate.</li>
        <li>c. Paul can / can’t use chopsticks.</li>
        <li>d. She can / can’t eat meat.</li>
    </div>

    <p>10. Put the words in order to make questions.</p>

    <p>Example: <br> 
late / I / can / arrive? <br>
Can I arrive late?</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>a. I / hands / eat / can / my / with ?</li>
        <li>b. we / can / late / arrive ?</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>c. can / bring / flowers / he ?</li>
        <li>d. they / can / juice / some / drink ?</li>
      </div>
    </div>

    <p>11. In pairs, ask and answer the questions in exercise 10.</p>

    <p>Example: <br>
Can I arrive late? <br>
Yes, you can. / No, you can’t.</p>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}