{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 3 - Unit 3 - Lesson 7 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo3' %}">Module 3</a></li>
        <li><a href="{% url 'modulo3-unidad3' %}">Unit 3</a></li>
        <li >Lesson 7</li>
        <li class="active">Theme 1</li> 
        
</ol>

    {% include 'plantilla-lessons-module3.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>SPEAK</h2>
      <h3></h3>
        <hr>
      <p>1. Find out how many students in your class do the activities in the list below.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>Make a pie chart with the results.</li>
        <li>a. watch TV.</li>
        <li>b. exercise.</li>
        <li>c. go online.</li>
        <li>d. chat with my friends.</li>
        <li>e. go cycling.</li>

        <p>Example: <br>
In my class, 29% of the students watch TV…</p>
      </div>

      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad3Lesson1Theme1img1.PNG' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>
    </div>

    <p>2. Complete the sentences with the activities in exercise 1.</p>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad3Lesson1Theme1img2.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

    <p>3. Match the sentences to the pictures.</p>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad3Lesson1Theme1img3.PNG' %}" class="img-responsive" alt="No found"/>
      </div>
      
      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}