{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 3 - Unit 3 - Lesson 7 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo3' %}">Module 3</a></li>
        <li><a href="{% url 'modulo3-unidad3' %}">Unit 3</a></li>
        <li >Lesson 7</li>
        <li class="active">Theme 4</li> 
        
</ol>

    {% include 'plantilla-lessons-module3.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>LISTEN</h2>
      <h3></h3>
        <hr>
      <p>11. Listen to Vicky and Ben and answer the questions.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK82.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (82)
    </audio>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
   <li>a. Who plays the guitar?</li>
       <li>b. What does Ben do on Tuesday evenings?</li>
       <li>c. When does Vicky do yoga?</li>
       <li>d. Where does Ben play football?</li>
       <li>e. When and where do they arrange to meet?</li> 
      </div>

      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad3Lesson1Theme4img1.png' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>
    </div>

      <p>12. Listen again and match the adjectives to the activities.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK82.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (82)
    </audio>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad3Lesson1Theme4img2.png' %}" class="img-responsive" alt="No found"/>
      </div>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>a. play the guitar</li>
        <li>b. do yoga</li>
        <li>c. play football</li>
      </div>

      <div class="col-sm-6 col-md-6">
        <li>d. go skating</li>
        <li>e. play chess</li>
      </div>
    </div>

    <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
      <h2>SPEAK</h2>
      <h3></h3>
        <hr>
      <p>13. In pairs, talk about what you do in your free time.
Use play, go and do, the adjectives in exercise 12
and frequency adverbs.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad3Lesson1Theme4img4.png' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>

      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad3Lesson1Theme4img3.png' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>
    </div>
      </div>

      <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
      <h2>WRITE</h2>
      <h3></h3>
        <hr>
      <p>14. Write a paragraph about how you spend your free time during the week and at weekends.</p>

      <p>Use time expressions, frequency adverbs and adjectives.</p>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad3Lesson1Theme4img5.png' %}" class="img-responsive" alt="No found"/>
      </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}