{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 3 - Unit 1 - Lesson 2 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo3' %}">Module 3</a></li>
        <li><a href="{% url 'modulo3-unidad1' %}">Unit 1</a></li>
        <li >Lesson 2</li>
        <li class="active">Theme 1</li> 
        
</ol>

    {% include 'plantilla-lessons-module3.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON VOCABULARY</h2>
      <h3></h3>
        <hr>
      <p>1. Look at the diagram of the food groups and complete the information about
why food is important for your body.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad1Lesson2Theme1img1.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

      </div>

      <div class="col-sm-6 col-md-6">
        <li>a. __________ (e.g. bananas and apples): They give <br>
your body fibre, vitamins and antioxidants.</li>
        <li>b. __________ (e.g. carrots and broccoli): They give <br>
your body vitamins, minerals and fibre.</li>
        <li>c. __________ (e.g. soya milk and yoghurt): They <br>
provide calcium.</li>
        <li>d. __________ (e.g. rice or pasta): They give you <br>
energy, and help the body grow and work <br>
correctly.</li>
        <li>e. __________ (e.g. chicken or fish): These help your <br>
body to build and repair tissues.</li>
        <li>f. __________ (e.g. chocolate or butter): These <br>
provide lots of energy for your body.</li>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>glossary</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>build = construir br
fibre = fibra <br>
tissues = tejidos
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>

    
    <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
      <h2>LISTEN</h2>
      <h3></h3>
        <hr>

        <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
      <p>2. Listen to the information about the Food
pyramid and complete the diagram with
the food groups 1-6.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK66.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (66)
    </audio>

        <li>1. fruit</li>
        <li>2. vegetables</li>
        <li>3. proteins</li>
        <li>4. grains</li>
        <li>5. dairy</li>
        <li>6. fats and sugars</li>
      </div>

      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad1Lesson2Theme1img2.PNG' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>
    </div>

    <p>3. Write the words in the correct food group. Then listen to the person talking about the Food
pyramid and check your answers.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK66.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (66)
    </audio>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad1Lesson2Theme1img3.PNG' %}" class="img-responsive" alt="No found"/>
      </div>
    
      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}