{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 3 - Unit 3 - Lesson 7 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo3' %}">Module 3</a></li>
        <li><a href="{% url 'modulo3-unidad3' %}">Unit 3</a></li>
        <li >Lesson 7</li>
        <li class="active">Theme 2</li> 
        
</ol>

    {% include 'plantilla-lessons-module3.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON VOCABULARY</h2>
      <h3></h3>
        <hr>
      <p>4. Match the sentences to the pictures.</p>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad3Lesson1Theme2img1.png' %}" class="img-responsive" alt="No found"/>
      </div>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad3Lesson1Theme2img2.png' %}" class="img-responsive" alt="No found"/>
      </div>

      <p>5. n ow put the activities in exercise 4 into the correct column.</p>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad3Lesson1Theme2img3.png' %}" class="img-responsive" alt="No found"/>
      </div>
    
      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}