{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 3 - Unit 2 - Lesson 6 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo3' %}">Module 3</a></li>
        <li><a href="{% url 'modulo3-unidad2' %}">Unit 2</a></li>
        <li >Lesson 6</li>
        <li class="active">Theme 3</li> 
        
</ol>

    {% include 'plantilla-lessons-module3.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>LISTEN</h2>
      <h3></h3>
        <hr>
      <p>7. Listen to the sentences. Are they true (T) or false (f)? correct the false sentences.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK79.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (79)
    </audio>
    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
      <li>a. Students are learning how to grow their own vegetables.</li>
      <li>b. Students don’t like being in the garden.</li>
      <li>c. They only grow vegetables.</li>
      <li>c. They only grow vegetables.</li>
      </div>

      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad2Lesson3Theme3img1.png' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>
    </div>

      <p>8. Listen again and complete the text with the words in the box.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK79.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (79)
    </audio>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad2Lesson3Theme3img2.png' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>

      <div class="col-sm-6 col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>glossary</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>grow = cultivar <br>
enormous = enorme <br>
awful = terrible <br>
stunning = impresionante
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad2Lesson3Theme3img3.png' %}" class="img-responsive" alt="No found"/>
      </div>
  
    <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
      <h2>FOCUS ON LANGUAGE</h2>
      <h3></h3>
        <hr>
      <p>9. Look at the adjectives that appear after the intensifiers in exercise 8. Then choose the
correct option to complete the rules.</p>

      <div class="col-sm-12 col-md-12">
        <li>a. The adjectives amazing, enormous, awful and stunning are called normal / extreme adjectives.</li>
        <li>b. Before these adjectives you can / can’t use the intensifier very.</li>
      </div>

   <p>10. Look at the pairs of adjectives. Which are normal adjectives and which are extreme
adjectives? Write them in two lists in your notebook.</p>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad2Lesson3Theme3img4.png' %}" class="img-responsive" alt="No found"/>
      </div>

      <p>11. Write two sentences describing the items in a-d using the adjectives in exercise 10.</p>

      <div class="col-sm-12 col-md-12">
        <li>a. your garden – Your garden is very beautiful. Your garden is totally stunning.</li>
        <li>b. the mountains</li>
        <li>c. this insect</li>
        <li>d. this food</li>
      </div>
    
      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}