{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 3 - Unit 1 - Lesson 2 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo3' %}">Module 3</a></li>
        <li><a href="{% url 'modulo3-unidad1' %}">Unit 1</a></li>
        <li >Lesson 2</li>
        <li class="active">Theme 3</li> 
        
</ol>

    {% include 'plantilla-lessons-module3.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON LANGUAGE</h2>
      <h3></h3>
        <hr>
      <p>7. Read the Useful language box. Complete the food questionnaire with the correct question: How
much or How many. Then answer the questions in your notebook.</p>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad1Lesson2Theme3img1.PNG' %}" class="img-responsive" alt="No found"/>
      </div>


    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
          <table class="table table-bordered">
      <thead>
        <tr>
          <th>Useful language</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>Countables</b> <br>
Use How many to ask for <br>
quantities of countable nouns. <br>
How many apples do you need? <br>
<b>Uncountables</b> <br>
Use How much to ask for <br>
quantities of countable nouns. <br>
How much water do you drink?
          </td>
        </tr>
      </tbody>
    </table>

      </div>

      <div class="col-sm-6 col-md-6">

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK68.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (68)
    </audio>
          <table class="table table-bordered">
      <thead>
        <tr>
          <th>8. Say it!</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>Listen and repeat.</b> <br>
When speaking quickly two <br>
words often join together to <br>
form one sound. For example, <br>
the words do and you often <br>
appear together in questions: <br>
do + you = /dj e/ <br>
How much fruit do you eat? <br>
How many meals do you have <br>
a day?
          </td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>

    
    <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
      <h2>SPEAK</h2>
      <h3></h3>
        <hr>
      <p>9. Choose two food groups and ask your classmates questions to
find out about their eating habits. Use How much and How many.</p>

        <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
<p>Example: How much meat do you eat every week? <br>
I eat meat three times a week. <br>
How much fruit do you eat a day? <br>
I eat two portions of fruit every day.</p>
      </div>

      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad1Lesson2Theme3img2.PNG' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>
    </div>
    
      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}