{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 3 - Unit 1 - Lesson 3 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo3' %}">Module 3</a></li>
        <li><a href="{% url 'modulo3-unidad1' %}">Unit 1</a></li>
        <li >Lesson 3</li>
        <li class="active">Theme 3</li> 
        
</ol>

    {% include 'plantilla-lessons-module3.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON LANGUAGE</h2>
      <h3></h3>
        <hr>
      <p>8. Match sentences a-f to pictures 1-6.</p>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad1Lesson3Theme3img1.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
        <li>a. None of the students have food or drink in the classrooms.</li>
        <li>b. A lot of children take a packed lunch to school.</li>
        <li>c. A lot of students have lunch in the school canteen.</li>
        <li>d. A few students take an apple to school every day.</li>
        <li>e. A few students eat healthy food.</li>
        <li>f. A lot of students eat pizza for lunch.</li>
      </div>

      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad1Lesson3Theme3img2.PNG' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>
    </div>
    
    <p>9. Answer the questions with a little or a few.</p>

    <div class="col-sm-12 col-md-12">
      <li>a. Do you want more sugar? Yes, a little, please.</li>
      <li>b. Do you have any oranges? Yes. I have _________.</li>
      <li>c. Do you want milk with your coffee? Yes, please. Just _________.</li>
      <li>d. Do you have any tomatoes? Yes, I have __________.</li>
      <li>e. Do you want more rice? Yes, _________.</li>
    </div>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad1Lesson3Theme3img3.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}