{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 3 - Unit 2 - Lesson 6 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
        <li><a href="{% url 'modulo3' %}">Module 3</a></li>
        <li><a href="{% url 'modulo3-unidad2' %}">Unit 2</a></li>
        <li >Lesson 6</li>
        <li class="active">Theme 4</li> 
        
</ol>

    {% include 'plantilla-lessons-module3.html' %} 
              
  <div class="col-sm-9 col-md-9">
      <h2>SPEAK</h2>
      <h3></h3>
        <hr>
      <p>4. Read the text and complete it with the sentences in exercise 2.</p>

    <audio controls>
      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK80.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element. (80)
    </audio>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>12. Say it!</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>Listen and repeat.</b> <br>
How many syllables are there in each word? <br>
Underline the stressed syllable. <br>
absolutely = 4 syllables <br>
extremely incredibly really totally very
          </td>
        </tr>
      </tbody>
    </table>

    <p>13. In groups, ask questions and give your opinion on the topics in 1-3.
Look at the Useful expressions box to help you.</p>

    <div class="col-sm-12 col-md-12">
      <div class="col-sm-6 col-md-6">
      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad2Lesson3Theme4img1.PNG' %}" class="img-responsive" alt="No found"/>
      </div>
      </div>

      <div class="col-sm-6 col-md-6">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Useful expressions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>In my opinion <br>
I think / don’t think <br>
I agree / don’t agree with … <br>
Don’t you think … ? <br>
It’s important to …
          </td>
        </tr>
      </tbody>
    </table>

      </div>
    </div>

    <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
      <h2>WRITE</h2>
      <h3></h3>
        <hr>
      <p>14. Read the text. Which topic sentence from exercise 13 is it about?</p>

      <div class="centered">
        <img src="{% static 'img/modulo3/Modulo3Unidad2Lesson3Theme4img2.PNG' %}" class="img-responsive" alt="No found"/>
      </div>

   <p>15. Choose one of the topics from exercise 13 and write your opinion about it.
Use the text in exercise 14 to help you.</p>
    
    <p>Paragraph 1: summarise your opinion <br>
Paragraph 2-4: write three examples to back up your opinion <br>
Paragraph 5: repeat your opinion to conclude.</p>

      </div>
      
      </div>
            
       </div>
    </div><!--div-->
</div>
</div>

{% endblock %}