{% extends 'plantilla1.html' %}
{% block title %} Curso {% endblock %}

{%  block content %}

   <div id="blue">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h4><b>¿Tienes alguna pregunta?</b></h4>
				<p>Escríbenos</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- blue wrap -->


	<div class="container w">
		<div class="row centered">
			<br><br>
			<form action='#' method='post'>
            <label for='nombre'>Nombre:</label>
            <input id='nombre' type='text' name='nombre' placeholder='Nombre y Apellido' required='' />
            <label for='email'>Email:</label>
            <input id='email' type='email' name='email' placeholder='ejemplo@correo.com' required='' />
            <label for='mensaje'>Mensaje:</label>
            <textarea id='mensaje' name='mensaje' placeholder='Mensaje' required=''></textarea>
            <input id='submit' type='submit' name='submit' value='Enviar' />
            </form>

		</div><!-- row -->
	</div><!-- container -->
 
    

{% endblock %}