{% extends 'plantilla1.html' %}
{% block title %} Curso {% endblock %}

{%  block content %}

   <div id="blue">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h4><b>INFORMATION OF THIS PROJECT</b></h4>
				<p></p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- blue wrap -->


	<div class="container w">
		<div class="row centered">
			<br><br>

			<div class="col-lg-4">
				<i class="fa fa-desktop"></i>
				<h4>MODULO 1</h4>
				<img src="{% static 'img/logo_png.png' %}" class="img-responsive" alt="" width="50%" />
				<p>T</p>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4">
				<i class="fa fa-cogs"></i>
				<h4>MODULO 2</h4>
				<p>T</p>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4">
				<i class="fa fa-eye"></i>
				<h4>MODULO 3</h4>
				<p>T</p>
			</div><!-- col-lg-4 -->
		</div><!-- row -->
		<br>
		<div class="row centered">
			<br><br>
			<div class="col-lg-4">
				<i class="fa fa-heart"></i>
				<h4>MODULO 4</h4>
				<p>T</p>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4">
				<i class="fa fa-list-alt"></i>
				<h4>MODULO 5</h4>
				<p>T</p>
			</div><!-- col-lg-4 -->
		</div><!-- row -->
	</div><!-- container -->
 
    

{% endblock %}