{% extends 'plantilla-prof.html' %}
{% block title %} Registro Estudiantes {% endblock %}

{%  block content %}

    <!--IniciaModal-->
 <div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog modal-content">
    <div class="modal-header">
    <h3 id="myModalLabel">Eliminar Estudiante</h3>
    </div>
    <div class="modal-body">
    <p>¿Realmente desea eliminar al estudiante <span>{{ estudiante.id.first_name }}</span>?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
        <button onclick="eliminarIdentificador('{{ estudiante.id.id }}')" class="modal-action modal-close waves-effect waves-green btn-flat">Eliminar</a>
    </div>
 </div>
</div>
<!--EndModal-->

  <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Eliminar <small> Estudiante</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-fw fa-trash"> </i> Eliminar Estudiante
                            </li>
                        </ol>
                    </div>
                </div>

            <div class="col-sm-12 col-md-12">
             <div class="col-sm-3 col-md-3 pull-left">
            <form class="navbar-form" action="{% url 'buscar_estudiante1' %}" method="get" >
                <label>Buscar Estudiante: </label>
                <br />
                <div class="input-group">

                    <input type="text" class="form-control" name="identificacion" value="{{ filtro }}">
                    <div class="input-group-btn">
                        <button class="btn btn-default" name="buscar" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>

                </div>
            </form>
        </div>

       </div>

                <div class="row">

                <div class="container initial">

    {% if error %}
    <div class="alert alert-danger"> {{ error }} </div>

    {% endif %}
    <form method="post" action="{% url 'eliminar-estudiante' %}" id="tabla_estudiante">
      {% csrf_token %}
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-12"></div>

          <div class="col-md-12">

            <div class="col-ms-12 form-group">
              <div class ="col-md-1">
                <label for="exampleInputnomre"><h4>Nombres:</h4></label>
              </div>
              <div class ="col-md-5">
                <label type= "text" name="nombre" class="form-control">{{ estudiante.id.first_name }}</label>
              </div>
              <div class ="col-md-1">
                <label for="exampleInputnomre"><h4>Apellidos:</h4></label>
              </div>
              <div class ="col-md-5">
                 <label type = "text" name="apellidos" class="form-control">{{ estudiante.id.last_name }}</label>
              </div>
            </div>

            <div class="col-md-12"></div>

            <div class="col-ms-12 form-group">
              <div class ="col-md-3">
                <label for="exampleInputnomre"><h4>Documento Identidad:</h4></label>
              </div>
              <div class ="col-md-3">
                  <label type = "text" name="documento" class="form-control">{{ estudiante.documento }}</label>
              </div>
              <div class ="col-md-2">
                <label for="exampleInputnomre"><h4>Username:</h4></label>
              </div>
              <div class ="col-md-4">
                <label type = "text" name="username" class="form-control">{{ estudiante.id.username }}</label>
              </div>
            </div>

            <div class="col-md-12"></div>

            <div class="col-md-5">
                <tr id="tr{{estudiante.id.id}}">
                <td><a href="#myModal" role="button" class="btn btn-danger delete" data-toggle="modal" id="{{estudiante.id.id}}"><i class="fa fa-fw fa-trash"></i>Eliminar</a></td>
                </tr>
            </div>

          </div>
        </div>
      </div>
    </form>
    
  </div>

                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

{% endblock %}

{% block scripts %}

{% endblock %}