<!-- FOOTER -->
	<div id="f">
		<div class="container">
			<div class="col-md-6 text-left copy">
						<p>Copyright &copy; All Rights Reserved.</p>
					</div>
					<div class="col-md-6 text-right dm">
						<ul id="downMenu">
							<li class="active"><a href="{% url 'inicio-estudiante' %}">Inicio</a></li>
							<li><a href="{% url 'modulo1' %}">Modulo</a></li>
							<li><a href="#">Recursos</a></li>
							<li><a href="#">Lorem</a></li>
                            <li class="last"><a href="#">Configuración</a></li>
		</div><!-- container -->
	</div><!-- Footer -->

