{% extends 'plantilla1.html' %}
{% block title %} Inicio {% endblock %}

{%  block content %}
    
    <div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h1>Welcome to the website <b>Easy English</b></h1>
				<h2>Practice your english!</h2>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->
     
     <!-- FEATURE SECTION -->    
<div id="lg">
	<div class="container wb">
		<div class="row centered">
			<div class="col-lg-8 col-sm-7">
				<h4>English for 9º Grade</h4>
				<p>Easy English is a website where you can practice the themes of the book "English Please" contributed by the Ministry of National Education, through the program "Colombia Bilingüe", for the Escuela Normal Superior María Auxiliadora of Girardot. </p>
                
                <a class="btn btn-primary btn-lg" href="{% url 'curso' %}">More...</a>
                  
			</div>
			<div class="col-lg-4 col-sm-3">
				<img class="img-responsive" src="/static/img/Cursos-de-inglés.png" alt="">
			</div>
		</div><!-- row -->
	</div><!-- container -->
 </div>    

     <div id="wh">
		<div class="container wb">
			<div class="row centered">
				<h4>¿ What type of user are you ?</h4>
                <hr />
                <br />
				<div class="col-lg-6 col-sm-5">
					<a href="{% url 'login-estudiante' %}"><img src="/static/img/icon-estudiante.png" alt=""></a>
                    <br /><br />
                    <p>Student</p>
				</div>
				<div class="col-lg-6 col-sm-5">
					<a href="{% url 'login-profesor' %}"><img src="/static/img/icon-docente.png" alt=""></a>
                    <br /><br />
                    <p>Teacher</p>
				</div>
                
			</div><!-- row -->
		</div><!-- container -->
    </div>
    
     <!-- PORTFOLIO SECTION -->
	<div id="dg">
		<div class="container">
			<div class="row centered">
				<h4>OUR LOCATION.</h4>
				<br>
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1578.8748488459253!2d-74.80177399417268!3d4.313800960374414!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd5564965f2912447!2sEscuela+Normal+Superior+Mar%C3%ADa+Auxiliadora!5e0!3m2!1sen!2sco!4v1484856617440" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- DG -->
    
    <div class="container w">
		<div class="row centered">
			<br><br>
			<div class="col-lg-4 col-sm-3">
				<i class="fa fa-phone"></i>
				<h4>CONTACT</h4>
				<p>830 6287.</p>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4 col-sm-3">
				<i class="fa fa-map-marker"></i>
				<h4>OUR ADDRESS</h4>
<p>Kilometro 3, Barrio El Diamante, Girardot</p>
				
			</div><!-- col-lg-4 -->

			<div class="col-lg-4 col-sm-3">
				<i class="fa fa-desktop"></i>
				<h4>Oficial Page</h4>
				<p>http://www.ensmagirardot.edu.co</p>
			</div><!-- col-lg-4 -->
		</div><!-- row -->
		<br>
		<br>
	</div><!-- container -->

{% endblock %}