{% extends 'plantilla2.html' %}
{% block title %} Inicio {% endblock %}

{%  block content %}

    <div class="container initial">
    <ol class="breadcrumb">
  <li class="active"><a href="{% url 'inicio-estudiante' %}">Inicio</a></li>
        <li> {{ usuario.first_name }} {{ usuario.last_name }} </li>
        

        
</ol>
    
    
      <!-- Main component for a primary marketing message or call to action -->
      <div id="wh">
          <div class="col-md-8 col-lg-8">
        <div class="panel panel-info">
  <div class="panel-heading">Modulo 1</div>
  <div class="panel-body">
    <p>Bienvenido al primer modulo de <strong>English Easy</strong>, aquí encontrará todos los temas y actividades para repasar del libro <strong>English Please!</strong></p>
      <p></p>
  </div>
</div>
 
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Actividades</h3>
          </div>
          <div class="panel-body">
              <p>In This Page You Find:</p>
            <ul>
              <li>Listening Module One</li>
              <li>Read Activities</li>
              <li>Glosary</li>
              <li>And More!</li>
            </ul>
          </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-4">
        <form class="navbar-form" action="{% url 'inicio-estudiante' %}" method="post" >
          <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Datos Personales
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> Nombre
                                    <span class="pull-right text-muted small">{{ usuario.first_name }}
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-twitter fa-fw"></i> Apellido
                                    <span class="pull-right text-muted small">{{ usuario.last_name }}
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-envelope fa-fw"></i> Correo
                                    <span class="pull-right text-muted small">{{ usuario.email }}
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-tasks fa-fw"></i> Documento
                                    <span class="pull-right text-muted small">{{ usuario.cedula }}
                                    </span>
                                </a>
                               
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-money fa-fw"></i> Username
                                    <span class="pull-right text-muted small">{{ usuario.username }}
                                    </span>
                                </a>
                            </div>
                            <!-- /.list-group -->
                            <a href="{% url 'perfil-estudiante' %}" class="btn btn-default btn-block">Ver más</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
            </form>
          </div>
          
      </div>

    </div> <!-- /container initial-->    

{% endblock %}