
      <!-- modulo 3 -->

      <div id="wh">
          <div class="row">
  <div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Desplegar navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Unit 1 - Lesson 1 <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'modulo3-unidad1-lesson1-tm1' %}">Theme 1</a></li>
                <li><a href="{% url 'modulo3-unidad1-lesson1-tm2' %}">Theme 2</a></li>
                <li><a href="{% url 'modulo3-unidad1-lesson1-tm3' %}">Theme 3</a></li>
                <li><a href="{% url 'modulo3-unidad1-lesson1-tm4' %}">Theme 4</a></li>
                <li class="divider"></li>
                  </ul></li>

                  <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Unit 1 - Lesson 2<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'modulo3-unidad1-lesson2-tm1' %}">Theme 1</a></li>
                <li><a href="{% url 'modulo3-unidad1-lesson2-tm2' %}">Theme 2</a></li>
                <li><a href="{% url 'modulo3-unidad1-lesson2-tm3' %}">Theme 3</a></li>
                <li><a href="{% url 'modulo3-unidad1-lesson2-tm4' %}">Theme 4</a></li>
                <li class="divider"></li>
                  </ul></li>

                  <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Unit 1 - Lesson 3 <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'modulo3-unidad1-lesson3-tm1' %}">Theme 1</a></li>
                <li><a href="{% url 'modulo3-unidad1-lesson3-tm2' %}">Theme 2</a></li>
                <li><a href="{% url 'modulo3-unidad1-lesson3-tm3' %}">Theme 3</a></li>
                <li><a href="{% url 'modulo3-unidad1-lesson3-tm4' %}">Theme 4</a></li>
                <li class="divider"></li>
                  </ul></li>

                  <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Unit 2 - Lesson 4 <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'modulo3-unidad2-lesson1-tm1' %}">Theme 1</a></li>
                <li><a href="{% url 'modulo3-unidad2-lesson1-tm2' %}">Theme 2</a></li>
                <li><a href="{% url 'modulo3-unidad2-lesson1-tm3' %}">Theme 3</a></li>
                <li><a href="{% url 'modulo3-unidad2-lesson1-tm4' %}">Theme 4</a></li>
                <li class="divider"></li>
                  </ul></li>

              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Unit 2 - Lesson 5 <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'modulo3-unidad2-lesson2-tm1' %}">Theme 1</a></li>
          			<li><a href="{% url 'modulo3-unidad2-lesson2-tm2' %}">Theme 2</a></li>
          			<li><a href="{% url 'modulo3-unidad2-lesson2-tm3' %}">Theme 3</a></li>
          			<li><a href="{% url 'modulo3-unidad2-lesson2-tm4' %}">Theme 4</a></li>
                <li class="divider"></li>
                  </ul></li>

               <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Unit 2 - Lesson 6 <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'modulo3-unidad2-lesson3-tm1' %}">Theme 1</a></li>
          			<li><a href="{% url 'modulo3-unidad2-lesson3-tm2' %}">Theme 2</a></li>
          			<li><a href="{% url 'modulo3-unidad2-lesson3-tm3' %}">Theme 3</a></li>
          			<li><a href="{% url 'modulo3-unidad2-lesson3-tm4' %}">Theme 4</a></li>
                <li class="divider"></li>
                  </ul></li>

              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Unit 3 - Lesson 7 <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'modulo3-unidad3-lesson1-tm1' %}">Theme 1</a></li>
          			<li><a href="{% url 'modulo3-unidad3-lesson1-tm2' %}">Theme 2</a></li>
          			<li><a href="{% url 'modulo3-unidad3-lesson1-tm3' %}">Theme 3</a></li>
          			<li><a href="{% url 'modulo3-unidad3-lesson1-tm4' %}">Theme 4</a></li>
                <li class="divider"></li>
                  </ul></li>

               <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Unit 3 - Lesson 8 <b class="caret"></b></a>
               <ul class="dropdown-menu">
                <li><a href="{% url 'modulo3-unidad3-lesson2-tm1' %}">Theme 1 </a></li>
      			    <li><a href="{% url 'modulo3-unidad3-lesson2-tm2' %}">Theme 2</a></li>
           			<li><a href="{% url 'modulo3-unidad3-lesson2-tm3' %}">Theme 3</a></li>
           			<li><a href="{% url 'modulo3-unidad3-lesson2-tm4' %}">Theme 4</a></li>
                <li class="divider"></li>
                  </ul></li>

            <li><a href="#">let’s work together <span class="badge">A special place</span></a></li>
            <li><a href="#">Self-assessment</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>