<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} {% endblock %}</title>

    <link href="../static/css/style-modulo.css" rel="stylesheet">
    <link href="../static/vendors/bootstrap-3.3.6/dist/css/bootstrap.css" rel="stylesheet">

</head>

<body >

<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">English Easy</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'inicio-estudiante' %}">INICIO</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MODULO <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'modulo1' %}">Ingles Básico</a></li>
                <li><a href="{% url 'modulo1-unidad1' %}">Unidad 1</a></li>
                <li><a href="#">Unidad 2</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Temario</li>
                <li><a href="#">Multimedia</a></li>
                <li><a href="#">Actividaddes</a></li>
              </ul>
            </li>
            <li><a href="#">RECURSOS</a></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'perfil-estudiante' %}#">Configuración</a></li>
            <li class="active"><a href="{% url 'logout' %}">Salir</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div>

    {% block content %}

    {% endblock %}

</div>

{% include 'footermod.html' %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../static/javascript/jquery.min.js"></script>
    <script src="../static/vendors/bootstrap-3.3.6/js/modal.js"></script>
    <script src="../static/vendors/bootstrap-3.3.6/js/transition.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../static/vendors/bootstrap-3.3.6/dist/js/bootstrap.min.js">
</script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
</body>
</html>