<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> {% block title %} {% endblock %}</title>


    <link href="../static/vendors/bootstrap-3.3.6/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendors/bootstrap-3.3.6/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style-general.css" rel="stylesheet">
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../static/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

</head>


<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">EASY ENGLISH </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="{% url 'index' %}">HOME</a></li>
            <li><a href="{% url 'curso' %}">INSTITUTION</a></li>
            <li><a href="{% url 'contacto' %}"><i class="fa fa-envelope-o"></i> CONTACT</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>

<div>

    {% block content %}

    {% endblock %}
</div>


<div id="r">
		<div class="container">
			<div class="row centered">
                <div class="col-md-3">
                    <p>Escuela Normal Superior María Auxiliadora of Girardot <br />
                    Kilometro 3, Barrio El Diamante<br />
                    Para mayor información comuniquese al: (1) 000 29 00
                </p></div>
                <div class="col-sm-3 col-md-3 pull-right">
                    <div class="centered"><img src="../static/img/Escudo.png" class="img-responsive" alt=""/></div></div>
        </div>

                    </div>
                </div>

<!-- FOOTER -->
	<div class="lineBlack">
			<div class="container">
				<div class="row downLine">
					<div class="col-md-6 text-left copy">
						<p>Copyright &copy; Escuela Normal Superior María Auxiliadora of Girardot.</p>
					</div>
					<div class="col-md-6 text-right dm">

						<ul id="downMenu">

							<li class="active"><a href="{% url 'index' %}">Home</a></li>
							<li><a href="{% url 'curso' %}">Institution</a></li>
							<li><a href="{% url 'contacto' %}">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- Footer -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../static/javascript/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../static/vendors/bootstrap-3.3.6/dist/js/bootstrap.min.js">
</script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/javascript/bootstrap.min.js"></script>


</body>
</html>