{% extends 'plantilla-prof.html' %}
{% block title %} Primer Módulo Estudiantes {% endblock %}

{%  block content %}

<div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Primer Modulo <small> Estudiantes Registrados</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-fw fa-table"> </i> Módulos
                            </li>
                            <li>
                                Primer Módulo
                            </li>
                            <li class="active">
                                Estudiantes Registrados
                            </li>
                        </ol>
                    </div>
                </div>


                <div class="row">

                    {% for estudiante in estudiantes %}
                        <h4>{{ estudiante.id.first_name }} {{ estudiante.id.last_name }} - {{ estudiante.documento }} - {{ estudiante.id.email }}</h4>
                    {% endfor %}


                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

{% endblock %}