{% extends 'plantilla-prof.html' %}
{% block title %} Registro Estudiantes {% endblock %}

{%  block content %}

  <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Registro <small> Nuevo Estudiante</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-fw fa-edit"> </i> Registro Estudiantes
                            </li>
                        </ol>
                    </div>
                </div>

            <div class="col-sm-12 col-md-12">
             <div class="col-sm-3 col-md-3 pull-left">
            <form class="navbar-form" action="{% url 'buscar_estudiante' %}" method="get" >
                <label>Buscar Estudiante: </label>
                <br />
                <div class="input-group">

                    <input type="text" class="form-control" name="identificacion" value="{{ filtro }}">
                    <div class="input-group-btn">
                        <button class="btn btn-default" name="buscar" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>

                </div>
            </form>
        </div>

       </div>

                <div class="row">

                <div class="container initial">

    {% if error %}
    <div class="alert alert-danger"> {{ error }} </div>

    {% endif %}
    <form method="post" action="{% url 'registro-estudiante' %}">
      {% csrf_token %}
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-12"></div>

          <div class="col-md-12">

            <div class="col-ms-12 form-group">
              <div class ="col-md-1">
                <label for="exampleInputnomre"><h4>Nombres:</h4></label>
              </div>
              <div class ="col-md-5">
                <input type= "text" name="nombre" class="form-control" value= "{{ estudiante.id.first_name }}" id="exampleInputnombre" placeholder="nombre">
              </div>
              <div class ="col-md-1">
                <label for="exampleInputnomre"><h4>Apellidos:</h4></label>
              </div>
              <div class ="col-md-5">
                 <input type = "text" name="apellidos" class="form-control" value="{{ estudiante.id.last_name }}" placeholder="apellidos">
              </div>
            </div>

            <div class="col-md-12"></div>

            <div class="col-ms-12 form-group">
              <div class ="col-md-1">
                <label for="exampleInputnomre"><h4>Correo:</h4></label>
              </div>
              <div class ="col-md-5">
                <input type = "text" name="email" class="form-control" value="{{ estudiante.id.email }}" placeholder="Correo">
              </div>
              <div class ="col-md-3">
                <label for="exampleInputnomre"><h4>Documento Identidad:</h4></label>
              </div>
              <div class ="col-md-3">
                  <input type = "text" name="documento" class="form-control" value="{{ estudiante.documento }}" placeholder="Documento">
              </div>
            </div>

            <div class="col-md-12"></div>

            <div class="col-ms-12 form-group">
              <div class ="col-md-2">
                <label for="exampleInputnomre"><h4>Username:</h4></label>
              </div>
              <div class ="col-md-4">
                <input type = "text" name="username" class="form-control" value="{{ estudiante.id.username }}" placeholder="Username">
              </div>
              <div class ="col-md-1">
                <label for="exampleInputnomre"><h4>Sexo:</h4></label>
              </div>
              <div class ="col-md-5">
                  <label class="checkbox-inline">
                      <input type="checkbox" name='sexo' value="M"> Masculino
                  </label>
                  <label class="checkbox-inline">
                      <input type="checkbox" name='sexo' value="F"> Femenino
                  </label>
              </div>
            </div>

            <div class="col-md-12"></div>

            <div class="col-ms-12 form-group">
              <div class ="col-md-2">
                <label for="exampleInputnomre"><h4>Contraseña:</h4></label>
              </div>
              <div class ="col-md-4">
                <input type="password"  name = "password1" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class ="col-md-3">
                <label for="exampleInputnomre"><h4>Confirmar Contraseña:</h4></label>
              </div>
              <div class ="col-md-3">
                <input type="password" name='password2' class="form-control" id="exampleInputPassword2" placeholder="Password">
              </div>
            </div>

            <div class="col-md-12"></div>

             <div class="col-md-9" style="text-align:right">
                <a href="{% url 'registro-estudiante' %}">Recargar la página</a>
            </div>

            <div class="col-md-3">
                <p><button type="submit" class="btn btn-primary btn-lg pull-right">Registrar Estudiante</button> </p>
            </div>

          </div>
        </div>
      </div>
    </form>
    {{ paso }}


  </div>

                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

{% endblock %}

{% block scripts %}
    <script src="/static/javascript/js_var.js"></script>
{% endblock %}