{% extends 'plantilla-prof.html' %}
{% block title %} Registro Estudiantes {% endblock %}

{%  block content %}

  <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Registro <small> Nuevo Estudiante</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-fw fa-edit"> </i> Registro Estudiantes
                            </li>
                        </ol>
                    </div>
                </div>

            <div class="col-sm-12 col-md-12">
             <div class="col-sm-3 col-md-3 pull-left">
            <form class="navbar-form" role="buscar_estudiante" method="get" >
                {% csrf_token %}
                <label for="q">Buscar Estudiante: </label>
                <br />
                <div class="input-group">
                    <input type="text" class="form-control" name="q" value="{{ buscar }}" id="busqVar">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" id="buscar"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-7 col-md-7 row placeholders">

            {% if buscar %}
                <h2>Results for "{{ buscar|escape }}":</h2>

                {% if estudiante %}

                  {% for user in estudiante %}
                    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                  {% endfor %}

                {% else %}
                  <p>No books found</p>
                {% endif %}
              {% endif %}

            </div>
       </div>

                <div class="row">

                <div class="container initial">

    {% if error %}
    <div class="alert alert-danger"> {{ error }} </div>

    {% endif %}
    <form method="post" action="">
      {% csrf_token %}
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-12"></div>

          <div class="col-md-12">

            <div class="col-ms-12 form-group">
              <div class ="col-md-1">
                <label for="exampleInputnomre"><h4>Nombres:</h4></label>
              </div>
              <div class ="col-md-5">
                <input type= "text" name="nombre" class="form-control" id="exampleInputnombre" placeholder="nombre">
              </div>
              <div class ="col-md-1">
                <label for="exampleInputnomre"><h4>Apellidos:</h4></label>
              </div>
              <div class ="col-md-5">
                 <input type = "text" name="apellidos" class="form-control" id="exampleInputapellidos" placeholder="apellidos">
              </div>
            </div>

            <div class="col-md-12"></div>

            <div class="col-ms-12 form-group">
              <div class ="col-md-1">
                <label for="exampleInputnomre"><h4>Correo:</h4></label>
              </div>
              <div class ="col-md-5">
                <input type = "text" name="email" class="form-control" id="exampleInputemail" placeholder="Correo">
              </div>
              <div class ="col-md-3">
                <label for="exampleInputnomre"><h4>Documento Identidad:</h4></label>
              </div>
              <div class ="col-md-3">
                  <input type = "text" name="cedula" class="form-control" id="exampleInputdocumento" placeholder="Documento">
              </div>
            </div>

            <div class="col-md-12"></div>

            <div class="col-ms-12 form-group">
              <div class ="col-md-2">
                <label for="exampleInputnomre"><h4>Username:</h4></label>
              </div>
              <div class ="col-md-4">
                <input type = "text" name="username" class="form-control" id="exampleInputdocumento" placeholder="Username">
              </div>
              <div class ="col-md-1">
                <label for="exampleInputnomre"><h4>Sexo:</h4></label>
              </div>
              <div class ="col-md-5">
                  <label class="checkbox-inline">
                      <input type="checkbox" id="checkboxEnLinea1" name='sexo' value="M"> Masculino
                  </label>
                  <label class="checkbox-inline">
                      <input type="checkbox" id="checkboxEnLinea2" name='sexo' value="F"> Femenino
                  </label>
              </div>
            </div>

            <div class="col-md-12"></div>

            <div class="col-ms-12 form-group">
              <div class ="col-md-2">
                <label for="exampleInputnomre"><h4>Contraseña:</h4></label>
              </div>
              <div class ="col-md-4">
                <input type="password"  name = "password1" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class ="col-md-3">
                <label for="exampleInputnomre"><h4>Confirmar Contraseña:</h4></label>
              </div>
              <div class ="col-md-3">
                <input type="password" name='password2' class="form-control" id="exampleInputPassword2" placeholder="Password">
              </div>
            </div>

            <div class="col-md-12"></div>

            <div class="col-md-12">
              <p><button type="submit" class="btn btn-primary btn-lg pull-right">Registrar Estudiante</button> </p>
            </div>

          </div>
        </div>
      </div>
    </form>
    {{ paso }}


  </div>

                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

{% endblock %}

{% block scripts %}
    <script src="/static/javascript/js_var.js"></script>
{% endblock %}