{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Unity 1 - Lesson 3 {% endblock %}

{%  block content %}

   <div class="container initial">
    <ol class="breadcrumb">
  <li>Module 1</li>
        <li><a href="{% url 'modulo1-unidad1' %}">Unity 1</a></li>
        <li>Lesson 3</li>
        <li class="active">Theme 2</li>  
     
</ol>
    
    
        {% include 'plantilla3.html' %}
              
   <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON VOCABULARY</h2>
      <h3></h3>
        <hr>
      <p>Look at the flags. Write sentences about the country and nationality of the person/people.</p>

      <div class="col-sm-12 col-md-12">
        <div class="col-sm-12 col-md-12">
        <strong>Robert</strong> <img src="{% static 'img/modulo1/unity1/flag1.png' %}" alt="No found">
        <strong>Philippe</strong> <img src="{% static 'img/modulo1/unity1/flag2.png' %}" alt="No found">
        <strong>Anna and Bruno</strong> <img src="{% static 'img/modulo1/unity1/flag3.png' %}" alt="No found">
        <strong>Matt</strong> <img src="{% static 'img/modulo1/unity1/flag4.png' %}" alt="No found">
        <strong>Gabriela and Juana</strong> <img src="{% static 'img/modulo1/unity1/flag5.png' %}" alt="No found">
        <strong>Linda</strong> <img src="{% static 'img/modulo1/unity1/flag6.png' %}" alt="No found"> 
        </div>
        <div class="col-sm-6 col-md-6">
              <li><strong>Robert</strong>
                  <input class="form-control" type="text" name="" disabled="true" value="he is Spain. He's from Spain"></li>
        </div>
        <div id="pregunta-usuario">
          {% for row in respuesta %}

          <div class="col-sm-6 col-md-6">
              <li><strong>{{ row.pregunta.descripcion }}</strong>
              <input class="form-control" type="text" id="{{ row.id }}" name="{{ row.descripcion }}" value="">
            </li>
          </div>
            <br>
          {% endfor %}
        </div>
<br>
        <div id="respuestas-bd">
            <div id="estudiante_id" hidden="false">{{estudiante.id.id}}</div>
            {% for row in respuesta %}
                <div id="actividad_id" hidden="false">{{ row.pregunta.actividad.id }}</div>
                <div id="{{ row.id }}" hidden="false"><li>{{ row.descripcion }}</li></div>            
            {% endfor %}
        </div>
<br><br><br>
<hr>
<br>

        <div id="resultado"><strong>Resultado:</strong></div>
        <button class="btn btn-primary pull-right" id="boton_actividad1">Calificar</button> 

      </div>
      <div class="col-sm-12 col-md-12">
        <p>In your notebook, write a chart with the nationalities in groups according to their ending.</p>

         <img class="img-responsive" src="{% static 'img/modulo1/unity1/Lesson3Theme2img2.png' %}" alt="No found">
      </div>

      <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
      <h2>READ</h2>
      <h3></h3>
        <hr>
        <div class="col-sm-12 col-md-12">
            <img class="img-responsive" src="{% static 'img/modulo1/unity1/Lesson3Theme2img3.png' %}" alt="No found">            
          </div>
          <br>

      <p>Read the text and the sentences. Are the sentences true (T) or false (F)?</p>

        <div id="pregunta-usuario2">
            {% for row in respuesta2 %}
            <div class="col-sm-6 col-md-6">
                <div id="{{ row.pregunta.id }}"> <li> {{ row.pregunta.descripcion }}</div> 
                <input class="form-control" type="text" id="{{ row.id }}" name="{{ row.descripcion }}" value="">
              </li>
            </div>
            {% endfor %}
        </div>
<br>
        <div id="respuestas-bd2">
            {% for row in respuesta2 %}
                <div id="{{ row.id }}" hidden="false"><li>{{ row.descripcion }}</li></div>            
            {% endfor %}
        </div>
<br><br><hr><br>
        <div id="resultado2"><strong>Resultado:</strong></div>
        <button class="btn btn-primary pull-right" id="boton_actividad2">Calificar</button> 

        <div class="col-lg-12 col-md-12 col-sm-12"><hr>
            <p>Read the text again and complete the table.</p>
        </div>
        <div id="pregunta-usuario3">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                  {% for row in respuesta3 %}
                    {% if row.id >= 30 and row.id <= 33 %} 
                      <tr><td><div id="{{ row.pregunta.id }}"> </div> 
                        <input class="form-control" type="text" id="{{ row.id }}" name="{{ row.descripcion }}" value=""></td>
                      </tr>
                    {% endif %}
                  {% endfor %}
              </tbody>
              </table>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Country</th>
                </tr>
              </thead>
              <tbody>
                  {% for row in respuesta3 %}
                    {% if row.id >= 34 and row.id <= 37 %} 
                      <tr><td><div id="{{ row.pregunta.id }}"> </div> 
                        <input class="form-control" type="text" id="{{ row.id }}" name="{{ row.descripcion }}" value=""></td>
                      </tr>
                    {% endif %}
                  {% endfor %}
              </tbody>
              </table>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Favorite Colour</th>
                </tr>
              </thead>
              <tbody>
                  {% for row in respuesta3 %}
                    {% if row.id >= 38 and row.id <= 41 %} 
                      <tr><td><div id="{{ row.pregunta.id }}"> </div> 
                        <input class="form-control" type="text" id="{{ row.id }}" name="{{ row.descripcion }}" value=""></td>
                      </tr>
                    {% endif %}
                  {% endfor %}
              </tbody>
              </table>
          </div>
        </div>
<br><br><br>
        <div id="respuestas-bd3">
            {% for row in respuesta3 %}
                <div id="{{ row.id }}" hidden="false"><li>{{ row.descripcion }}</li></div>            
            {% endfor %}
        </div>
<br><br><br>
        <div id="resultado3"><strong>Resultado:</strong></div>
        <button class="btn btn-primary pull-right" id="boton_actividad3">Calificar</button> 
        

      </div>

       </div>
    </div><!--div-->

        <br>
        <br>

</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
  $( document ).ready(function() {
    var array_res_usuario = [];
    var array_res_correctas = []; 
    var respuesta_sistema = "";
    var respuesta_usuario = "";
          
        $( "#boton_actividad1" ).click(function() 
        {            
                var cantidad_blanco = 0;
                array_res_usuario = [];
                array_res_correctas = []; 
                var buenas = 0;
                var malas = 0;
                respuesta_sistema = "";
                respuesta_usuario = "";
                var actividad = $("#actividad_id").html();
                var estudiante = $("#estudiante_id").html();

              $("#respuestas-bd li").each(function()
              {
                  var descripcion =$(this).html();
                  array_res_correctas.push(descripcion);
                  // alert("descripcion  "+ descripcion);
              })
              $("#pregunta-usuario input").each(function()
              {
                  var descripcion =$(this).val();
                   // alert("descripcion usuario  "+ descripcion);
                   if (descripcion == ""){
                    cantidad_blanco++;
                   }
                   array_res_usuario.push(descripcion);
              })
              if(cantidad_blanco > 0){
                alert("Debe llenar todos los campos");
                return;
              }

              calificar(buenas,malas,"resultado",actividad,estudiante)
              //alert("cantidad de respuestas sistema " + array_res_correctas.length);
              //alert("cantidad de respuestas usuario " + array_res_usuario.length);
          });

        $( "#boton_actividad2" ).click(function() 
        {            
                var cantidad_blanco = 0;
                array_res_usuario = [];
                array_res_correctas = []; 
                var buenas = 0;
                var malas = 0;
                respuesta_sistema = "";
                respuesta_usuario = "";


              $("#respuestas-bd2 li").each(function()
              {
                  var descripcion =$(this).html();
                  array_res_correctas.push(descripcion);
                  // alert("descripcion  "+ descripcion);
              })
              $("#pregunta-usuario2 input").each(function()
              {
                  var descripcion =$(this).val();
                   // alert("descripcion usuario  "+ descripcion);
                   if (descripcion == ""){
                    cantidad_blanco++;
                   }
                   array_res_usuario.push(descripcion);
              })
              if(cantidad_blanco > 0){
                alert("Debe llenar todos los campos");
                return;
              }
              calificar(buenas,malas,"resultado2")
              //alert("cantidad de respuestas sistema " + array_res_correctas.length);
              //alert("cantidad de respuestas usuario " + array_res_usuario.length);
          });

        $( "#boton_actividad3" ).click(function() 
        {            
                var cantidad_blanco = 0;
                array_res_usuario = [];
                array_res_correctas = []; 
                var buenas = 0;
                var malas = 0;
                respuesta_sistema = "";
                respuesta_usuario = "";

              $("#respuestas-bd3 li").each(function()
              {
                  var descripcion =$(this).html();
                  array_res_correctas.push(descripcion);
                  // alert("descripcion  "+ descripcion);
              })
              $("#pregunta-usuario3 input").each(function()
              {
                  var descripcion =$(this).val();
                   // alert("descripcion usuario  "+ descripcion);
                   if (descripcion == ""){
                    cantidad_blanco++;
                   }
                   array_res_usuario.push(descripcion);
              })
              if(cantidad_blanco > 0){
                alert("Debe llenar todos los campos");
                return;
              }
              calificar(buenas,malas,"resultado3")
              //alert("cantidad de respuestas sistema " + array_res_correctas.length);
              //alert("cantidad de respuestas usuario " + array_res_usuario.length);
          });

       function calificar (buenas,malas,name_div,actividad, estudiante){
             for(var i =0; i < array_res_correctas.length; i++) 
              {
                   respuesta_sistema = array_res_correctas[i].toString();
                   respuesta_usuario = array_res_usuario[i].toString();
                  //alert("respuesta_sistema-"  + respuesta_sistema + "-respuesta_usuario-" + respuesta_usuario + "-" );
                  var n = respuesta_sistema.localeCompare(respuesta_usuario);
                  if(n == 0){
                    //alert("buena1");
                    buenas++;
                  }else{
                    //alert("mala1");
                    malas++;
                  }  
              }
              var total = buenas + malas;
              var porcentaje = (buenas*100)/total;
              var nota = (porcentaje / 2)/10;
              var activi = actividad
              var estu = estudiante

              var n = nota.toFixed(1);
              $("#" + name_div).html("<strong>Tu resultado es :</strong> " + buenas +"/" + total + " <strong>Tu nota es:</strong> " + n);
              guardar_actividad(activi,n,buenas,estu)
        }

      // function guardar_actividad(activi, n, buenas, estu){
      //         debugger
      //         var pk = estu;
      //         var actividad = activi;
      //         var nota = n;
      //         var buenas = buenas;
      //           $.ajax({
      //                   url: 'note/'+pk+'/activity',
      //                   data: { "csrfmiddlewaretoken": "{{ csrf_token }}", "nota": nota, "actividad":actividad, "pk": pk , "detalle":buenas},
      //                   type: 'POST',
      //                   success: function() {
      //                                       console.log(pk, actividad, nota)
      //                 }
      //           })
      //           return false;
      // };
});
</script>
{% endblock %}