{% extends 'plantilla2.html' %}
{% block title %} Tema 2 {% endblock %}

{%  block content %}

    <div class="container initial">
    <ol class="breadcrumb">
  <li>Modulo 1</li>
        <li><a href="modulo1-unidad1.html">Unidad 1</a></li>
        <li class="active">Lesson 1</li>
        
        <div class="col-sm-3 col-md-3 pull-right">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="q">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>        
        
</ol>

        {% include 'plantilla3.html' %}
              
  <div class="col-sm-9 col-md-9">
        <h2>FOCUS ON VOCABULARY</h2>
      <h3></h3>
        <hr>
      <p>Copy the clocks in your notebook and write the correct greeting from the Useful vocabulary box.</p>
      <div class="centered"><img src="static/img/modulo1/unity1/lesson 1 - grammar.PNG" class="img-responsive" alt=""/></div>

      <br />
      <div class="col-sm-8 col-md-8">
      <table class="table table-bordered">
    <thead>
      <tr>
        <th>Useful Vocabulary</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td><b>Good Morning</b> <p></p></td>
        <td>We say <b>"Good Morning"</b> <p>from when we wake up until 12 pm.</p></td>
      </tr>
      <tr>
        <td><b>Good Afternoon</b> <p></p></td>
        <td>We say <b>"Good afternoon"</b><p>after 12 pm until about 6 pm.</p></td>
      </tr>
        <tr>
        <td><b>Good Evening</b> <p></p></td>
        <td>We say <b>"Good evening"</b> <p>after 6 pm until we leave or go to bed.</p></td>
      </tr>
      	<tr>
        <td><b>Good Night</b> <p></p></td>
        <td>We say <b>"Good Night"</b> <p>when we leave a place late at night or go to bed.</p></td>
      </tr>
    </tbody>
  </table>
      </div>

<div class="col-md-11">
      .
      </div>

    <div class="col-md-12">
      <h2>Focus on Language</h2>
      <h3></h3>
  <hr>

      <br />


</div><!--div-->
</div>
          </div>
</div>
      </div><!--/row-->
    </div> <!-- /container -->    
    
    
	
		</div><!-- container -->
	</div><!--rwrap-->

{% endblock %}