{% extends 'plantilla2.html' %}
{% block title %} Unity 1 - Lesson 2 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
  <li>Module 1</li>
        <li><a href="{% url 'modulo1-unidad1' %}">Unity 1</a></li>
        <li class="active">Lesson 2</li>
      
</ol>
    
    
      {% include 'plantilla3.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>READ</h2>
      <h3></h3>
        <hr>
      <p>Read the text and the sentences a-e. Are the sentences true (T) or false (F)?</p>

      <div class="col-sm-6 col-md-6">

          <ul><li>a. Angélica is Megan’s penfriend.</li>
          <li>b. Angélica and Lili are 13 years old.</li>
          <li>c. Angélica and Lili are best friends.</li></ul>
      </div>
      <div class="col-sm-6 col-md-6">

          <ul><li>d. Patricio is Angélica’s brother.</li>
          <li>e. They are all at the same school.</li></ul>
      </div>

      <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
          <br/>
      <table class="table table-bordered">
    <tbody>
      <tr>
        <td>
        Dear Megan,<br>
        I’m very pleased to ‘meet’ you. I’m happy you're my penfriend.<br>
        I’m Angélica Pérez and I’m 13 years old. At school I’m in Class 9F.
        Here’s a photo – it is me and my friend. Her name is Liliana – or Lili
        to her friends. She’s 14 years old. We’re in the school dance group.
        Lili is my best friend. She’s very nice.<br>
        The other photo is my brother. His name is Jonás Pérez. He’s with
        his classmate, Patricio. He’s from Chile. They’re in the school
        baseball team. They’re both 15 years old.<br>
        We’re all at the same school. It’s The Columbus School.<br>
        My email address is angelip@me.com and my mobile
        number is 011 57 315 75364.<br>
        Please write soon.<br>
        Best wishes,<br>
        Angélica
        </td>
      </tr>
    </tbody>
  </table>
      </div>

      <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
      <h2>FOCUS ON lANGUAGE</h2>
      <h3></h3>
        <hr>
      <p>Look at the text in exercise 8 again. Find examples of the words below.</p>

     <div class="col-sm-6 col-md-6">
          
      <table class="table table-bordered">
      <thead>
        <tr>
          <th>Full form</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>I am</td>
        </tr>
        <tr>
          <td>You are</td>
        </tr>
        <tr>
          <td>She is</td>
        </tr>
         <tr>
            <td>He is</td>
        </tr>
        <tr>
          <td>It is</td>
        </tr>
        <tr>
          <td>We are</td>
        </tr>
          <tr>
            <td>They are</td>
        </tr>
      </tbody>

      </table>
        </div>
          <div class="col-sm-6 col-md-6">
          
      <table class="table table-bordered">
      <thead>
        <tr>
          <th>Contracted form</th>
        </tr>
      </thead>
      <tbody>
         <tr>
            <td>I’m</td>
        </tr>
        <tr>
          <td>You’re</td>
        </tr>
        <tr>
          <td>She’s</td>
        </tr>
         <tr>
            <td>He’s</td>
        </tr>
        <tr>
          <td>It’s</td>
        </tr>
        <tr>
          <td>We’re</td>
        </tr>
          <tr>
            <td>They’re</td>
        </tr>
      </tbody>
      </table>
        </div>
      </div>   

      <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
      <h2>LISTEN</h2>
      <h3></h3>
        <hr>
      <p>Listen and complete the forms in your notebook.</p>

          <audio controls>
          <source src="../static/audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK14.mp3" type="audio/mpeg">
            Your browser does not support the audio element.(AUDIO 14)
          </audio>
          <br/><br/>

      <div class="col-sm-6 col-md-6">

          <ul><li>a. I am Angélica. I’m a student.</li>
          <li>b. You are Megan. You’re my penfriend.</li>
          <li>c. It is me and my friend. It’s The Columbus School.</li>
          <li>d. He is with his classmate, Patricio. He’s from Chile.</li></ul>
      </div>
      <div class="col-sm-6 col-md-6">

          <ul><li>e. She is 14 years old. She’s my best friend.</li>
          <li>f. We are in the school dance group. We’re at the same school.</li>
          <li>g. They are in the school baseball team. They’re 15 years old.</li></ul>
      </div>

      </div>

      </div>

       </div>
    </div><!--div-->
</div>
{% endblock %}