{% extends 'plantilla2.html' %}
{% block title %} Tema 1 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
  <li>Modulo 1</li>
        <li><a href="{% url 'modulo1-unidad1' %}">Unidad 1</a></li>
        <li class="active">Lesson 7</li>
               
</ol>
    
    
        {% include 'plantilla3.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON VOCABULARY</h2>
      <h3></h3>
        <hr>
      <p>Do the survey. Write your answers in your notebook.</p>

      <div class="col-sm-12 col-md-12">

      <div class="co-sm-5 col-md-5 col-sm-offset-7 col-md-offset-7">
        <audio controls>
            <source src="../static/audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK31.mp3" type="audio/mpeg">
              Your browser does not support the audio element. (AUDIO 31)
          </audio>        
      </div>
            
        <div class="col-sm-9 col-md-9">
          <img src="../static/img/Lesson7Theme1.png" class="img-responsive" alt="No found">
        </div>
       <div class="col-sm-3 col-md-3">
         
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Say it!</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><b>Listen and repeat.</b> <br>
                    Monday Tuesday<br>
                    Wednesday<br>
                    Thursday Friday<br>
                    Saturday Sunday<br>
                    <b>Practise saying the<br>
                    days of the week.</b>
                </td>
              </tr>
            </tbody>
          </table> 
        </div>
      </div>  

      <div class="col-sm-12 col-md-12">
      <p>Complete your school timetable in your notebook. Use the words in the box.</p>
        <img src="../static/img/Lesson7Theme1img2.png" alt="No found">
        <img src="../static/img/Lesson7Theme1img3.png" alt="No found">  
      <p>Look at your timetable and answer the questions.</p>

        <div class="col-sm-6 col-md-6">
          <ul>
            <li>a. When is your Maths lesson? It’s on Monday.</li>
            <li>b. When is your Science lesson? ________</li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-6">
          <ul>
            <li>c. When is your English lesson? ________</li>
            <li>d. When is your Music lesson? ________</li>
          </ul>
        </div>
      </div>

      <div class="col-sm-12 col-md-12"></div>
       <h2>SPEAK</h2>
        <h3></h3>
          <hr>
        <p>Now ask your partner questions about their timetable.</p>

      
      </div>
    </div><!--div-->

</div>

{% endblock %}