{% extends 'plantilla2.html' %}
{% block title %} Tema 1 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
  <li>Modulo 1</li>
        <li><a href="{% url 'modulo1-unidad1' %}">Unidad 1</a></li>
        <li class="active">Lesson 5</li>
              
</ol>
    
    
        {% include 'plantilla3.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>LISTEN</h2>
      <h3></h3>
        <hr>
      <p>Listen to four people talking about their families. Match the families a-d to the pictures 1–4.</p>

      <div class="col-sm-12 col-md-12">
        <audio controls>
            <source src="../static/audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK23.mp3" type="audio/mpeg">
              Your browser does not support the audio element. (AUDIO 23)
        </audio>
      </div>

      <div class="col-sm-12 col-md-12">
        <div class="col-sm-3 col-md-3">
          <ul>
            <li>a. Felipe’s family</li>
          </ul>
        </div>
       <div class="col-sm-3 col-md-3">
          <ul>
            <li>b. Caroline’s family</li>
          </ul>
        </div>
         <div class="col-sm-3 col-md-3">
          <ul>
            <li>c. Jenny’s family</li>
          </ul>
        </div>
         <div class="col-sm-3 col-md-3">
          <ul>
            <li>d. Mateo’s family.</li>
          </ul>
        </div>
      </div>

      <div class="col-sm-12 col-md-12">
        <div class="col-sm-8 col-md-8">
          <img src="../static/img/Lesson5Theme1.png" alt="No found">
        </div>
        <div class="col-sm-4 col-md-4">
          <img src="../static/img/Lesson5Theme1img2.png" alt="No found">
        </div>
      </div>

      <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
        <p>Listen to Michelle, the first speaker, again and complete the chart in your notebook. Felipe’s family</p>

        <audio controls>
            <source src="../static/audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK24.mp3" type="audio/mpeg">
              Your browser does not support the audio element. (AUDIO 24)
        </audio>

        <img src="../static/img/Lesson5Theme1img3.png" alt="No found">

      </div>

      <div class="col-sm-12 col-md-12">
        <p>Complete the sentences about Felipe’s family with a word from the box.</p>

        <img src="../static/img/Lesson5Theme1img4.png" alt="No found">

        <div class="col-sm-6 col-md-6">
          <ul>
            <li>a. Felipe is Michelle’s ______</li>
            <li>b. Michelle is Felipe’s ______</li>
            <li>c. Laura is Felipe’s ______</li>
            <li>d. Laura is Michelle’s ______</li>
          </ul>
        </div>
         <div class="col-sm-6 col-md-6">
          <ul>
            <li>e. Pili is Michelle’s ______</li>
            <li>f. José is Michelle’s ______</li>
            <li>g. Michelle is Pili and José’s ______</li>
            <li>h. Laura is Pili and José’s ______</li>
          </ul>
        </div>

      </div>

      </div>
    </div><!--div-->

        <br>
        <br>

</div>
{% endblock %}