{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Unity 1 - Lesson 4 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
  <li>Module 1</li>
        <li><a href="{% url 'modulo1-unidad2' %}">Unity 2</a></li>
        <li>Lesson 4</li>
        <li class="active">Theme 2</li>
    
</ol>
    
    
        {% include 'plantilla3.html' %}

  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON LANGUAGE</h2>
      <h3></h3>
        <hr>
      <p>Listen and repeat the sentences.</p>

      <audio controls>
          <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK19.mp3' %}" type="audio/mpeg">
            Your browser does not support the audio element. (AUDIO 19)
      </audio>

      <div class="col-sm-12 col-md-12">
        <div class="col-sm-6 col-md-6">
          <ul>
            <li>a. <b>My</b> family is small.</li>
            <li>b. <b>Your</b> mother is from Austria.</li>
            <li>c. <b>Her</b> name is Laura.</li>
            <li>d. <b>His</b> name is Andrés.</li>
          </ul>
        </div>
         <div class="col-sm-6 col-md-6">
          <ul>
            <li>e. The dog loves <b>its</b> ball.</li>
            <li>f. <b>Our</b> names are Lala and Lily.</li>
            <li>g. <b>Their</b> names are Sophie and Chris.</li>
          </ul>
        </div>
      </div>

      <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
        <p>Complete the text with the correct possessive adjective.</p>

        <div id="pregunta-usuario">

        <img class="img-responsive" src="{% static 'img/modulo1/unity1/Lesson4Theme2.png' %}" alt="No found">
        <img class="img-responsive" src="{% static 'img/modulo1/unity1/Lesson4Theme2img2.png' %}" alt="No found">
          
          <div class="col-sm-3 col-md-3">
              
              {% for row in respuesta %}
                {% if row.id == 99  %} 
                  <p>( 1 )</p><input class="form-control" type="text" id="{{ row.id }}" name="{{ row.descripcion }}" value="" onkeyup="this.value=this.value.toLowerCase()"> 
                {% endif %}
              {% endfor %} 
          </div> 
          <div class="col-sm-3 col-md-3">
              <p>( 2 )</p>
              {% for row in respuesta %}
                {% if row.id == 100  %} 
                  <input class="form-control" type="text" id="{{ row.id }}" name="{{ row.descripcion }}" value="" onkeyup="this.value=this.value.toLowerCase()"> 
                {% endif %}
              {% endfor %} 
          </div> 
          <div class="col-sm-3 col-md-3">
              <p>( 3 )</p>
              {% for row in respuesta %}
                {% if row.id == 101  %} 
                  <input class="form-control" type="text" id="{{ row.id }}" name="{{ row.descripcion }}" value="" onkeyup="this.value=this.value.toLowerCase()"> 
                {% endif %}
              {% endfor %} 
          </div> 
          <div class="col-sm-3 col-md-3">
              <p>( 4 )</p>
              {% for row in respuesta %}
                {% if row.id == 102  %} 
                  <input class="form-control" type="text" id="{{ row.id }}" name="{{ row.descripcion }}" value="" onkeyup="this.value=this.value.toLowerCase()"> 
                {% endif %}
              {% endfor %} 
          </div> 
          <div class="col-sm-3 col-md-3">
              <p>( 5 )</p>
              {% for row in respuesta %}
                {% if row.id == 103  %} 
                  <input class="form-control" type="text" id="{{ row.id }}" name="{{ row.descripcion }}" value="" onkeyup="this.value=this.value.toLowerCase()"> 
                {% endif %}
              {% endfor %}  
          </div> 
          <div class="col-sm-3 col-md-3">
              <p>( 6 )</p>
              {% for row in respuesta %}
                {% if row.id == 104 %} 
                  <input class="form-control" type="text" id="{{ row.id }}" name="{{ row.descripcion }}" value="" onkeyup="this.value=this.value.toLowerCase()"> 
                {% endif %}
              {% endfor %} 
          </div> 
          <div class="col-sm-3 col-md-3">
              <p>( 7 )</p>
              {% for row in respuesta %}
                {% if row.id == 105  %} 
                  <input class="form-control" type="text" id="{{ row.id }}" name="{{ row.descripcion }}" value="" onkeyup="this.value=this.value.toLowerCase()"> 
                {% endif %}
              {% endfor %} 
          </div> 
          <div class="col-sm-3 col-md-3">
              <p>( 8 )</p>
              {% for row in respuesta %}
                {% if row.id == 106  %} 
                  <input class="form-control" type="text" id="{{ row.id }}" name="{{ row.descripcion }}" value="" onkeyup="this.value=this.value.toLowerCase()"> 
                {% endif %}
              {% endfor %} 
          </div> 
          <div class="col-sm-3 col-md-3">
              <p>( 9 )</p>
              {% for row in respuesta %}
                {% if row.id == 107  %} 
                  <input class="form-control" type="text" id="{{ row.id }}" name="{{ row.descripcion }}" value="" onkeyup="this.value=this.value.toLowerCase()"> 
                {% endif %}
              {% endfor %} 
          </div> 
          <div class="col-sm-3 col-md-3">
              <p>( 10 )</p>
              {% for row in respuesta %}
                {% if row.id == 108  %} 
                  <input class="form-control" type="text" id="{{ row.id }}" name="{{ row.descripcion }}" value="" onkeyup="this.value=this.value.toLowerCase()"> 
                {% endif %}
              {% endfor %}
          </div> 
              
            
            <br>
        </div>
        <br>
        <div id="respuestas-bd">
            <div id="estudiante_id" hidden="false">{{estudiante.id.id}}</div>
            {% for row in respuesta %}
                <div id="actividad_id" hidden="false">{{ row.pregunta.actividad.id }}</div>
                <div id="{{ row.id }}" hidden="false"><li>{{ row.descripcion }}</li></div>            
            {% endfor %}
        </div>
        <br><br><br><br><br><br><br><br><br>
        <hr>
        <br>

        <div id="resultado"><strong>Resultado:</strong></div>
        <button class="btn btn-primary pull-right" id="boton_actividad1">Calificar</button> 

      </div>

      <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
      <h2>FOCUS ON VOCABULARY</h2>
      <h3></h3>
        <hr>
      <p>Listen and match the numbers to the words in your notebook.</p>

      <audio controls>
          <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK20.mp3' %}" type="audio/mpeg">
            Your browser does not support the audio element. (AUDIO 20)
      </audio>

          <div class="col-sm-12 col-md-12">
             <img class="img-responsive" src="{% static 'img/modulo1/unity1/Lesson4Theme2img3.png' %}" alt="No found">
          </div>
         <div class="col-sm-9 col-md-9">
             <img class="img-responsive" src="{% static 'img/modulo1/unity1/Lesson4Theme2img4.png' %}" alt="No found">
          </div>
          <div class="col-sm-3 col-md-3">
          <br>
             <P>Example 20 = twenty</P>
              <br/>
          </div>

      </div>

      <div class="col-sm-12 col-md-12">
      <h2>LISTEN</h2>
      <h3></h3>
        <hr>
      <p>Listen and write the number you hear in your notebook.</p>

          <div class="col-sm-12 col-md-12">
             <div class="col-sm-7 col-md-7">
                <audio controls>
                  <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK22.mp3' %}" type="audio/mpeg">
                  Your browser does not support the audio element. (AUDIO 22)
                </audio>
             </div>
          </div>
         <div class="col-sm-12 col-md-12">
              <div class="col-sm-2 col-md-2">
                  <ul>
                    <li>a. 15 50</li>
                    <li>b. 12 20</li>
                  </ul>
                </div>
                 <div class="col-sm-2 col-md-2">
                  <ul>
                    <li>c. 17 70</li>
                    <li>d. 13 30</li>
                  </ul>
                </div>
                 <div class="col-sm-2 col-md-2">
                  <ul>
                    <li>e. 19 90</li>
                    <li>f. 16 60</li>
                  </ul>
                </div>
                 <div class="col-sm-2 col-md-2">
                  <ul>
                    <li>g. 14 40</li>
                    <li>h. 18 80</li>
                  </ul>
                </div>
                <div class="col-sm-4 col-md-4">
                    <audio controls>
                      <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK21.mp3' %}" type="audio/mpeg">
                      Your browser does not support the audio element. (AUDIO 21)
                    </audio>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Say it!</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td><b>Listen and repeat</b> <br>
                              <b>the numbers.</b> <br>
                              Stress on numbers: <br>
                              fifteen fifty
                          </td>
                      </tr>
                    </tbody>
                </table>
              </div>
          </div>

      </div>

      <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
        <p>Answer the questions in your notebook.</p>
        <ul>
          <li>a. How old is your grandmother? ______</li>
          <li>b. How many students are in your class? ______</li>
          <li>d. How old is our school? ______</li>
          <li>c. How many letters are in your best friend’s full name? ______</li>
        </ul>
      </div>

       </div>
    </div><!--div-->

        <br>
        <br>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
  $( document ).ready(function() {
    var array_res_usuario = [];
    var array_res_correctas = []; 
    var respuesta_sistema = "";
    var respuesta_usuario = "";
          
        $( "#boton_actividad1" ).click(function() 
        {            
                var cantidad_blanco = 0;
                array_res_usuario = [];
                array_res_correctas = []; 
                var buenas = 0;
                var malas = 0;
                respuesta_sistema = "";
                respuesta_usuario = "";
                var actividad = $("#actividad_id").html();
                var estudiante = $("#estudiante_id").html();

              $("#respuestas-bd li").each(function()
              {
                  var descripcion =$(this).html();
                  array_res_correctas.push(descripcion);
                  // alert("descripcion  "+ descripcion);
              })
              $("#pregunta-usuario input").each(function()
              {
                  var descripcion =$(this).val();
                   // alert("descripcion usuario  "+ descripcion);
                   if (descripcion == ""){
                    cantidad_blanco++;
                   }
                   array_res_usuario.push(descripcion);
              })
              if(cantidad_blanco > 0){
                alert("Debe llenar todos los campos");
                return;
              }

              calificar(buenas,malas,"resultado",actividad,estudiante)
              //alert("cantidad de respuestas sistema " + array_res_correctas.length);
              //alert("cantidad de respuestas usuario " + array_res_usuario.length);
          });

       function calificar (buenas,malas,name_div,actividad, estudiante){
             for(var i =0; i < array_res_correctas.length; i++) 
              {
                   respuesta_sistema = array_res_correctas[i].toString();
                   respuesta_usuario = array_res_usuario[i].toString();
                  //alert("respuesta_sistema-"  + respuesta_sistema + "-respuesta_usuario-" + respuesta_usuario + "-" );
                  var n = respuesta_sistema.localeCompare(respuesta_usuario);
                  if(n == 0){
                    //alert("buena1");
                    buenas++;
                  }else{
                    //alert("mala1");
                    malas++;
                  }  
              }
              var total = buenas + malas;
              var porcentaje = (buenas*100)/total;
              var nota = (porcentaje / 2)/10;
              var activi = actividad
              var estu = estudiante

              var n = nota.toFixed(1);
              $("#" + name_div).html("<strong>Tu resultado es :</strong> " + buenas +"/" + total + " <strong>Tu nota es:</strong> " + n);
              guardar_actividad(activi,n,buenas,estu)
        }

      // function guardar_actividad(activi, n, buenas, estu){
      //         debugger
      //         var pk = estu;
      //         var actividad = activi;
      //         var nota = n;
      //         var buenas = buenas;
      //           $.ajax({
      //                   url: 'note/'+pk+'/activity',
      //                   data: { "csrfmiddlewaretoken": "{{ csrf_token }}", "nota": nota, "actividad":actividad, "pk": pk , "detalle":buenas},
      //                   type: 'POST',
      //                   success: function() {
      //                                       console.log(pk, actividad, nota)
      //                 }
      //           })
      //           return false;
      // };
});
</script>
{% endblock %}