{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 1 - Lesson 5 {% endblock %}

{%  block content %}
    
<div class="container initial">
    <ol class="breadcrumb">
  <li>Module 1</li>
        <li><a href="{% url 'modulo1-unidad2' %}">Unity 2</a></li>
        <li>Lesson 5</li>
        <li class="active">Theme 2</li>
               
</ol>
    
    
        {% include 'plantilla3.html' %}
    
  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON LANGUAGE</h2>
      <h3></h3>
        <hr>
      <p>Look at the Williams family tree and choose the correct name.</p>

      <div class="col-sm-12 col-md-12">
        <div class="col-sm-3 col-md-3">
          <ul>
            <li>1. Lucy’s grandmother is</li>
          </ul>
        </div>
        <div class="col-sm-3 col-md-3">
          <ul>
            <li>A. Rudy</li>
          </ul>
        </div>
        <div class="col-sm-3 col-md-3">
          <ul>
            <li>B. Lilly</li>
          </ul>
        </div>
        <div class="col-sm-3 col-md-3">
          <ul>
            <li>C. Gloria</li>
          </ul>
        </div>
      </div> 
        <div class="col-sm-12 col-md-12">
        <div class="col-sm-3 col-md-3">
          <ul>
            <li>2. Kevin’s uncle is</li>
          </ul>
        </div>
        <div class="col-sm-3 col-md-3">
          <ul>
            <li>A. Steve</li>
          </ul>
        </div>
        <div class="col-sm-3 col-md-3">
          <ul>
            <li>B. Peter</li>
          </ul>
        </div>
        <div class="col-sm-3 col-md-3">
          <ul>
            <li>C. Joe</li>
          </ul>
        </div>
      </div>
       <div class="col-sm-12 col-md-12">
        <div class="col-sm-3 col-md-3">
          <ul>
            <li>3. Lola’s granddaughter is</li>
          </ul>
        </div>
        <div class="col-sm-3 col-md-3">
          <ul>
            <li>A. Lucy</li>
          </ul>
        </div>
        <div class="col-sm-3 col-md-3">
          <ul>
            <li>B. Sarah</li>
          </ul>
        </div>
        <div class="col-sm-3 col-md-3">
          <ul>
            <li>C. Lauren</li>
          </ul>
        </div>
      </div>
       <div class="col-sm-12 col-md-12">
        <div class="col-sm-3 col-md-3">
          <ul>
            <li>4. Gloria’s husband is</li>
          </ul>
        </div>
        <div class="col-sm-3 col-md-3">
          <ul>
            <li>A. Joe</li>
          </ul>
        </div>
        <div class="col-sm-3 col-md-3">
          <ul>
            <li>B. George</li>
          </ul>
        </div>
        <div class="col-sm-3 col-md-3">
          <ul>
            <li>C. Steve</li>
          </ul>
        </div>
      </div>
       <div class="col-sm-12 col-md-12">
        <div class="col-sm-3 col-md-3">
          <ul>
            <li>5. Sarah’s parents are</li>
          </ul>
        </div>
        <div class="col-sm-3 col-md-3">
          <ul>
            <li>A. Lilly and Peter</li>
          </ul>
        </div>
        <div class="col-sm-3 col-md-3">
          <ul>
            <li>B. Steve and Gloria</li>
          </ul>
        </div>
        <div class="col-sm-3 col-md-3">
          <ul>
            <li>C. Donald and Rudy</li>
          </ul>
        </div>
      </div>

        <div class="col-sm-12 col-md-12">
          <div class="col-sm-8 col-md-8">
            <img class="img-responsive" src="{% static 'img/modulo1/unity1/Lesson5Theme2.png' %}" class="img-responsive" alt="No found">
          </div>
          <div class="col-sm-4 col-md-4">
           <table class="table table-bordered">
            <thead>
              <tr>
                <th>Useful language</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>a. How do you say <br>
                    these sentences in<br>
                    Spanish?<br>
                    b. Look at the<br>
                    apostrophe s in all<br>
                    the sentences, e.g.,<br>
                    Lucy’s father.
               </td>
              </tr>
              <tr>
               <td>Important!<br>
                  ✖ George is the father<br>
                  of Lucy.<br>
                  ✔ George is Lucy’s<br>
                  father.
                  </td>
              </tr>
            </tbody>
          </table>  
          </div>
        </div>

      <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">

        <div class="col-sm-7 col-md-7">
        <p>Write sentences to answer the questions.</p>
            <p>Who are Michael’s parents? <input class="form-control" type="text" name="" disabled="true" value="George and Lilly are Michael’s parents."></p>
        </div>
        <div id="pregunta-usuario">
            {% for row in respuesta %}

            <div class="col-sm-7 col-md-7">
                <strong>{{ row.pregunta.descripcion }}</strong>
                <input class="form-control" type="text" id="{{ row.id }}" name="{{ row.descripcion }}" value="" onkeyup="this.value=this.value.toLowerCase()">
            </div>
              <br>
            {% endfor %}
          </div>
        <br>
        <div id="respuestas-bd">
            <div id="estudiante_id" hidden="false">{{estudiante.id.id}}</div>
            {% for row in respuesta %}
                <div id="actividad_id" hidden="false">{{ row.pregunta.actividad.id }}</div>
                <div id="{{ row.id }}" hidden="false"><li>{{ row.descripcion }}</li></div>            
            {% endfor %}
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <hr>
        <br>

        <div id="resultado"><strong>Resultado:</strong></div>
        <button class="btn btn-primary pull-right" id="boton_actividad1">Calificar</button> 

      </div>      

      <div class="col-sm-12 col-md-12"><hr></div>

      <div class="col-sm-12 col-md-12">

        <div class="col-sm-7 col-md-7">
        <p>Write sentences with the names and people.</p>
            <p>‘Lilly is my daughter.’ (Donald) <input class="form-control" type="text" name="" disabled="true" value="Donald is Lilly’s father"></p>
        </div>
        <div id="pregunta-usuario2">
            {% for row in respuesta2 %}

            <div class="col-sm-7 col-md-7">
                <strong>{{ row.pregunta.descripcion }}</strong>
                <input class="form-control" type="text" id="{{ row.id }}" name="{{ row.descripcion }}" value="" onkeyup="this.value=this.value.toLowerCase()">
            </div>
              <br>
            {% endfor %}
          </div>
        <br>
        <div id="respuestas-bd2">
            <div id="estudiante_id" hidden="false">{{estudiante.id.id}}</div>
            {% for row in respuesta2 %}
                <div id="actividad_id" hidden="false">{{ row.pregunta.actividad.id }}</div>
                <div id="{{ row.id }}" hidden="false"><li>{{ row.descripcion }}</li></div>            
            {% endfor %}
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <hr>
        <br>

        <div id="resultado2"><strong>Resultado:</strong></div>
        <button class="btn btn-primary pull-right" id="boton_actividad2">Calificar</button> 

      </div>

       </div>
    </div><!--div-->

        <br>
        <br>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
  $( document ).ready(function() {
    var array_res_usuario = [];
    var array_res_correctas = []; 
    var respuesta_sistema = "";
    var respuesta_usuario = "";
          
        $( "#boton_actividad1" ).click(function() 
        {            
                var cantidad_blanco = 0;
                array_res_usuario = [];
                array_res_correctas = []; 
                var buenas = 0;
                var malas = 0;
                respuesta_sistema = "";
                respuesta_usuario = "";
                var actividad = $("#actividad_id").html();
                var estudiante = $("#estudiante_id").html();

              $("#respuestas-bd li").each(function()
              {
                  var descripcion =$(this).html();
                  array_res_correctas.push(descripcion);
                  // alert("descripcion  "+ descripcion);
              })
              $("#pregunta-usuario input").each(function()
              {
                  var descripcion =$(this).val();
                   // alert("descripcion usuario  "+ descripcion);
                   if (descripcion == ""){
                    cantidad_blanco++;
                   }
                   array_res_usuario.push(descripcion);
              })
              if(cantidad_blanco > 0){
                alert("Debe llenar todos los campos");
                return;
              }

              calificar(buenas,malas,"resultado",actividad,estudiante)
              //alert("cantidad de respuestas sistema " + array_res_correctas.length);
              //alert("cantidad de respuestas usuario " + array_res_usuario.length);
          });

        $( "#boton_actividad2" ).click(function() 
        {            
                var cantidad_blanco = 0;
                array_res_usuario = [];
                array_res_correctas = []; 
                var buenas = 0;
                var malas = 0;
                respuesta_sistema = "";
                respuesta_usuario = "";


              $("#respuestas-bd2 li").each(function()
              {
                  var descripcion =$(this).html();
                  array_res_correctas.push(descripcion);
                  // alert("descripcion  "+ descripcion);
              })
              $("#pregunta-usuario2 input").each(function()
              {
                  var descripcion =$(this).val();
                   // alert("descripcion usuario  "+ descripcion);
                   if (descripcion == ""){
                    cantidad_blanco++;
                   }
                   array_res_usuario.push(descripcion);
              })
              if(cantidad_blanco > 0){
                alert("Debe llenar todos los campos");
                return;
              }
              calificar(buenas,malas,"resultado2")
              //alert("cantidad de respuestas sistema " + array_res_correctas.length);
              //alert("cantidad de respuestas usuario " + array_res_usuario.length);
          });

       function calificar (buenas,malas,name_div,actividad, estudiante){
             for(var i =0; i < array_res_correctas.length; i++) 
              {
                   respuesta_sistema = array_res_correctas[i].toString();
                   respuesta_usuario = array_res_usuario[i].toString();
                  //alert("respuesta_sistema-"  + respuesta_sistema + "-respuesta_usuario-" + respuesta_usuario + "-" );
                  var n = respuesta_sistema.localeCompare(respuesta_usuario);
                  if(n == 0){
                    //alert("buena1");
                    buenas++;
                  }else{
                    //alert("mala1");
                    malas++;
                  }  
              }
              var total = buenas + malas;
              var porcentaje = (buenas*100)/total;
              var nota = (porcentaje / 2)/10;
              var activi = actividad
              var estu = estudiante

              var n = nota.toFixed(1);
              $("#" + name_div).html("<strong>Tu resultado es :</strong> " + buenas +"/" + total + " <strong>Tu nota es:</strong> " + n);
              guardar_actividad(activi,n,buenas,estu)
        }

      // function guardar_actividad(activi, n, buenas, estu){
      //         debugger
      //         var pk = estu;
      //         var actividad = activi;
      //         var nota = n;
      //         var buenas = buenas;
      //           $.ajax({
      //                   url: 'note/'+pk+'/activity',
      //                   data: { "csrfmiddlewaretoken": "{{ csrf_token }}", "nota": nota, "actividad":actividad, "pk": pk , "detalle":buenas},
      //                   type: 'POST',
      //                   success: function() {
      //                                       console.log(pk, actividad, nota)
      //                 }
      //           })
      //           return false;
      // };
});
</script>
{% endblock %}