{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Unity 1 - Lesson 4 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
  <li>Module 1</li>
        <li><a href="{% url 'modulo1-unidad2' %}">Unity 2</a></li>
        <li>Lesson 4</li>
        <li class="active">Theme 1</li> 
               
</ol>
    
    
        {% include 'plantilla3.html' %}

  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON VOCABULARY</h2>
      <h3></h3>
        <hr>
      <p>Write the family members in your notebook.</p>

     
      <div class="col-sm-12 col-md-12">          
        <center>  
         <img class="img-responsive" src="{% static 'img/modulo1/unity1/Lesson4Theme1.png' %}" alt="">
        </center>
      </div>

      <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
        <p>Find more family members and complete the chart in your notebook.</p>

        <center>  
         <img class="img-responsive" src="{% static 'img/modulo1/unity1/Lesson4Theme1img2.png' %}" alt="No found">
        </center>
      </div>

      <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
        <p>Find more family members and complete the chart in your notebook.</p>

         <img class="img-responsive" src="{% static 'img/modulo1/unity1/Lesson4Theme1img3.png' %}" alt="No found">
      </div>

      <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
        <p>Match the sentences a-d to the pictures 1-4.</p>

        <div class="col-sm-6 col-md-6">
          <ul>
            <li>a. She’s <b>my</b> aunt. <b>Her</b> name’s Anna.</li>
            <li>b. We’re from Venezuela. <b>our</b> family is very big.</li>
          </ul>
        </div>
          <div class="col-sm-6 col-md-6">
          <ul>
            <li>They’re Juanita, Luis and Pedro. <b>Their</b> parents are Lucía and Paul.</li>
            <li>I’m an only child. <b>My</b> family is very small.</li>
          </ul>
        </div>

        <div class="col-sm-12 col-md-12">
          <img class="img-responsive" src="{% static 'img/modulo1/unity1/Lesson4Theme1img4.png' %}" alt="No found">
        </div>
      </div>

       </div>
    </div><!--div-->
</div>
{% endblock %}
