{% extends 'plantilla2.html' %}
{% block title %} Tema 4 - Speak {% endblock %}

{%  block content %}

    <div class="container initial">
    <ol class="breadcrumb">
  <li>Modulo 1</li>
        <li><a href="{% url 'modulo1-unidad1' %}">Unidad 1</a></li>
        <li class="active">Lesson 1</li>
        
</ol>

        {% include 'plantilla3.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>SPEAK</h2>
      <h3></h3>
        <hr>
      <p>Look at the pictures. Use the phrases to practise three short conversations to meet
          people, introduce yourself, and say goodbye.</p>

      <br />

      <div class="centered"><img src="../static/img/modulo1/unity1/speak-1.PNG" class="img-responsive" alt=""/></div>

         <br />

    <h2>WRITE</h2>
      <h3></h3>
        <hr>
      <p>In your notebook, write a short dialogue
            using expressions from the lesson.</p>

    </div><!--div-->
</div>
</div>
{% endblock %}