{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 1 - Lesson 7 {% endblock %}

{%  block content %}
    
<div class="container initial">
    <ol class="breadcrumb">
  <li>Module 1</li>
        <li><a href="{% url 'modulo1-unidad3' %}">Unity 3</a></li>
        <li>Lesson 7</li>
        <li class="active">Theme 4</li>
               
</ol>
    
    
        {% include 'plantilla3.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>SPEAK</h2>
      <h3></h3>
        <hr>
      <p>put the words in order to make questions. Then match them to answers 1–4.</p>

      <div class="col-sm-6 col-md-6">
        <ul>
          <li>a. your / friend’s / What / name / is / best ?</li>
          <li>b. Maths / lessons / are / When / your ?</li>
          <li>c. books / your / are / Where ?</li>
          <li>d. Sally / is / Who ?</li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-6">
        <ul>
          <li>1. She’s my classmate.</li>
          <li>2. On Mondays and Wednesdays at 9:00 am.</li>
          <li>3. They are in my bag.</li>
          <li>4. His name is Timmy.</li>
        </ul>
      </div>

      <p>Write four questions to ask your classmates using these question words.</p>
      <ul>
        <li>What</li>
        <li>When</li>
        <li>Where</li>
        <li>Who</li>
      </ul>

      <p>Ask and answer your questions from exercise 17.</p>

      <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
      <h2>READ / WRITE</h2>
      <h3></h3>
        <hr>
      <p>Put the sentences in the correct order. Then write the letter in your notebook.</p>

       <ul>
         <li>a. Jason and I are in class 10B at school. Our favourite lesson is Science, but our favourite teacher is Brenda, our English teacher.</li>
         <li>b. My favourite kind of music is pop. I love Shakira and I dance a lot. At school, I play my favourite sport, basketball, with my friends.</li>
         <li>c.Best wishes,</li>
         <li>d. This is a picture of me and my best friend, Jason. He’s American. He’s now in Colombia with his family. His father is a lawyer for a multinational company. His mother is an engineer in the same company. He’s an only child.</li>
         <li>e. My name is Gloria. I’m 16 years old and I’m from Popayán. It’s a city in the south of Colombia. Like many Colombians, I love music!</li>
         <li>f. What about you? Please write back soon.</li>
         <li>g. Dear John,</li>
         <li>h. Gloria</li>
       </ul>

       <p>Write a similar letter about you and a friend.</p>

      </div>



       </div>
    </div><!--div-->

</div>

{% endblock %}