{% extends 'plantilla2.html' %}
{% block title %} Tema 1 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
  <li>Modulo 1</li>
        <li><a href="{% url 'modulo1-unidad1' %}">Unidad 1</a></li>
        <li class="active">Lesson 5</li>
              
</ol>
    
    
        {% include 'plantilla3.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>READ</h2>
      <h3></h3>
        <hr>
      <p>Read about Sandy’s family and complete her family tree in your notebook.</p>

      <div class="col-sm-12 col-md-12">      

      <div class="col-sm-12 col-md-12">
          <div class="col-sm-8 col-md-8">
            <img src="../static/img/Lesson5Theme3.png" alt="No found">
         </div>
         <div class="col-sm-4 col-md-4">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Glossary</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>twin = gemelo/a
                    single = soltero/a
                    married = casado/a
                    divorced = divorciado/a
                </td>
              </tr>
            </tbody>
          </table>

          <audio controls>
            <source src="../static/audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK25.mp3" type="audio/mpeg">
              Your browser does not support the audio element. (AUDIO 25)
          </audio>

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Say it!</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><b>Listen and repeat.</b>
                    When we add ’s to singular
                    words that end in ‘s’, we add
                    an extra syllable at the end
                    of the word.
                    Carlos’s sister.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
       </div>

      <img src="../static/img/Lesson5Theme3img2.png" alt="No found">

      <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
        <p>Listen and repeat these sentences.</p>

        <audio controls>
          <source src="../static/audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK26.mp3" type="audio/mpeg">
            Your browser does not support the audio element. (AUDIO 26)
        </audio>

        <ul>
          <li>a. Richard’s brother is Ken.</li>
          <li>b. My father’s family is big.</li>
          <li>c. Jenny is Carlos’s sister.</li>
          <li>d. The children’s aunts are in the park.</li>
          <li>e. Chris’s niece is my daughter.</li>
        </ul>
      </div>

      </div>

       </div>
    </div><!--div-->

        <br>
        <br>
</div>

{% endblock %}