{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 1 - Lesson 8 {% endblock %}

{%  block content %}
    
<div class="container initial">
    <ol class="breadcrumb">
  <li>Module 1</li>
        <li><a href="{% url 'modulo1-unidad3' %}">Unity 3</a></li>
        <li>Lesson 8</li>
        <li class="active">Theme 1</li>
               
</ol>
    
    
        {% include 'plantilla3.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>READ</h2>
      <h3></h3>
        <hr>
      <p>What do you know about the people in the pictures? Read the texts a-d and match them to the pictures 1–4.</p>

        <div class="col-sm-6 col-md-6">
          <ul>
            <li>a. He’s tall. His hair is shoulderlength and black. His eyes are small and black. He isn’t old.</li>
            <li>b. She’s short and slim. Her hair is long and black. Her eyes are big and black too. She’s young.</li>
            <li>c. He’s short and well-built. His hair is short and black. His eyes are big and black. He’s middleaged.</li>
            <li>d. She is short. Her hair is long and blonde. Her eyes are brown.</li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-6">
          <img class="img-responsive" src="{% static 'img/modulo1/unity1/Lesson8Theme1.png' %}" alt="No found">
        </div>

      <div class="col-sm-12 col-md-12"></div>

       <h2>FOCUS ON VOCABULARY</h2>
        <h3></h3>
          <hr>
        <p>Find words in the texts in exercise 1 to complete the chart in your notebook.</p>

          <img class="img-responsive" src="{% static 'img/modulo1/unity1/Lesson8Theme1img2.png' %}" alt="No found">

        <p>Correct these sentences in your notebook.</p>

        <div class="col-sm-8 col-md-8">
          <div class="col-sm-6 col-md-6">
            <ul>
              <li>a. Shakira’s eyes are green.</li>
              <li>b. Mariana is old.</li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-6">
            <ul>
              <li>c. Falcao is short.</li>
              <li>d. Pirry is young.</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Glossary</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>height = altura <br>
                  build = constitucíon <br>
                  hair = cabello <br>
                  eyes = ojos
                </td>
              </tr>
            </tbody>
          </table> 
        </div>

      <div class="col-sm-12 col-md-12"></div>

     <h2>SPEAK</h2>
      <h3></h3>
        <hr>
      <p>Choose the correct option to describe your best friend.</p>

      <div class="col-sm-4 col-md-4">
        <ul>
          <li>1. My best friend is</li>
          <li>2. He/She is</li>
          <li>3. He/She is</li>
          <li>4. His/Her hair is</li>
          <li>5. His/Her hair is</li>
          <li>6. His/Her eyes are</li>
          <li>7. His/Her eyes are</li>
        </ul>
      </div>
      <div class="col-sm-2 col-md-2">
        <ul>
          <li>A. a boy</li>
          <li>A. tall</li>
          <li>A. slim</li>
          <li>A. long</li>
          <li>A. blonde</li>
          <li>A. big</li>
          <li>A. brown</li>
        </ul>
      </div>
      <div class="col-sm-2 col-md-2">
        <ul>
          <li>B. a girl</li>
          <li>B. short</li>
          <li>B. well-built</li>
          <li>B. short</li>
          <li>B. brown</li>
          <li>B. small</li>
          <li>B. black</li>
        </ul>
      </div>
      <div class="col-sm-2 col-md-2">
        <ul>
          <li class="nada"></li>
          <li class="nada"></li>
          <li class="nada"></li>
          <li class="nada"></li>
          <li>C. black</li>
          <li class="nada"></li>
          <li>C. green</li>
        </ul>
      </div>
      <div class="col-sm-2 col-md-2">
        <ul>
          <li class="nada"></li>
          <li class="nada"></li>
          <li class="nada"></li>
          <li class="nada"></li>
          <li>D. red</li>
          <li class="nada"></li>
          <li>D. blue</li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-12">
      <p>Use the options in exercise 4 to describe a famous person. Can your partner guess who it is?</p>
      </div>
      <div class="col-sm-12 col-md-12">
      <p>This person is a boy / girl / man / woman …</p>
      </div>
      </div>
 
      </div>
    </div><!--div-->

</div>
{% endblock %}