{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Module 1 - Lesson 5 {% endblock %}

{%  block content %}
    
<div class="container initial">
    <ol class="breadcrumb">
  <li>Module 1</li>
        <li><a href="{% url 'modulo1-unidad2' %}">Unity 2</a></li>
        <li>Lesson 5</li>
        <li class="active">Theme 4</li>
               
</ol>
    
    
        {% include 'plantilla3.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON VOCABULARY</h2>
      <h3></h3>
        <hr>
      <p>Find the words in the text in exercise 7. Then choose the correct option.</p>

      <div class="col-sm-12 col-md-12">
        <img class="img-responsive" src="{% static 'img/modulo1/unity1/Lesson5Theme4.png' %}" alt="No found">
      </div>

      <br>
      <br>
      <br>
      <br>
      
      <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
        <div class="col-sm-6 col-md-6">
          <ul>
            <li>1. A. She is a nice person.</li>
            <li>2. A. My uncle is funny.</li>
            <li>3. A. They are grandparents lovely.</li>
            <li>4. A. He’s a amazing man.</li>
            <li>5. A. My cousin is great.</li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-6">
          <ul>
            <li>B. She is a person nice.</li>
            <li>B. He’s an uncle funny.</li>
            <li>B. They are lovely grandparents.</li>
            <li>B. He’s an amazing man.</li>
            <li>B. Is great my cousin.</li>
          </ul>
        </div>
      </div>

      <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
      <h2>SPEAK</h2>
      <h3></h3>
        <hr>
      <p>Interview a friend. Complete the questionnaire in your notebook.</p>

          <div class="col-sm-12 col-md-12">
           <p>What is / are…</p> 
           <ul>
             <li>a. your parents’ names? ____________________</li>
             <li>b. your mother’s father’s name? ____________________</li>
             <li>c. your mother’s mother’s name? ____________________</li>
             <li>d. your father’s father’s name? ____________________</li>
             <li>e. your father’s mother’s name? ____________________</li>
             <li>f. your father’s brothers’ and sisters’ names? ____________________</li>
             <li>g. your mother’s brothers’ and sisters’ names? ____________________</li>
             <li>h. your brothers’ names? ____________________</li>
             <li>i. your sisters’ names? ____________________</li>
             <li>j. your cousins’ names? ____________________</li>
           </ul>
          </div>
      </div>


      <div class="col-sm-12 col-md-12">
      <h2>WRITE</h2>
      <h3></h3>
        <hr>
      <p>draw a family tree in your notebook. Then write a paragraph about your family. Use the text in exercise 7 as a model and some of the words in exercise 10.</p>

      </div>

       </div>
    </div><!--div-->

        <br>
        <br>
</div>

{% endblock %}