{% extends 'plantilla2.html' %}
{% block title %} Unidad 1 {% endblock %}

{%  block content %}

    <div class="container initial">
    <ol class="breadcrumb">
  <li>Modulo 1</li>
        <li class="active">Unidad 1</li>
              
</ol>

    {% include 'plantilla3.html' %}

  <div class="col-sm-9">
      <div id="bgf">
      <h2>Module Your World: Unit 2 </h2>
              <h3>Overview</h3>
          </div>
      <br />
      <br />
    <div class="col-sm-12">
            <table class="table table-bordered">
    <thead>
      <tr>
        <th>Lesson</th>
        <th> </th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td><b><a href="{% url 'modulo1-unidad1-lesson4-tm2' %}">Lesson 4</a></b> <p></p></td>

          <td><p>Family members Numbers 20–100</p></td>

        <td><p>Possessive adjectives </p></td>

          <td><p><b>Speaking:</b> describing your family</p>
              <p><b>Writing:</b> an email about your family</p></td>

      </tr>
      <tr>
        <td><b><a href="{% url 'modulo1-unidad1-lesson5-tm2' %}">Lesson 5</a></b> <p></p></td>
          <td><p>Adjectives (describing personality)</p></td>

        <td><p>Possessive ’s</p></td>

        <td><p><b>Speaking:</b> interviewing a friend </p>
              <p><b>Writing:</b> a paragraph about your family tree</p></td>
      </tr>

        <tr>
            <td><b><a href="{% url 'modulo1-unidad1-lesson6-tm2' %}">Lesson 6</a></b> <p></p></td>
              <td><p>Jobs</p></td>

            <td><p>to be: question forms and short answers </p></td>

            <td><p><b>Speaking:</b> asking and answering questions </p>
              <p><b>Writing:</b> a text about a famous person</p></td>

          </tr>
    </tbody>
  </table>
        </div>
      
</div>

</div>
          </div>
</div>   

{% endblock %}