{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Unity 1 - Lesson 1 {% endblock %}

{%  block content %}

    <div class="container initial">
    <ol class="breadcrumb">
  <li>Module 1</li>
        <li><a href="{% url 'modulo1-unidad1' %}">Unity 1</a></li>
        <li>Lesson 1</li>
        <li class="active">Theme 1</li> 
</ol>

        {% include 'plantilla3.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>READ</h2>
      <h3></h3>
        <hr>
      <p>Listen and read the dialogues A-D. Match them to pictures 1-4</p>
      <audio controls="controls" src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK01.mp3' %}" type="audio/mpeg">
            Your browser does not support the audio element.
      </audio>
      <div class="centered"><img src="{% static 'img/modulo1/unity1/read-1.PNG' %}" class="img-responsive" alt=""/></div>

      <br />
      <div class="col-sm-6 col-md-6">
      <table class="table table-bordered">
    <thead>
      <tr>
        <th>Glosary</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td><b>How’s it going?</b> <p></p></td>
        <td><p>(informal) ¿Cómo te va?</p></td>
      </tr>
      <tr>
        <td><b>Not too good</b> <p></p></td>
        <td><p>No muy bien</p></td>
      </tr>
        <tr>
        <td><b>Sorry to hear that</b> <p></p></td>
        <td><p>¡Que lástima!</p></td>
      </tr>
      	<tr>
        <td><b>Get well soon.</b> <p></p></td>
        <td><p> ¡Que te mejores!</p></td>
      </tr>
    </tbody>
  </table>
 </div>

          <div class="col-sm-6 col-md-6">
      <table class="table table-bordered">
    <thead>
      <tr>
        <th>Say It!</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td><b>Listen and repeat the words</b>
              <audio controls>
              <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK02.mp3' %}" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
              <p>Hi! Hello! How are you?</p></td>
      </tr>
      <tr>
        <td><p>Be careful when you pronounce words</p>
            <p>beginning with the letter ‘h’ in English. </p></td>
      </tr>
    </tbody>
  </table>
      </div>

    <div class="col-md-12">
      <h2>LISTEN</h2>
      <h3></h3>
        <hr>
        <p>Listen and repeat these sentences.</p>
        <audio controls>
          <source src="{% static 'audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK03.mp3' %}" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        <ul>
            <li>a. Hi! How are you?</li>
            <li>b. Hello! My name is Helen.</li>
            <li>c. How are you, Helen?</li>
            <li>d. Sorry to hear that.</li>
        </ul>

      <br />

    </div><!--div-->
</div>
          </div>
</div>

{% endblock %}