{% extends 'plantilla2.html' %}
{% block title %} Unity 1 - Lesson 4 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
  <li>Module 1</li>
        <li><a href="{% url 'modulo1-unidad1' %}">Unity 1</a></li>
        <li class="active">Lesson 4</li>
      
</ol>
    
    
        {% include 'plantilla3.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>READ</h2>
      <h3></h3>
        <hr>
      <p>Read the email and complete the chart in your notebook.</p>

      <div class="col-sm-12 col-md-12">
        <img src="../static/img/Lesson4Theme4.png" alt="No found">
      </div>

      <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
        <img src="..//static/img/Lesson4Theme4img2.png" alt="No found">
      </div>

      <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
      <h2>WRITE</h2>
      <h3></h3>
        <hr>
      <p>In your notebook, write an email to Laura about your family.</p>

          <div class="col-sm-12 col-md-12">
             <div class="col-sm-8 col-md-8">
                <img src="../static/img/Lesson4Theme4img3.png" alt="No found">
             </div>
             <div class="col-sm-4 col-md-4">
                   <table class="table table-bordered">
            <thead>
              <tr>
                <th>Glossary</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td>great = genial <br>
                      What about your family?<br>
                      ¿Explícame sobre tu familia?<br>
                      Write back soon!<br>
                      ¡Escríbeme pronto!<br>
                  </td>
              </tr>
            </tbody>
          </table>
             </div>
          </div>
      </div>


      <div class="col-sm-12 col-md-12">
      <h2>SPEAK</h2>
      <h3></h3>
        <hr>
      <p>Ask and answer questions about the family in the picture. Look at the Useful language box.</p>

          <div class="col-sm-12 col-md-12">
             <div class="col-sm-8 col-md-8">
                <img src="../static/img/Lesson4Theme4img3.png" alt="No found">
             </div>
             <div class="col-sm-4 col-md-4">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Useful language</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td>Who is she/he?<br>
                      Where is he/she from?<br>
                      How old is he/she?<br>
                      What is his/her favourite colour?<br>
                  </td>
              </tr>
            </tbody>
          </table>
             </div>
          </div>      
        <div class="col-sm-12 col-md-12">
          <div class="col-sm-8 col-md-8">
            <p>prepare a presentation of your family. Bring pictures and describe the people in them.</p>
          </div> 
          <div class="col-sm-4 col-md-4">
            <img src="../static/img/Lesson4Theme4img4.png" alt="No found">
          </div>         
        </div>

      </div>

       </div>
    </div><!--div-->

        <br>
        <br>
</div>
{% endblock %}