{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Unity 1 - Lesson 2 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
  <li>Module 1</li>
        <li><a href="{% url 'modulo1-unidad1' %}">Unity 1</a></li>
        <li>Lesson 2</li>
        <li class="active">Theme 4</li>  
              
</ol>   
           {% include 'plantilla3.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>WRITE</h2>
      <h3></h3>
        <hr>
      <p>Use am, is or are in the full form to complete the text.</p>

      <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-6 col-md-6">
        
      <table class="table table-bordered">
    <tbody>
      <tr>
        <td>
        I (1) Manuel and I (2) 15 years
        old. Today my friends and I (3) at
        school. We (4) all in 10 T.
        It (5) Monday, so it (6)
        baseball practice after school. My best
        friend (7) Tobías. He (8) very
        nice. My other friends (9) Paula,
        Beatriz, and Elena. They (10) funny.
        </td>
      </tr>
    </tbody>
    </table>
      </div>

      <div class="col-sm-12 col-md-12"></div>

      (SALTO)
      <p>In your notebook, write a similar paragraph about you, your friends and your school.</p>

     <div class="col-sm-6 col-md-6">
          
      <table class="table table-bordered">
      <thead>
        <tr>
          <th>Full form</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>I am</td>
        </tr>
      </tbody>

      </table>
        </div>
      
     <div class="col-sm-6 col-md-6">
          
      <table class="table table-bordered">
      <thead>
        <tr>
          <th>Writing Tip</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td><li>Make notes before you write.</li>
            <li>Put your ideas in a logical order.</li>
            <li>Check your writing carefully for spelling, punctuation and grammar mistakes.</li></td>
        </tr>
      </tbody>

      </table>
        </div>

      <div class="col-sm-12 col-md-12"></div>
    <br>
      <h2>SPEAK</h2>
      <h3></h3>
        <hr>
      <p>Ask and answer questions to complete the chart.</p>

     <div class="col-sm-6 col-md-6">
          
      <table class="table table-bordered">
      <thead>
        <tr>
          <th>Full form</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>NUBES</td>
        </tr>
      </tbody>

      </table>
        </div>
          <div class="col-sm-6 col-md-6">
          
      <table class="table table-bordered">
      <thead>
        <tr>
          <th>Useful expressions</th>
        </tr>
      </thead>
      <tbody>
         <tr>
            <td>‘Double s’ or ‘Double 3’.<br>
            Say the word double when you
            have a word, email address or
            phone number with the same
            letter or number repeated.
            Lilli. L-I-double L- I
            0171 43double 9 2double52</td>
        </tr>
      </tbody>
      </table>
        </div>
 

      <div class="col-sm-12 col-md-12"></div>
      <div class="col-sm-6 col-md-6">
          
      <table class="table table-bordered">
      <thead>
        <tr>
          <th>ULTIMA TABLA</th>
        </tr>
      </thead>
      <tbody>
         <tr>
            <td></td>
        </tr>
      </tbody>
      </table>
        </div>


       </div>
    </div><!--div-->
</div>
{% endblock %}