{% extends 'plantilla2.html' %}
{% load staticfiles %}
{% block title %} Unidad 1 {% endblock %}

{%  block content %}

    <div class="container initial">
    <ol class="breadcrumb">
  <li>Modulo 1</li>
        <li class="active">Unidad 1</li>
              
</ol>

    {% include 'plantilla3.html' %}

  <div class="col-sm-9">
      <div id="bgf">
      <h2>Module Your World: Unit 1 </h2>
              <h3>This is Me</h3>
          </div>
      <br />
      <br />
    <div class="col-sm-12">
            <table class="table table-bordered">
    <thead>
      <tr>
        <th>Lesson</th>
        <th> </th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td><b><a href="{% url 'modulo1-unidad1-lesson1-tm2' %}">Lesson 1</a></b> <p></p></td>

          <td><p>Greetings</p></td>

        <td><p>Questions / Answers for greetings </p></td>

          <td><p><b>Speaking:</b> practising meeting people</p>
              <p><b>Writing:</b> a short dialogue</p></td>

      </tr>
      <tr>
        <td><b><a href="{% url 'modulo1-unidad1-lesson2-tm2' %}">Lesson 2</a></b> <p></p></td>
          <td><p>Alphabet</p>
              <p>Numbers 1–20</p>
              <p>Personal information</p></td>

        <td><p>to be: affirmative (full and contracted forms) </p></td>

        <td><p><b>Speaking:</b> exchanging personal information</p>
              <p><b>Writing:</b> a paragraph about you, your friends and your school</p></td>
      </tr>

        <tr>
            <td><b><a href="{% url 'modulo1-unidad1-lesson3-tm2' %}">Lesson 3</a></b> <p></p></td>
              <td><p>Countries and nationalities</p>
                  <p>Colours</p></td>

            <td><p>to be: negative (full and contracted forms) </p></td>

            <td><p><b>Speaking / Writing:</b> giving factual information about other people</p></td>

          </tr>
    </tbody>
  </table>
        </div>
      
</div>
              
   
</div>
          </div>
</div>   

{% endblock %}