{% extends 'plantilla2.html' %}
{% block title %} Tema 1 {% endblock %}

{%  block content %}
    
   <div class="container initial">
    <ol class="breadcrumb">
  <li>Modulo 1</li>
        <li><a href="{% url 'modulo1-unidad1' %}">Unidad 1</a></li>
        <li class="active">Lesson 6</li>
              
</ol>
    
    
        {% include 'plantilla3.html' %}
              
  <div class="col-sm-9 col-md-9">
      <h2>FOCUS ON LANGUAGE</h2>
      <h3></h3>
        <hr>
      <p>In your notebook, write the words in the correct order. Then choose the answer A or B.</p>

      <div class="col-sm-12 col-md-12">      

      <div class="col-sm-12 col-md-12">
          <div class="col-sm-6 col-md-6">
            <ul>
              <li>1. mother / a / Is / teacher / your ?</li>
              <li>2. you / student / Are / a ?</li>
              <li>3. old / 40 / your / years / Is / father ?</li>
              <li>4. a / pet / cat / your / Is ?</li>
              <li>5. happy / your / friends / Are ?</li>
            </ul>
          </div>
          <div class="col-sm-3 col-md-3">
            <ul>
              <li>A. Yes, she is.</li>
              <li>A. Yes, I am.</li>
              <li>A. Yes, he is.</li>
              <li>A. Yes, it is.</li>
              <li>A. Yes, they are.</li>
            </ul>
          </div>
          <div class="col-sm-3 col-md-3">
            <ul>
              <li>B. No, she isn’t.</li>
              <li>B. No, I’m not.</li>
              <li>B. No, he isn’t.</li>
              <li>B. No, it isn’t.</li>
              <li>B. No, they aren’t.</li>
            </ul>
          </div>
        </div>  
      <div class="col-sm-12 col-md-12"></div>

      <div class="col-sm-12 col-md-12">
        <p>Look at Tina’s profile and complete the questions and answers in your notebook.</p>

        <div class="col-sm-8 col-md-8">
          <img src="../static/img/Lesson6Theme3.png" class="img-responsive" alt="No found">
        </div> 
        <div class="col-sm-4 col-md-4">
          <ul>
            <li>a. Is ______ a teacher? No, she’s not. She is a student.</li>
            <li>b. ______ in class 8B? Yes, she is.</li>
            <li>c. Is her teacher ______ ? Yes, she is.</li>
            <li>d. Is her favourite sport basketball? _________</li>
            <li>e. Is her favourite colour blue? _________</li>
            <li>f. Are you in Tina’s class? _________</li>
          </ul>
        </div>
      </div>

      <div class="col-sm-12 col-md-12">
        <p>Listen and repeat the questions.</p>

        <div class="col-sm-6 col-md-6">

        <audio controls>
          <source src="../static/audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK29.mp3" type="audio/mpeg">
            Your browser does not support the audio element. (AUDIO 29)
        </audio>

          <ul>
            <li>a. Is your mother a teacher?</li>
            <li>b. Are you a student?</li>
            <li>c. Is your father 40 years old?</li>
            <li>d. Is your pet a cat?</li>
            <li>e. Are your friends happy?</li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-6">

        <audio controls>
          <source src="../static/audios/module1/ENGLISH%20PLEASE%20LEVEL%201%20TRACK28.mp3" type="audio/mpeg">
            Your browser does not support the audio element. (AUDIO 28)
        </audio>

          <table class="table table-bordered">
          <thead>
            <tr>
              <th>Say it!</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Listen and repeat. <br>
                  When you ask a question <br>
                  beginning with Is / Are the <br>
                  intonation goes up at the <br>
                  end of the question. <br>
                  <img src="../static/img/Lesson6Theme3img2.png" alt="No found"> <br>
                  Are you Colombian?
              </td>
            </tr>
          </tbody>
        </table>  
        </div>
      </div>

      <div class="col-sm-12 col-md-12">
        <p>Listen and tick (✔) if you hear a question.</p>

          <div class="col-sm-6 col-md-6">
            <ul>
              <li>a. _____</li>
              <li>b. _____</li>
              <li>c. _____</li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-6">
            <ul>
              <li>d. _____</li>
              <li>e. _____</li>
            </ul>
          </div>
      </div>

      </div>  
       </div>
    </div><!--div-->

</div>
{% endblock %}